<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <i class="icon-hylo-script" ng-click="close()"></i>
  </div>
  <div class="navbar-center" href="#">{{editing ? 'Edit' : 'New'}} Post</div>
  <a class="navbar-right close" ng-click="close()">&times;</a>
</nav>

<div class="main-content">
  <div class="all-sections">
    <div class="title">Choose a post type</div>
    <div class="select-type">
      <div class="option chat" ng-class="{active: postType==='chat'}">
        <label>
          <input type="radio" ng-checked="postType==='chat'" ng-click="switchPostType('chat')">
            Chat
        </label>
      </div>
      <div class="option offer" ng-class="{active: postType==='offer'}">
        <label>
          <input type="radio" ng-checked="postType==='offer'" ng-click="switchPostType('offer')">
            Offer
        </label>
      </div>
      <div class="option request" ng-class="{active: postType==='request'}">
        <label>
          <input type="radio" ng-checked="postType==='request'" ng-click="switchPostType('request')">
            Request
        </label>
      </div>
      <div class="option intention" ng-class="{active: postType==='intention'}">
        <label>
          <input type="radio" ng-checked="postType==='intention'" ng-click="switchPostType('intention')">
            Intention
        </label>
      </div>
    </div>

    <p class="help">
      <span ng-if="postType==='chat'">Anything you'd like to talk about.</span>
      <span ng-if="postType==='offer'">Anything you'd like to share. (e.g. a skill, some goods, information, an opportunity, etc.) If you would like to be compensated, say so in the description.</span>
      <span ng-if="postType==='request'">Something you're looking for. (e.g. advice, something to borrow, an introduction, etc.)</span>
      <span ng-if="postType==='intention'">Something you’d like to create, with the support of your community. A vision.</span>
    </p>

    <div class="edit-content">
      <div class="counter">{{title.length}} / {{maxTitleLength}}</div>
      <div class="title">Title</div>
      <input type="text" class="form-control" ng-model="title" maxlength="{{maxTitleLength}}"/>

      <div class="title">Description</div>
      <div ng-model="description" autocomplete="off" contenteditable="true"
        class="mentio-editor form-control elastic"
        placeholder="Add more detail here."
        mentio=""
        mentio-trigger-char="'@'"
        mentio-items="people"
        mentio-template-url="/ui/shared/people-mentions.tpl.html"
        mentio-search="searchPeople(term)"
        mentio-select="getPeopleTextRaw(item)"
        mentio-typed-term="typedTerm">
      </div>

      <div ng-if="shouldPickCommunity" class="community-picker">
        <div class="title">Community</div>

        <div class="btn-group" dropdown>
          <a class="button" dropdown-toggle>
            {{community.name}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="option in communityOptions" ng-click="pickCommunity(option.id)">
              {{option.name}}
            </li>
          </ul>
        </div>

      </div>

      <p class="help">This post will be visible only to other members of your community. You can edit or remove it at any time.</p>
      <p class="help"><strong>Tip:</strong> use the <strong>@</strong> symbol to mention a community member. They will be notified about your post. And use the <strong>#</strong> symbol followed by a phrase to add a "hashtag". Hashtags help categorize your post and group it with related content, so that it can reach people who are interested.</p>
    </div>

    <div class="bottom-bar">
      <div class="add-meta image">
        <a class="add-image" ng-click="addImage()">
          <i class="icon-add-photo"></i>
          <span ng-hide="addingImage">{{imageUrl ? 'Change' : 'Attach'}} Image</span>
          <span ng-show="addingImage">Please wait...</span>
        </a>

        <div ng-if="imageUrl" class="image-preview">
          <a class="thumbnail" ng-href="{{imageUrl}}" target="_blank"><img ng-src="{{imageUrl}}"/></a>
          <a class="remove" ng-click="removeImage()">&times;</a>
        </div>
      </div>

      <div class="add-meta done">
        <button type="button" class="save" ng-click="save()" ng-disabled="saving">
          <i class="icon-little-check"></i>
          <span ng-if="saving">Saving...</span>
          <span ng-hide="saving">{{editing ? 'Save Changes' : 'Create Post'}}</span>
        </button>
      </div>
    </div>

  </div>
</div>
