<div class="toolbar posts-toolbar">
  <div>
    <div class="toolbar-right">
      <div class="btn-group" dropdown>
        <a class="button" dropdown-toggle>
          {{selected.sort.label}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="option in selectOptions.sort" ng-click="select('sort', option.value)">
            {{option.label}}
          </li>
        </ul>
      </div>

      <div class="btn-group" dropdown>
        <a class="button" dropdown-toggle>
          {{selected.filter.label}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="option in selectOptions.filter" ng-click="select('filter', option.value)">
            {{option.label}}
          </li>
        </ul>
      </div>

      <a class="search" ui-sref="search({c: community.id})">
        <i class="icon-search"></i>
      </a>

      <a class="reload" ng-click="reload()">
        <i class="glyphicon glyphicon-refresh"></i>
      </a>
    </div>
  </div>
</div>
