<div class="welcome-post">
  <div class="top">
    <div class="avatar" back-img="post.relatedUsers[0].avatar_url"></div>
    <div class="content">
      <div class="controls">
        <a class="comment" ng-click="showComments = !showComments" tooltip-popup-delay="500">
          <i ng-class="showComments ? 'icon-comment-selected' : 'icon-comment'"></i>
          <span class="num">{{post.numComments}}</span>
        </a><!--
        --><a ng-if="isFollowing()" class="follow" ng-click="unfollow()" tooltip="Stop receiving notifications">
          <i class="icon-leave"></i>
        </a>
      </div>

      <div class="text">
        <span ng-show="isSelf">You</span>
        <strong ng-hide="isSelf">
          <a class="name" ui-sref="profile.about({id: user.id})">{{user.name}}</a>
        </strong>
        joined
        <span class="community-name">{{post.community.name}}</span>
        {{post.created_at | fromNow}}.
        <span ng-hide="isSelf"><a ng-click="showComments = !showComments">Say hello!</a></span>
      </div>
    </div>
  </div>
  <embedded-comments ng-if="showComments" class="for-welcome" post="post"></embedded-comments>
</div>
