.community-newPost, .editPost, .newPost {
  .full-screen-modal;
	.has-rounded-dropdowns;
}

.edit-post {
	.title {
		.strong-title-text;
		margin-bottom: @std-padding/2;
	}

  @radio-left-margin: 32px;

	.select-type {
    border-top: 1px solid @border-lightest;
    padding-top: @std-padding;
    margin-bottom: @std-padding;

		.option {
      margin-bottom: 10px;
			.make-radio-color(@color) {
				input[type=radio]:checked {
					background-color: @color;
					border-color: @color;
				}
			}

			&.intention {
				.make-radio-color(@intention-color);
			}
			&.offer {
				.make-radio-color(@offer-color);
			}
			&.request {
				.make-radio-color(@request-color);
			}
      &.chat {
        .make-radio-color(@light-gray);
      }
      &.event {
        .make-radio-color(@light-gray);
      }

      input[type=radio] {
		    .round-radio;
        float: left;
        margin-right: 10px;
			}

			label {
        font-weight: normal;
        display: block;
				color: @inactive-text;
        > div {
          padding-top: 2px;
          margin-left: @radio-left-margin;
        }
        h4 {
  				.small-header;
          margin-top: 0;
          margin-bottom: 0;
  			}
      }

			&.active {
				label {
					color: @default-text;
				}
			}

		}
	}

  .event {
    .form {
      .make-row;
      margin-top: 10px;
      padding-left: @radio-left-margin;
      > div {
        .make-sm-column(6);
        @media (max-width: @screen-xs-max) {
          &:last-child {
            margin-top: 10px;
          }
        }
      }
      label {
        font-weight: bold;
      }
    }
    .input-group-btn {
      button {
        width: 34px;
        height: 34px;
        padding: 0;
        svg {
          height: 47%;
          vertical-align: middle;
        }
      }
    }
    [datepicker] > table {
      outline: 0 !important;
    }
    .date-picker-menu {
      &:hover {
        background-color: transparent;
      }
      div > table .btn-default {
        border: 0;
      }
    }
  }

	p.help {
		margin-top: 10px;
		margin-bottom: 0;
	}

	.edit-content {
		padding: @std-padding 0;

		input, textarea {
			margin-bottom: @std-padding;
			.proxima-nova-regular;
			font-size: 18px;
			width: 100%;
			border: 1px solid @default-border;
		}

    .counter {
      float: right;
      .meta-text;
      vertical-align: baseline;
      line-height: 25px;
    }

    .mentio-editor {
      height: 10em;

      @media (max-width: @screen-xs-max) {
        height: 50vh;
      }
    }

    .Medium-placeholder {
      border-radius: 4px;
    }
	}

	.bottom-bar {
		.make-row;

    .button {
      .rounded-button;
    }

		.add-meta {
			.make-sm-column(9);
			.body-text;
			padding-top: @std-padding;
			padding-bottom: @std-padding;

			a {
				line-height: @default-button-height;
				color: @default-text;

				@media (max-width: @screen-xs-max) {
  				color: @default-text;
          margin-bottom: 5px;
  			}
				&:hover {
					cursor: pointer;
				}

				i {
					padding-right: @std-padding/2;
				}
			}

      .previews {
        margin-top: @std-padding;
      }

			.image-preview {
        @media (min-width: @screen-sm) {
					vertical-align: top;
          float: left;
          margin-right: @std-padding;
				}
        @media (max-width: @screen-xs-max) {
          margin: @std-padding @std-padding 0;
          img {
            width: 100%;
          }
        }
			}

      .doc-previews {
        overflow: hidden;
        @media (max-width: @screen-xs-max) {
          div {
            margin: @std-padding @std-padding 0;
            display: block;
          }
        }
      }

			&.done {
        .make-sm-column(3);
        text-align: right;

				button {
					.rounded-button-dark;
				}
			}

      &, &.done {
        @media (max-width: @screen-xs-max) {
          text-align: center;
        }
      }
		}
	}

  .visibility {
    border-top: 1px solid @border-lightest;
    padding-top: @std-padding;

  	.dropdown-menu li {
  		white-space: nowrap;
  	}

    tags-input {
      margin-bottom: 15px;
      .avatar {
        border-radius: 0 !important;
      }
    }

    .publicity {
      .body-text;
    }
  }

}
