<div class="nav-title">Welcome to Hylo!</div>

<h2>Join a community</h2>

<ng-include src="'/ui/shared/join-community.tpl.html'"></ng-include>

<div ng-show="projects.length > 0">
  <h2>Projects</h2>
  <ng-include src="'/ui/home/projects.tpl.html'"></ng-include>
</div>

<h2>Request to create a community</h2>

<div class="success" ng-if="success">{{success}}</div>

<form name="form">
  <textarea name="details" class="form-control" ng-model="details" placeholder="Tell us about what you want to use Hylo for." required></textarea>
  <a class="button" ng-click="submit(form)">Submit</a>
</form>

