// account settings

.billing{
  font-size: 16px;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 15px 0;
  .col1, .col2, .col3{
    width: 33%;
    padding: 0 20px;
    float: left;
    small{
      font-size: 80%;
      margin: 0 15px;
      text-align: right;
      a:link{
        text-decoration: none;
        color:#808080;
      }
    }
  }
}

.card{
  font-size: 20px !important;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  color:#333332 !important;
  line-height: 45px;
}

label small{
  font-size: 12px !important;
  color:#808080 !important;
}
