@core-color: #6DC8BF;
@intention-color: #6DC8BF;
@accent1-color: #AFFF15;
@offer-color: #AFFF15;
@accent2-color: #A43662;
@request-color: #A43662;
@light-gray-color: #B3B3B3;

.offcanvas {
  position: relative;
}

.offcanvas .container {
  padding-top: 35px;
  position: relative;

  &.ng-enter, &.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;

    width: 100%;
    position: absolute;
    left: 0;
  }

  &.ng-enter {
    left: 100%;
    &.ng-enter-active {
      left: 0;
    }
  }

  &.ng-leave.ng-leave-active {
    left: -100%;
  }
}

body.waiting-for-angular div#content-outer {
  display: none;
}
body.waiting-for-angular div#initializing-panel {
  display: block;
  background: url(../images/loading.gif) center center no-repeat;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
}

#bg {
  background-image: url(/assets/images/placeholder-bg.jpg);
  background-size: cover;
  background-position-y: 50%;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.menu {
  @icon-margin: 21px;
  @icon-width: 14px;
  @collapsed-width: @icon-margin * 2 + @icon-width;

  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 100%;
  padding-top: 15px;
  overflow: visible;

  &, ul {
    width: @collapsed-width;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &:active {
    background-color: white;
  }

  .logo {
    height: 48px;
    width: 48px;
    margin: 0 16px 0 20px;
    background-color: @accent1-color;
  }

  .community-name {
    height: 48px;
    line-height: 48px;
    margin: 0;
    margin-right: @icon-margin;
    vertical-align: middle;
    font-size: 16px;
    display: none;
  }

  .hylo-logo {
    position: absolute;
    bottom: 15px;
    left: 20px;
  }

  ul {
    font-size: 14px;
    margin-top: 20px;
    color: black;
    width: @collapsed-width;
  }

  li {
    text-transform: uppercase;
    margin: 3px 0;

    i {
      margin-right: 12px;
      width: @icon-width;
    }
    &:hover {
      background-color: @core-color;
    }
    a {
      display: block;
      padding: 5px @icon-margin;
      color: black;
      text-decoration: none;
      &.current {
        padding-left: @icon-margin - 4px;
        border-left: 4px solid black;
      }
    }
    &.no-link {
      padding: 7px @icon-margin;
    }
    .only-expanded {
      display: none;
    }
  }

  &.expanded {
    background-color: white;
    .community-name {
      display: inline;
    }
    &, ul {
      width: auto;
    }
    li {
      .only-expanded {
        display: inline;
      }
      a:hover {
        color: @core-color;
        background-color: white;
        &.current {
          border-color: @core-color;
        }
      }

      &.no-link {
        background-color: #f2f2f2;
      }

    }

  }
}

.add-post {
  margin-bottom: 20px;
}

.post {
  @avatar-size: 42px;
  .avatar {
    width: @avatar-size;
    height: @avatar-size;
    border-radius: @avatar-size / 2;
    float: left;
  }
  .bubble {
    margin-left: @avatar-size + 20px;
    border-radius: 5px;
    background-color: white;
    padding: 15px 20px;

    h2 {
      margin-top: 0;
      font-size: 18px;
    }

    .controls {
      &, a { color: @light-gray-color; }
      a {
        cursor: pointer;
        text-decoration: none;
      }
      .timestamp { margin-right: 12px; }
      .vote, .comment {
        display: inline-block;
        padding: 0 4px;
      }
    }

    &.intention {
      .type { color: @intention-color; }
    }

    &.request {
      .type { color: @request-color; }
    }

    &.offer {
      .type { color: @offer-color; }
    }

  }
  margin-bottom: 20px;
}

