// community view

.community{
  .small{
    width: 300px !important;
  }

  .filters{
    width: 100%;
    .btn-group{
      float: left;
      margin: 0px 15px;
    }
  }

  .filter-query{
    margin-left:0;
    margin: 0 15px;
    float: none;
    input{
      height: 30px;
      text-transform: capitalize;
      font-family: "proxima-nova", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
    }
  }

  .filter-query .input-group-addon{
    background:#fff;
    border:none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  .second{
    padding-top: 60px;
  }


  .btn{
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 30px;
    color: #999999 !important;
    font-size: 12px;
    line-height: 30px;
    padding: 0px 12px;
    border:none;
    border-radius:5px;
  }
  .btn:hover{
    background: #F2F2F2;
  }

  .btn-group > .btn-group:last-child > .btn:first-child {
    border-radius: 5px;
  }
  .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn{
    border-radius: 5px;
  }
}

.add-post{
  height: 30px;
  width: 230px;
  float: left;
}
