// community view

.community{
  .small{
    width: 45% !important;
    float: left;
  }

  .add-post{
    height: 30px;
    position: relative;
    z-index: 10000;
    top:-55px;
  }

  .filter-buttons{
    margin-bottom: 60px;
    margin-left: 220px;
    .dropdown{
      float: left;
      margin-right: 15px;
    }
    .btn{
      line-height: auto;
      height: auto;
      padding: 4px 12px;
      background: #fff;
    }
    .btn:hover{
      background: #F2F2F2;
    }
  }
}
