// community view

.community{
  .small{
    width: 300px !important;
  }

  .filters{
    width: 90%;
    .btn-group{
      float: left;
      margin: 5px 15px;
    }
  }

  .filter-query{
    margin-left:0;
    float: left;
    margin: 5px 15px;
    input{
      height: 34px;
      text-transform: capitalize;
      font-family: "proxima-nova", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .filter-query .input-group-addon{
    background:#fff;
    border:none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  .second{
    padding-top: 60px;
  }


  .filter-buttons{
    margin-bottom: 60px;
    margin-left: 220px;
    .dropdown{
      float: left;
      margin-right: 15px;
    }
    .btn{
      line-height: auto;
      height: auto;
      padding: 4px 12px;
      background: #fff;
    }
    .btn:hover{
      background: #F2F2F2;
    }
  }
}

.add-post{
  height: 30px;
  position: relative;
  top:0px;
}
