/* Global Styles */

@import 'bootstrap/bootstrap.less';
@import '_colors.less';
@import '_mixins.less';
@import 'landingpage.less';
@import 'app2.less';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: @body-font;
  font-size: 12px;
  color: @text-dark;
}

// bootstrap overrides
.btn-success {
  background-color: @core-color;
  border-color: @core-color;

  &:hover, &:active, &:focus {
    border-color: @core-color-highlighted;
    background-color: @core-color-highlighted;
  }
}
