/* Global Styles */

@import '_theme.less';
@import '_seedTypes.less';

body {
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 12px;
  color: #211922;
}

.providers {
    margin: 5px 0;
    list-style: none;
    li {
        display: inline;
    }
}

.help-block {
  margin: -8px 0 10px 0;
  font-size: 14px;
  color: #AAA !important;
}

.opaqueNav {
  opacity: 0.9;
}

.banner_hero {
  font-family: "Lato", sans-serif;
  background: url(/assets/images/banner/mainBanner.jpg) no-repeat bottom;
  background-size: cover;
  height: 600px;
  text-align: center;
}

.banner_hero h1 {
  color: #fff;
  font-size: 52px;
  line-height: 100%;
  padding: 333px 0 20px;
  margin: 0;
}

.banner_hero h6 {
  font-size: 30px;
  padding-bottom: 20px;
  color: #FFF;
}

.banner_hero h6 small {
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 18px;
}

.banner_hero h6 small.active {
  display: block;
}

.banner_hero .btn {
  position: relative;
}

@media (max-width: 840px) {
  .banner_hero h1 {
    padding: 100px 0 20px;
  }
}

@media (max-width: 320px) {
  .banner_hero h1 {
    padding: 100px 0 20px;
  }
}
