/* Global Styles */

@import '_theme.less';
@import '_seedTypes.less';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 12px;
  color: #211922;
}

.providers {
    margin: 5px 0;
    list-style: none;
    li {
        display: inline;
    }
}

.opaqueNav {
  opacity: 0.9;
}

.banner_hero {
  font-family: "Lato", sans-serif;
  background: url(/assets/images/banner/mainBanner.jpg) no-repeat bottom;
  background-size: cover;
  height: 600px;
  text-align: center;
}

.banner_hero h1 {
  color: #fff;
  font-size: 52px;
  line-height: 100%;
  padding: 333px 0 20px;
  margin: 0;
}

.banner_hero h6 {
  font-size: 30px;
  padding-bottom: 20px;
  color: #FFF;
}

.banner_hero h6 small {
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 18px;
}

.banner_hero h6 small.active {
  display: block;
}

.banner_hero .btn {
  position: relative;
}

@media (max-width: 840px) {
  .banner_hero h1 {
    padding: 100px 0 20px;
  }
}

@media (max-width: 320px) {
  .banner_hero h1 {
    padding: 100px 0 20px;
  }
}

.logo {
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 2;
}

.main {
  margin-top: 30px;
}

@sidebar-width: 250px;

.offcanvas {

  z-index: 1;
  position: relative;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;

  &.active {
    left: @sidebar-width;

    .sidebar {
      left: 0;
    }
  }
}

.sidebar {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;

  z-index: 0;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: @sidebar-width;
  left: -@sidebar-width;
  height: 100%;
  padding: 54px 22px 0;

  background: #222;
  &, a { color: #bbb; }
  font-size: 18px;

  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      padding: 10px 0;
      margin-left: 0;

      a:hover {
        color: white;
        text-decoration: none;
      }

      &.divider {
        height: 1px;
        background-color: #666;
        padding: 0;
        margin: 12px 0;
      }
    }
  }
}
