.home-page {
  body {
    .proxima-nova-regular;
  }

  h1, h2, h3, h4, h5, h6 {
    .proxima-nova-light;
  }
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 54px;
  }

  h3 {
    font-size: 28px;
  }


  nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-radius: 0;
    top: 40px;
    -webkit-transition-property: background-color, color;
    -moz-transition-property: background-color, color;
    -o-transition-property: background-color, color;
    transition-property: background-color,color;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .btn-home {

    margin-top: 40px;
    font-size: 24px;
  }

  .navbar-home {
    margin-bottom: 0px;
    background-color: transparent;
    border: none;

    .navbar-nav li a {
      color: white;
      .proxima-nova-regular;
      text-transform: uppercase;
      font-size: 14px;
      padding-top: 20px;
      padding-bottom: 20px;

    }

    .navbar-brand {
      padding: 0;
      img {
        position:absolute;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        padding: 0;
        margin-top: 6px;
        -webkit-filter: invert(100%);
        filter: invert(100%);
        height: 50px;
        @media (max-width: @screen-sm-max) {
          margin-top: 0px;
        }
      }
    }

    &.animated {
      background-color: #FFF;

      .navbar-brand img {
        -webkit-filter: invert(0%);
        filter: invert(0%);
      }
      li a {
        color: #333;
      }
    }
  }

  .graph-img {
    width: 70%;

    @media(max-width: @screen-sm-max) {
      width: 100%;
    }
  }

  .section-image {
    width:  100px;
    margin-top: -40px;
    margin-bottom: 20px;
  }

  .parallax-section {
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 100px 0;
    background-size: cover !important;
  }

  .footer-links {
    color: #999;
    padding-left: 0;
    margin-top: 20px;

    li {
      display: inline;
      padding: 0 2px;
    }

    li:first-child {
      padding-left: 0;
    }
  }

  #section1 {
    padding: 160px 0;
    color: white;
    background: url(/assets/images/homepage/coworkingBg.jpg) 50% 0 fixed;
  }

  #section2 {
    background: #FFFFFF url(/assets/images/homepage/network.jpg) 50% 0 fixed;
  }

  #section3 {
    color: white;
    background: #18CBB9 url(/assets/images/homepage/hexagon.png) 50% 0 fixed;
  }

  #section4 {
    color: white;
    background: #F7931E url(/assets/images/homepage/swirlTexture.jpg) 50% 0 fixed;
  }

  #section5 {
    color: white;
    background: #00EA83 url(/assets/images/homepage/birdsBg.png) 50% 0 fixed;
  }

  #section6 {
    color: white;
    background: #79797D url(/assets/images/homepage/hexagon.png) 50% 0 fixed;
  }

  #section7 {
  }

}
