.home-page {
  body {
    .proxima-nova-regular;
  }

  h1, h2, h3, h4, h5, h6 {
    .proxima-nova-light;
  }
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 54px;
  }

  h3 {
    font-size: 28px;
  }

  .btn-home {
    margin-top: 40px;
    font-size: 24px;
  }

  nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-radius: 0;
    top: 40px;
    -webkit-transition-property: background-color, color;
    -moz-transition-property: background-color, color;
    -o-transition-property: background-color, color;
    transition-property: background-color,color;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .graph-img {
    width: 70%;

    @media(max-width: @screen-sm-max) {
      width: 100%;
    }
  }

  .section-image {
    width:  100px;
    margin-top: -40px;
    margin-bottom: 20px;
  }

  #section1 {
    padding: 160px 0;
    color: white;
    background: url(/assets/images/homepage/coworkingBg.jpg) fixed;
  }

  #section2 {
    background: #FFFFFF url(/assets/images/homepage/network.jpg) fixed;
  }

  #section3 {
    color: white;
    background: #18CBB9 url(/assets/images/homepage/hexagon.png) fixed;
  }

  #section4 {
    color: white;
    background: #F7931E url(/assets/images/homepage/swirlTexture.jpg) fixed;
  }

  #section5 {
    color: white;
    background: #00EA83 url(/assets/images/homepage/birdsBg.png) fixed;
  }

  #section6 {
    color: white;
    background: #79797D url(/assets/images/homepage/hexagon.png) fixed;
  }

  #section7 {
  }

}
