#wrapper {
    width: 100%;
    min-height: 500px;
    max-width: 1100px;
    min-width: 800px;
    margin: 50px auto;
}

#seedWall {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
     display: inline-block;
     background: #FEFEFE;
     /* border: 2px solid #FAFAFA; */
    
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    
    opacity: 0.95;
    position: relative;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    padding: 0px 10px;
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

@media (min-width: 960px) {
    #seedWall {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 640px) {
  #seedWall {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  
  #wrapper {
    min-width: 321px;
    max-width: 640px;
  }
}

@media (max-width: 320px) {
  #seedWall {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  
  #wrapper {
    min-width: 200px;
    max-width: 320px;
  }
}

.pin:hover {
  opacity: 1;
}

.actions {
  position: absolute;
  top: 10px;
  left: 5px;
  display: none;
}

.over .actions {
  display: block;
}

#seedProgress {
  background-color: white;
  position: relative;
  top: -10px;
  height: 4px;
  margin-bottom: 0px;
  padding: 0 5px;
}

