<div class="all-sections">
  <h1 class="row">Change your password</h1>

  <div class="error" ng-show="error">{{error}}</div>
  <div class="success" ng-show="success">{{success}}</div>

  <form name="form" novalidate>
    <p class="section-label">Enter your email address to receive a link to change your password.</p>

    <div class="form-group">
      <input type="email"
             name="email"
             ng-model="email"
             class="form-control"
             placeholder="Email address"
             ng-keyup="$event.which == 13 && submit(form)"
             required/>
      <p class="help error" ng-if="form.submitted && form.email.$error.email">Please enter a valid email address.</p>
      <p class="help error" ng-if="form.submitted && form.email.$error.required">Please fill in this field.</p>
    </div>

    <div class="right">
      <a class="button" ng-click="submit(form)">Submit</a>
    </div>
  </form>

  <div class="footer">
    <a ui-sref="login">Log in</a>
    &nbsp;•&nbsp;
    <a ui-sref="signup">Sign up</a>
    <!-- &nbsp;•&nbsp;
    <a onclick="Intercom('showNewMessage', 'I need help signing up! The problem is:')">Need help?</a> -->
  </div>

</div>
