<div class="main-content">
  <div class="all-sections">

    <a class="corner" ng-click="markAllRead()">
      Mark all
      <span class="hidden-xs">as</span>
      read
    </a>
    <h1>Recent Activity</h1>

    <div class="notification" ng-repeat="event in activity" ng-class="{unread: event.unread}">

      <a ui-sref="profile({id: event.actor.id})" back-img="::event.actor.avatar_url" class="avatar"></a>

      <div class="content">
        <div class="title">
          {{::event.actor.name}} {{::actionText(event)}}
          "<a ng-click="visit(event)">{{::truncate(event.post.name, 140)}}</a>"
        </div>

        <div class="body-text" ng-if="::hasBodyText(event)">
          <div bind-html-unsafe="::present(event)"></div>
        </div>

        <div class="controls">
          {{::event.created_at | fromNow}}
          <span ng-if="::!isEmpty(event.comment)">
            &nbsp;•&nbsp;
            <span ng-hide="isThanked(event.comment)">
              <a tooltip='click to give thanks for this comment' tooltip-popup-delay="500" ng-click="thank(event.comment)">Say "Thank you"</a>
            </span>
            <span ng-show="isThanked(event.comment)">
              <a tooltip='click to take back your "Thank You"' tooltip-popup-delay="500" ng-click="thank(event.comment)">
                You thanked <span>{{::event.actor.name | firstName}}</span>
              </a>
            </span>
            &nbsp;•&nbsp;
            <a ng-click="visit(event)">Reply</a>
          </span>
        </div>
      </div>

    </div>

    <div ng-if="activity.length == 0">
      Activity on seeds you've joined, as well as comments or seeds that mention you by name, will appear here.
    </div>

  </div>
</div>