<nav class="navbar navbar-default navbar-hylo-create" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <i class="icon-hylo-script" ng-click="close()"></i>
  </div>
  <div class="navbar-center" href="#">User Settings</div>
  <a class="navbar-right close" ng-click="close()">&times;</a>
</nav>

<div class="main-content">
  <div class="all-sections">
    <div class="section-label" ng-click="expand1 = !expand1">
        Account
        <i ng-class="{'icon-down': expand1, 'icon-right': !expand1}"></i>
    </div>
    <div class="section" collapse="!expand1">
    	<div class="setting-item">
      	<div class="main-column">
      		<label>Your Email</label>
      		<p ng-hide="editing.email">{{user.email}}</p>
          <input type="text" ng-show="editing.email" ng-model="edited.email" class="form-control"/>
          <button type="button" ng-show="editing.email" class="main-action" ng-click="saveEdit('email')">Save</button>
          <button type="button" ng-show="editing.email" ng-click="cancelEdit('email')">Cancel</button>
          <div ng-show="editing.email && needsRevalidation()" class="summary">
            You will have to re-validate your email address after changing it.
          </div>
    		</div>
      	<div class="side-column">
          <button type="button" ng-hide="editing.email" ng-click="edit('email')">Change</button>
        </div>
    	</div>
    	<div class="setting-item">
      	<div class="main-column"><label>Your Password</label></div>
      	<div class="side-column">
          <a class="change-password" href="/accounts/password/change" target="_self">Change</a>
        </div>
    	</div>
    	<div class="setting-item">
      	<div class="main-column">
          <label>Receive email notifications?</label>
          <div class="summary">Check the circle to get updates on seeds you have created or joined.</div>
        </div>
      	<div class="side-column">
          <input type="checkbox" ng-model="user.send_email_preference" ng-click="toggle('send_email_preference')"/>
        </div>
    	</div>
      <div class="setting-item">
        <div class="main-column">
          <label>Get daily email digests?</label>
          <div class="summary">Check the circle to get daily digests of new activity in your communities.</div>
        </div>
        <div class="side-column">
          <input type="checkbox" ng-model="user.daily_digest" ng-click="toggle('daily_digest')"/>
        </div>
      </div>
      <div class="setting-item">
        <div class="full-column">
          <a href="/logout" target="_self" class="logout">Log out</a>
        </div>
      </div>
    </div>

    <div class="section-label" ng-click="expand2 = !expand2">
        Communities
        <i ng-class="{'icon-down': expand2, 'icon-right': !expand2}"></i>
    </div>
    <div class="section communities" collapse="!expand2">
      <div class="setting-item" ng-repeat="membership in user.memberships track by $index">
        <div class="main-column">
          <label><a ui-sref="community.seeds({community: membership.community.slug})">{{membership.community.name}}</a></label>
          <div class="summary">Joined: {{membership.date_joined | date:'longDate'}}</div>
        </div>
        <div class="side-column"><a ng-click="leaveCommunity(membership.community_id, $index)">Leave</a></div>
      </div>
    </div>

    <div class="section-label" ng-click="expand3 = !expand3">
        Payment Details
        <i ng-class="{'icon-down': expand3, 'icon-right': !expand3}"></i>
    </div>
    <div class="section" collapse="!expand3">
      <div class="setting-item">
        <div class="full-column">
          <div class="summary">Don't worry! You do not belong to any communities that require a membership fee.</div>
        </div>
      </div>
    </div>

  </div>
</div>
