<div class="all-sections">
  <h1 class="row">Sign up for Hylo</h1>

  <form name="form" novalidate>

    <div class="error" ng-show="signupError">{{signupError}}</div>

    <p>We are currently in private beta with a number of pilot communities.</p>
    <p>If you are a member of one of these communities, you should have received an invitation code from your community manager. Please enter it below:</p>

    <div class="form-group">
      <input type="text"
             name="code"
             ng-model="user.code"
             class="form-control"
             placeholder="Invitation code"
             ng-keyup="$event.which == 13 && submit(form)"
             required/>
      <p class="help error" ng-if="form.submitted && form.code.$error.required">Please fill in this field.</p>
    </div>

    <p>Next, enter your name, email address, and the password you would like to use:</p>

    <div class="form-group">
      <input type="name"
             name="name"
             ng-model="user.name"
             class="form-control"
             placeholder="Full name"
             ng-keyup="$event.which == 13 && submit(form)"
             required/>
      <p class="help error" ng-if="form.submitted && form.name.$error.required">Please fill in this field.</p>
    </div>

    <div class="form-group">
      <input type="email"
             name="email"
             ng-model="user.email"
             class="form-control"
             placeholder="Email address"
             ng-keyup="$event.which == 13 && submit(form)"
             required/>
      <p class="help error" ng-if="form.submitted && form.email.$error.email">Please enter a valid email address.</p>
      <p class="help error" ng-if="form.submitted && form.email.$error.required">Please fill in this field.</p>
    </div>

    <div class="form-group">
      <input type="password"
             name="password"
             ng-model="user.password"
             class="form-control"
             placeholder="Password"
             pattern=".{6,}"
             ng-keyup="$event.which == 13 && submit(form)"
             required/>
      <p class="help error" ng-if="form.submitted && form.password.$error.pattern">Please choose a password at least 6 characters long.</p>
      <p class="help error" ng-if="form.submitted && form.password.$error.required">Please fill in this field.</p>
    </div>

    <div class="right">
      <a class="button" ng-click="submit(form)">Sign up</a>
    </div>
  </form>

  <div class="footer">
    <a ui-sref="login">Already signed up? Log in</a>
    &nbsp;•&nbsp;
    <a>Need help?</a>
  </div>

</div>