/* Customizations for the tag user directive*/
.decipher-tags {

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 5px;
  height: @avatar-size-xs + 17px;
/* restyle todo


*/
  .decipher-tags-taglist {
    display: inline;

    .decipher-tags-tag {
      display: inline-block;
      height: @avatar-size-xs + 5px;
      margin: 0;
      padding: 2px 6px 7px;
      border: 1px solid @border-light;
      border-radius: 5px;
      vertical-align: middle;


      .user-avatar-xs {
        position: absolute;
      }

      .tag-name {
        .avatar-margin-xs();
        .seed-meta-text();
      }

      .icon-remove-inverse, .tag-name  {
        vertical-align: sub;
        top: 3px; 
      }
    }
  }

  .decipher-tags-input {
    border: 0;
    outline: 0;
  }


  .decipher-tags-invalid {
    color: #FFF;
  }

  .decipher-tags-controls {
    margin-top: 8px;
    min-height: 28px;
  }
}

/* Customizations for the typehead directive*/
.typeahead-tag {
  color: blue;

  .avatar-typeahead {
    position: absolute;
    .user-avatar-xxs();
  }

  .typeahead-result {
    .add-avatar-margin(30px);
  }
}