<div class="col-sm-12">
  <div class="row toolbar">
    <div class="toolbar-right">
      <a class="button" ui-sref="communitySettings({community: community.slug})">
        <i class="icon-add-01"></i>
        Invite Members
      </a>
      <button>
        <i class="icon-search"></i>
      </button>
    </div>
  </div>
</div>

<div class="col-sm-8 col-sm-offset-2 community-members">
  <div class="row">
    <div ng-repeat="user in users | orderBy:'name'" class="member">
      <a class="avatar" back-img="user.avatar" ui-sref="user({community: community.slug, id: user.id})"></a>
      <div class="member-info">
        <a class="name" ui-sref="user({community: community.slug, id: user.id})" ng-bind="::user.name"></a>
        <div class="skills">Skills: &nbsp;<span ng-bind="::user.skills.join(', ')"></span>&nbsp;</div>
        <div class="affiliations">Affiliations: &nbsp;<span ng-bind="::user.organizations.join(', ')"></span>&nbsp;</div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-10 col-sm-offset-1">
  <div class="row">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <i class="icon-search shadow filter-search-icon"></i>
      <div class="filter-query">
        <input placeholder="Search for members, skills or affiliations..." class="form-control input-lg" type="text" ng-change="queryTimeout()" ng-model="searchQuery">
        <div class="textfield-search-indicator" loading-indicator ng-if="searching"></div>
      </div>
      </div>
    </div>

  </div>
</div>

