@fulfillColor: @intention-color;

.btn-fulfill {
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 14px;
  text-transform: capitalize;
  .button-variant(#FFF; @fulfillColor; @fulfillColor);
  i {
    font-size: 13px;
  }
}

.posts {
  @media (max-width: @screen-xs-min) {
    padding: 1px 7px;
  }
}

.post {
  @user-width: 90px;

  margin-bottom: 20px;
  font-size: @font-size-base;
  color: @text-gray;

  &:first-child {
    padding-top: 22px;
    @media (max-width: @screen-xs-max) { padding: 0; margin-bottom: 15px;  }
  }


  .user {
    position: absolute;
    width: @user-width;
    vertical-align: top;
    padding-top: 10px;

    @media (max-width: @screen-xs-max) {
      position: relative;
      width: initial;
      height: 45px;
    }

    .icon .avatar {  
      @media (max-width: @screen-xs-max) {
        .user-avatar-xs;
      }
    }

    .name {
      .seed-username-text; 
      @media (max-width: @screen-xs-max) {
        .avatar-margin-xs();
      }
    }
  }

  .follower, .contributor {
    .avatar {
      .user-avatar-xs;
      float: none;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .post-container {
    margin-left: @user-width + 5;

    @media (max-width: @screen-xs-max) {
      margin-left: 0;
    }

    .post-header {
      span {
        display: inline-block;
      }

      @title-color: #333332;
      @color: #808080;
    }

    .post-content {
      margin: 0px 0px 0px 20px;
      border-bottom: 1px solid @light-gray;
      padding-bottom: 12px;
      line-height: 2;
      @media (max-width: @screen-xs-max) {
        margin: 0;
      }

      .post-options {
        float: right;
        .seed-meta-text();

        @media (max-width: @screen-xs-max) {
          top: -30px;
        }

        a, a:hover {
          cursor: pointer;
          text-decoration: none;
          color: @default-text;
          i {
            font-size: 12px;
          }
        }

        ul {
          min-width: initial;
          float: right;
          right: 0;
          left: initial;
        }
      }


      .post-header {
        span {
          display: inline-block;
        }

        @title-color: #333332;
        @color: #808080;
        color: @color;
        display: table;

        .post-info {
          font-size: 12px;
          color: @color;
          padding-bottom: 5px;
          .type {
            margin-right: 10px;

            &.intention {
              .seed-type-text(@intention-color);
            }
            &.request {
              .seed-type-text(@request-color);
            }
            &.offer {
              .seed-type-text(@offer-color);
            }
          }
          .name {
            .proxima-nova-semibold;
          }
          .post-prefix {
            .proxima-nova-light;
          }
        }

        .fulfillment {
          .seed-meta-text;

          a {
            font-style: italic;
            cursor: pointer;
          }

          .dropdown-menu  {
            a {
              color: @light-gray;
              font-size: 11px;
            }
          }

          > div {
            padding-top: 4px;
          }
        }

        .title {
          margin-top: 0;
          margin-right: 10px;
          .seed-title-text;
        }

        .timestamp {
          .seed-meta-text;
        }

        .post-description {
          .seed-body-text;
          padding-top: 5px;
        }
      }

      .show-more-btn {
        color: @link-color;
      }

      .delete {
        position: absolute;
        top: 5px;
        right: 7px;
        display: none;
        font-size: 11px;
        padding: 2px;
        color: @gray-light;
      }

      .delete:hover {
        color: @gray;
      }

      &.deletable:hover .delete {
        display: inline;
      }


      .controls {
        font-size: @font-size-small;
        .proxima-nova-light;

        &, > a {
          color: @light-gray;
          margin-right: 15px;

          & .link-selected {
            color: @dark-blue;
          }
          i {
            color: @dark-blue;
            font-size: 14px;

          }
        }
        > a {
          cursor: pointer;
          text-decoration: none;
        }

        .myVote {
          color: pink;
        }

        .vote, .comment, .num-followers{
          display: inline-block;
          padding: 5px 4px;

          .num {
            font-size: 14px;
          }

          &:hover {
            .icon-following {
              text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
            }

            &, > .icon-comment {
              color: @gray;
            }
          }
        }

        .filfill-link, .join-leave-link {
          display: inline-block;
          position: relative;
          float: right;
          top: 8px;
          color: @link-color;
        }

        .thank-link, .delete-link {
          color: #B3B3B3;
          .proxima-nova-semibold;

          &:hover {
            color: @fulfillColor;
            text-decoration: none;
          }
        }
      }
    }
  }

  .comments {
    background-color: @dark-accent;
    border-top: 1px solid @border-light;
    border-bottom: 1px solid @border-light;

    > .comment {
      margin-bottom: 18px;

      //add padding to top of comments
      &:first-child {
        padding-top: 22px;
      }



      .avatar {
        //.user-avatar-sm;
        position: absolute;
        margin-left: 18px;
      }

      .comment-close {
        float: right;

        a:hover {
          text-decoration: none;
        }

        .icon-remove-inverse {
          color: @border-dark;
          font-size: 16px;
          margin: 5px -25px;

          &:hover {
            color: @link-color;           
          }
        }

        //get delete to appear on mobile
        @media (max-width: @screen-xs-min) {
          float: none;
          position: absolute;
          width: 92%;

          a {
            margin-left: 92%;
            position: relative;
            right: 1px;

            .icon-remove-inverse {
              margin: 0;
            }
          }
        }
      }
      

      .comment-text {
        .seed-body-text;
      }

      .comment-content .controls {
        .seed-meta-text;
        line-height: 1.4;
        padding-top: 6px;
      }

      .comment-content {
        .avatar-margin-sm();
      }
    }

    textarea {
      resize: none;
      -webkit-appearance: none;

    }
  }

  .add-comment {
    background-color: white;
    position: relative;
    padding: 6px 0;
    margin-top: 20px; //gives padding on last post
    .seed-body-text;
    border-right: 1px solid @border-light;
    border-left: 1px solid @border-light;


    .avatar {
      .user-avatar-xxs;
      position: absolute;
      margin-left: 18px;
    }

    .comment-input {
      .avatar-margin-sm(false, 30px);
      min-height: 25px;

      button {
        position: absolute;
        right: 3px;
        bottom: 3px;
      }

      textarea {
        padding: 0;
        width: 80%;
        position: relative;
        top: 3px;
      }
    }

    .empty-comment {
      font-style: italic;
    }

  }

  //downsize the comment margins on mobile
  @media (max-width: @screen-xs-max) {
    .comments > .comment {

      &:first-child {
        padding-top: 12px;
      }

      .avatar {
        .user-avatar-xxs;
        position: absolute;
        margin-left: 5px;
      }
      .comment-content {
        .avatar-margin-xs();
      }
    }
    .add-comment {
      margin-top: 8px;

      .avatar {
        margin-left: 5px;
      }

      .comment-input {
        .avatar-margin-xs(false);

        button {
          position: relative;
          margin-top: 12px;
        }
      }
    }
  }

  .followers {
    .seed-body-text();
    color: @text-medium-dark;
    font-size: 13px;
    padding: 15px 0;

    .actionIcon {
      font-size: 16px;
      vertical-align: middle;

      &.icon-complete {
        -ms-animation: pulse 2s infinite ease-in-out;
        -webkit-animation: pulse 2s infinite ease-in-out;
        animation: pulse 2s infinite ease-in-out;
        color: @btn-success-bg;
      }
    }

    a {
      font-weight: 500;
      color: @default-text;
      cursor: pointer;
    }
  }

  .add-followers{

    width: 100%;
    border: 1px solid @border-light;
    margin-top: 3px;
    min-height: 48px;

    .add-label, .add-tags {
      display: table-cell;
    }

    .add-label {
      .seed-body-text();
      font-size: 13px;
      font-weight: 600;
      width: 120px;
      background-color: @visible-gray-bkg;
      color: @text-dark;
      padding: 15px;
      text-align: center;
    }

    .add-tags {
      padding-left: 10px;
      margin: 3px 0 3px 15px;

      .decipher-tags {
        background-color: white;
        border: none;
        padding: 0;
        min-height: 37px;

        .decipher-tags-input {
          background-color: white;
        }

        .icon-remove-inverse, .tag-name  {
          vertical-align: initial;
          top: initial;
        }
      }
    }
  }

  .add-followers-complete {
    height: 30px;
    margin: 10px 0 0;

    .add-followers-btn {
      .rounded-button();
      background-color: initial;
      float: right;
      background-color: @dark-blue;
      color: white;
    }
  }


  .followers-edit {
    padding: 0 10px !important;
    margin-top: 12px;
    position: relative;

    .arrow {
      &,
      &:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
      }
    }

    .arrow {
      border-width: @popover-arrow-outer-width;
    }

    .arrow:after {
      border-width: @popover-arrow-width;
      content: "";
    }

    .arrow {
      left: 16px + @popover-arrow-outer-width;
      margin-left: -@popover-arrow-outer-width;
      border-top-width: 0;
      border-bottom-color: @border-light;
      top: -10px;
      &:after {
        content: " ";
        top: 1px;
        margin-left: -@popover-arrow-width;
        border-top-width: 0;
        border-bottom-color: @tags-bg-color;
      }
    }

    .decipher-tags {

    }

    .typeahead-result {
      .proxima-nova-light;
      strong {
        .proxima-nova-bold;
      }
    }
  }
}


.fulfill-modal {
  h4 {
    .proxima-nova-regular;
    font-size: 30px;
    color: @intention-color;
  }

  p {
    .proxima-nova-light;
    font-size: 14px;
    margin: 30px 0px;
    color: #333332
  }

  label {
    .proxima-nova-regular;
    font-size: 14px;
    color: #000;
  }

  .top-contributor-item {
    padding: 3px;
    border: 1px solid rgba(255,255,255, 0);

    &.selected {
      background-color: #F1F2F2;
      border: 1px solid #00EA83;
      border-radius: 5px;
    }

    .avatar {
      height: 30px;
      width: 30px;
      border-radius: 15px;
    }

    div {
      .proxima-nova-regular;
      font-size: 12px;
      vertical-align: middle;
      height: 30px;
      overflow: hidden;
      display: table-cell;
      padding-left: 5px;
    }
  }
}


@-ms-keyframes pulse {
  0% {-ms-transform: scale(1.0, 1.0); opacity: 0.7;}
  50% {-ms-transform: scale(1.2, 1.2); opacity: 1;}
  100% {-ms-transform: scale(1.0, 1.0); opacity: 0.7;}

}
@keyframes pulse {
  0% {opacity: 0.7;}
  50% {opacity: 1;}
  100% {opacity: 0.7;}
}
@-webkit-keyframes pulse {
  0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.7;}
  50% {-webkit-transform: scale(1.2, 1.2); opacity: 1;}
  100% {-webkit-transform: scale(1.0, 1.0); opacity: 0.7;}
}
