<div class="about">
	<section ng-if="user.bio || isSelf" class="visible-xs">
		<h2>About me</h2>
		<a class="message" ng-if="isSelf && !user.bio" ui-sref="editProfile">
			<i class="icon-edit" title="icon-edit"></i>
			Tell us about yourself.
		</a>
		<div class="entry">{{user.bio}}</div>
	</section>

	<section ng-if="user.work || isSelf">
		<h2>What I am doing</h2>
		<a class="message" ng-if="isSelf && !user.work" ui-sref="editProfile">
			<i class="icon-edit" title="icon-edit"></i>
			Tell us what you're working on.
		</a>
		<div class="entry">{{user.work}}</div>
	</section>

	<section ng-if="user.intention || isSelf">
		<h2>What I would like to do</h2>
		<a class="message" ng-if="isSelf && !user.intention" ui-sref="editProfile">
			<i class="icon-edit" title="icon-edit"></i>
			Tell us about your goals and dreams.
		</a>
		<div class="entry">{{user.intention}}</div>
	</section>

	<section ng-if="user.skills.length > 0 || isSelf">
		<h2>Skills I can share</h2>
		<a class="message" ng-if="isSelf && user.skills.length == 0" ui-sref="editProfile">
			<i class="icon-edit" title="icon-edit"></i>
			Add your skills.
		</a>
		<ul>
			<li ng-repeat="skill in user.skills">
				<a ui-sref="search({c: community.id, q: skill})">{{skill}}</a>
			</li>
		</ul>
	</section>

	<section ng-if="user.organizations.length > 0 || isSelf">
		<h2>Groups and organizations</h2>
		<a class="message" ng-if="isSelf && user.organizations.length == 0" ui-sref="editProfile">
			<i class="icon-edit" title="icon-edit"></i>
			Add groups and organizations you belong to.
		</a>
		<ul>
			<li ng-repeat="org in user.organizations">
				<a ui-sref="search({c: community.id, q: org})">{{org}}</a>
			</li>
		</ul>
	</section>

	<section ng-if="user.phones.length > 0 || isSelf">
		<h2>Phone numbers</h2>
		<a class="message" ng-if="isSelf && user.phones.length == 0" ui-sref="editProfile">
			<i class="icon-edit" title="icon-edit"></i>
			Add your phone number(s).
		</a>
		<ul>
			<li ng-repeat="phone in user.phones">{{phone}}</li>
		</ul>
	</section>

	<section ng-if="user.emails.length > 0 || isSelf">
		<h2>Email addresses</h2>
		<a class="message" ng-if="isSelf && user.emails.length == 0" ui-sref="editProfile">
			<i class="icon-edit" title="icon-edit"></i>
			Add your email address(es).
		</a>
		<ul>
			<li ng-repeat="email in user.emails">
				<a target="_blank" ng-href="mailto:{{email}}">{{email}}</a>
			</li>
		</ul>
	</section>

	<section ng-if="user.extra_info || isSelf">
		<h2>Additional info and links</h2>
		<a class="message" ng-if="isSelf && !user.extra_info" ui-sref="editProfile">
			<i class="icon-edit" title="icon-edit"></i>
			Add anything else you want other people to know about you here, including links to other websites.
		</a>
		<div class="entry" ng-bind-html="extra_info"></div>
	</section>

</div>
