<h3>What I am doing</h3>
<a class="message" ui-sref="editProfile" ng-if="!user.description">
  <span ng-if="editable"><i class="icon-edit" title="icon-edit"></i> Add what you are working on.</span>
  <span ng-if="!editable">This member has not filled anything in yet.</span>
 </a>
<div class="about-entry">{{user.description}}</div>

<h3>Skills I can share</h3>
<div ng-repeat="skill in user.skills" class="list-entry">{{skill}}</div>
<a class="message" ui-sref="editProfile" ng-if="user.skills.length < 1">
	<span ng-if="editable"><i class="icon-edit" title="icon-edit"></i> Add a skill.</span>
	<span ng-if="!editable">This member has not added any skills yet.</span>
</a>

<h3>Affiliations</h3>
<div ng-repeat="org in user.organizations" class="list-entry">{{org}}</div>
<div><a class="message" ui-sref="editProfile" ng-if="editable && user.organizations.length < 1">
<i class="icon-edit" title="icon-edit"></i> Add an affiliation.</a></div>
