<div class="banner">
  <div class="background" back-img="user.banner_url"></div>
  <div class="buttons">
    <a class="button" ui-sref="editProfile" ng-if="isSelf">Edit profile</a>
  </div>
  <div class="banner-content">
    <div class="avatar-column">
      <div class="avatar" back-img="user.avatar_url"></div>
    </div>

    <div class="info-column">
      <div class="title">
        <span class="name">{{user.name}}</span>
        <div class="member-links">
          <social-media user="user" page="'profile'" is-self="isSelf"></social-media>
          <a class="message social-media-msg hidden-xs" ui-sref="editProfile" ng-if="isSelf && !(user.twitter_name || user.facebook_url || user.linkedin_url)">
            <i class="icon-twitter"></i>
            <i class="icon-facebook"></i>
            <i class="icon-linkedin"></i>
            <span class="hidden-xs">&nbsp;&nbsp;Add social media links.</span>
          </a>
        </div>
      </div>
      <div class="bio hidden-xs">
        <a class="message" ui-sref="editProfile" ng-if="isSelf && !user.bio">
          <i class="icon-edit" title="icon-edit"></i> Say a little bit about yourself.
        </a>
        {{user.bio}}
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="sidebar">
    <div class="tabs">
      <a class="tab" ui-sref="." ng-class="{selected: $state.current.name === 'profile'}">
        <h3><br />ABOUT</h3>
      </a>
      <a class="tab" ui-sref=".seeds" ng-class="{selected: $state.current.name === 'profile.seeds'}">
        <h3>SEEDS PLANTED</h3>
        <div class="count">{{user.seed_count}}</div>
      </a>
      <a class="tab" ui-sref=".contributions" ng-class="{selected: $state.current.name === 'profile.contributions'}">
        <h3 class="hidden-xs">CONTRIBUTIONS</h3>
        <h3 class="visible-xs">CONTRI-<br/>BUTIONS</h3>
        <div class="count">{{user.contribution_count}}</div>
      </a>
      <a class="tab" ui-sref=".thanks" ng-class="{selected: $state.current.name === 'profile.thanks'}">
        <h3>THANK YOU'S</h3>
        <div class="count">{{user.thank_count}}</div>
      </a>
    </div>
  </div>
  <div class="tab-content" ui-view="tab">
    <ng-include ng-if="$state.current.name === 'profile'" src="'/ui/profile/about.tpl.html'"></ng-include>
  </div>
</div>
