<div class="banner">
  <div class="background" back-img="editData.banner_url"></div>
  <div class="buttons">
    <a class="edit-banner" ng-click="changeBanner()">
      <i class="icon-add-background hidden-xs"></i>
      Change Background
    </a>
    <a class="cancel" ng-click="cancel()">Cancel</a>
    <a class="save" ng-click="save()">Save</a>
  </div>
  <div class="banner-content">
    <div class="avatar-column">
      <div class="avatar" back-img="editData.avatar_url" ng-click="changeAvatar()">
        <i class="icon-edit-profile-photo"></i>
      </div>
    </div>

    <div class="info-column">
      <span class="name">{{user.name}}</span>
      <span class="social-media">
        <i class="icon-twitter" ng-click="changeTwitter()">
          <i class="status" ng-class="editData.twitter_name ? 'icon-big-check' : 'icon-add-01'"></i>
        </i>
        <i class="icon-facebook" ng-click="changeFacebook()">
          <i class="status" ng-class="editData.facebook_url ? 'icon-big-check' : 'icon-add-01'"></i>
        </i>
        <i class="icon-linkedin" ng-click="changeLinkedin()">
          <i class="status" ng-class="editData.linkedin_url ? 'icon-big-check' : 'icon-add-01'"></i>
        </i>
      </span>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="about">
    <section>
      <h2>About me <span class="help">(175 characters max)</span></h2>
      <textarea ng-model="editData.bio" placeholder="Tell us about yourself by typing here..." maxlength="175"></textarea>
    </section>

    <section>
      <h2>What I'm doing <span class="help">(175 characters max)</span></h2>
      <textarea ng-model="editData.work" placeholder="Tell us what you are working on by typing here..." maxlength="175"></textarea>
    </section>

    <section>
      <h2>What I'd like to do <span class="help">(175 characters max)</span></h2>
      <textarea ng-model="editData.intention" placeholder="Tell us your goals and dreams by typing here..." maxlength="175"></textarea>
    </section>

    <section>
      <h2>Skills I can share</h2>
      <input type="text" maxlength="200"
        placeholder="Add skills by typing here then pressing enter..."
        ng-keypress="add($event, 'skills')"/>
      <ul>
        <li ng-repeat="skill in editData.skills">
          {{skill}}
          <a class="close" ng-click="remove(skill, 'skills')">&times;</a>
        </li>
      </ul>
    </section>

    <section>
      <h2>Groups and organizations</h2>
      <input type="text" maxlength="200"
        placeholder="Add groups you are affiliated with by typing here then pressing enter..."
        ng-keypress="add($event, 'organizations')"/>
      <ul>
        <li ng-repeat="org in editData.organizations">
          {{org}}
          <a class="close" ng-click="remove(org, 'organizations')">&times;</a>
        </li>
      </ul>
    </section>

    <section>
      <h2>Phone</h2>
      <input type="text" maxlength="200"
      placeholder="Add a phone number by typing here then pressing enter..."
      ng-keypress="add($event, 'phones')"/>
      <ul>
        <li ng-repeat="phone in editData.phones">
          {{phone}} <a class="close" ng-click="remove(phone, 'phones')">&times;</a>
        </li>
      </ul>
    </section>

    <section>
      <h2>Email</h2>
      <input type="text" maxlength="200"
      placeholder="Add a email address by typing here then pressing enter..."
      ng-keypress="add($event, 'emails')"/>
      <ul>
        <li ng-repeat="email in editData.emails">
          {{email}} <a class="close" ng-click="remove(email, 'emails')">&times;</a>
        </li>
      </ul>
    </section>

    <section>
      <h2>Website</h2>
      <input type="text" maxlength="200"
      placeholder="Add a website URL by typing here then pressing enter..."
      ng-keypress="add($event, 'websites')"/>
      <ul>
        <li ng-repeat="website in editData.websites">
          {{website}} <a class="close" ng-click="remove(website, 'websites')">&times;</a>
        </li>
      </ul>
    </section>

    <section>
      <h2>Additional Information</h2>
      <textarea ng-model="editData.extra_info" placeholder="Is there anything else you would like to share with the other members of your community?" maxlength="1000"></textarea>
    </section>

    <div class="buttons">
      <a class="cancel" ng-click="cancel()">Cancel</a>
      <a class="save" ng-click="save()">Save</a>
    </div>
  </div>
</div>
