<div class="banner">
  <div class="background" back-img="'http://miriadna.com/desctopwalls/images/max/Falling-asleep-forest.jpg'"></div>
  <div class="buttons">
    <a class="cancel" ng-click="cancel()">Cancel</a>
    <a class="save" ng-click="save()">Save</a>
  </div>
  <div class="banner-content">
    <div class="avatar-column">
      <div class="avatar" back-img="user.avatar_url"></div>
    </div>

    <div class="info-column">
      <div class="title">
        <span class="name">{{user.name | uppercase}}</span>
        <span class="social-media">
          <i class="icon-twitter"></i>
          <i class="icon-facebook"></i>
          <i class="icon-linkedin"></i>
        </span>
      </div>
      <textarea ng-model="editData.bio" placeholder="Type here to add a short statement about yourself. Maximum 175 characters."></textarea>
    </div>
  </div>
</div>