<div infinite-scroll="loadMore()"
     infinite-scroll-distance="1"
     infinite-scroll-disabled="loadMoreDisabled"
     infinite-scroll-immediate-check="false">
  <div ng-repeat="seed in seeds">
    <hylo-post post="seed" short="true" remove-fn="removePost(postToRemove)"></hylo-post>
  </div>
</div>

<div ng-if="!hasSeeds" class="empty-content">
  <p ng-if="isSelf">
    You haven't planted any seeds yet -- visit your community to do so!
  </p>
  <p ng-hide="isSelf">
    {{user.firstName()}} has not planted any seeds in your communities yet.
  </p>
</div>
