<div class="user-settings">
	<nav class="navbar navbar-default navbar-hylo-create" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="navbar-text">
        <i class="icon-hylo-script" ng-click="close()"></i>
      </div>
    </div>
    <div class="navbar-center navbar-brand" href="#">User Settings</div>

    <a class="navbar-right close" ng-click="close()">&times;</a>
  </nav>

  <div class="main-content">
    <div class="all-sections">
      <div class="section-label" ng-click="expand1 = !expand1">
          Your Account
          <i ng-class="{'icon-down': expand1, 'icon-right': !expand1}"></i>
      </div>
      <div class="section" collapse="!expand1">
      	<div class="setting-item">
        	<div class="main-column">
        		<label>Your Email</label>
        		<p ng-hide="editing.email">me@me.om </p>
            <input type="text" ng-show="editing.email">
      		</div>
        	<div class="side-column" >
            <button type="button" ng-hide="editing.email" ng-click="edit('email')">Change</button>
            <button type="button" ng-show="editing.email" class="main-action" ng-click="saveEdit('email')">Save</button>
            <button type="button" ng-show="editing.email" ng-click="cancelEdit('email')">Cancel</button>
          </div>
      	</div>
      	<div class="setting-item">
        	<div class="main-column"><label>Your Password</label></div>
        	<div class="side-column">
            <button type="button" ng-hide="editing.password" ng-click="edit('password')">Change</button>
            <button type="button" ng-show="editing.password" class="main-action" ng-click="saveEdit('password')">Save</button>
            <button type="button" ng-show="editing.password" ng-click="cancelEdit('password')">Cancel</button>
          </div>
      	</div>
      	<div class="setting-item">
        	<div class="main-column">
            <label>Receive email notifications?</label>
            <div class="summary">Check the circle to get updates on seeds you have created or joined.</div>
          </div>
        	<div class="side-column"><input type="checkbox"></div>
      	</div>
        <div class="setting-item">
          <div class="main-column">
            <label>Get Daily Digests?</label>
            <div class="summary">Check the circle to get digests of new seeds in your community.</div>
          </div>
          <div class="side-column"><input type="checkbox"></div>
        </div>
      </div>
      <div class="section-label" ng-click="expand2 = !expand2">
          Your Communities
          <i ng-class="{'icon-down': expand2, 'icon-right': !expand2}"></i>
      </div>
      <div class="section" collapse="!expand2">
        <div class="setting-item">
          <div class="main-column">
            <label>Community Name</label>
            <div class="summary">Membership: [cost]<br>Joined: [date]</div>
          </div>
          <div class="side-column"><a href="">Leave</a></div>
        </div>
      </div>
      <div class="section-label" ng-click="expand3 = !expand3">
          Your Payment Details
          <i ng-class="{'icon-down': expand3, 'icon-right': !expand3}"></i>
      </div>
      <div class="section" collapse="!expand3">
        <div class="setting-item">
          <div class="full-column">
            <div class="summary">Don't worry! You do not belong to any communities that require a membership fee.</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>