<div class="toolbar posts-toolbar">
  <div>
    <div class="toolbar-right">
      <p>
        <label>
          <input type="checkbox" ng-model='showPastEvents' ng-click='updateView()'/>
          Show past events
        </label>
      </p>
    </div>
  </div>
</div>

<div class="posts">
  <ng-include src="'/ui/post/infinite-scroll.tpl.html'"></ng-include>
  <div ng-if='posts.length === 0 && !loadingPosts' class='no-posts'>
    No events yet. You can create one by going to the Posts tab.
  </div>
</div>
