<div class="toolbar">
  <div>
    <div class="row">
      <div class="toolbar-left">
        <a class="invite" ui-sref="community.invite({community: community.slug})" ng-if="canInvite">
          <i class="icon-add-01"></i>
          <span class="hidden-xs">Invite Members</span>
        </a>
      </div>
      <div class="search toolbar-right">
        <i class="icon-search"></i>
        <input placeholder="by name, skill, or affiliation" type="text" ng-change="queryTimeout()" ng-model="searchQuery">
        <div loading-indicator ng-if="searching"></div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="member-list">
  <div ng-repeat="user in users | orderBy:'name'" class="member">
    <a class="avatar" back-img="user.avatar_url" ui-sref="profile({id: user.id})"></a>
    <div class="member-info">
      <a class="name" ui-sref="profile({id: user.id})" ng-bind="::user.name"></a>
      <div class="skills">
        <div class="label-column">Skills</div>
        <div class="value">{{ ::truncate(user.skills) }}</div>
      </div>
      <div class="affiliations">
        <div class="label-column">Affiliations</div>
        <div class="value">{{ ::truncate(user.organizations) }}</div>
      </div>
    </div>
  </div>

  <div ng-if="users.length == 0" class="no-match">
    No members matched your search terms.
  </div>
</div>
