<div class="toolbar">
  <div>
    <div class="row">
      <div class="toolbar-left">
        <a class="invite" ui-sref="community.invite({community: community.slug})" ng-if="canInvite">
          <i class="icon-add-01"></i>
          <span class="hidden-xs">Invite Members</span>
        </a>
      </div>
      <a class="search toolbar-right" ui-sref="search({c: community.id})">
        <i class="icon-search"></i>
        Search
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="member-list">
  <div ng-repeat="user in users | orderBy:'name'" class="member">
    <a class="avatar" back-img="user.avatar_url" ui-sref="profile({id: user.id})"></a>
    <div class="member-info">
      <a class="name" ui-sref="profile({id: user.id})" ng-bind="::user.name"></a>
      <div class="member-links">
        <social-media user="user" page="'members'"></social-media>
      </div>
      <div class="bio" ng-if="user.bio">
        <div class="full-column"> {{user.bio}}</div>
      </div>
      <div class="skills" ng-if="!user.bio && user.skills.length > 0">
        <div class="title">Skills:</div>
        <div class="clickable-links">
          <span ng-repeat="skill in user.skills track by $index">
          <a ui-sref="search({c: community.id, q: skill})">{{skill}}</a><span ng-if="$index < user.skills.length-1">,</span>
        </span>
        </div>
      </div>
      <div class="affiliations" ng-if="!user.bio && user.organizations.length > 0">
        <div class="title">Affiliations:</div>
        <div class="clickable-links">
          <span ng-repeat="affiliation in user.organizations track by $index">
          <a ui-sref="search({c: community.id, q: affiliation})">{{affiliation}}</a><span ng-if="$index < user.organizations.length-1">,</span>
        </span>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="users.length == 0" class="no-match">
    No members matched your search terms.
  </div>
</div>
