<posts-toolbar update="updateView(data)"></posts-toolbar>

<div ng-if="currentUser.post_count == 0" class="reminder">
  <div>
    <a ui-sref="community.newPost">Make your first post!</a>
    <br/>
    <span class="help">
      Just tap the <i class="icon-add-01"></i> button above.
      <a class="help" href="/h/support#post">Learn more</a>
    </span>
  </div>
</div>

<div class="posts">
  <ng-include src="'/ui/post/infinite-scroll.tpl.html'"></ng-include>

  <h3 ng-if="posts.length == 0">
    <span ng-show="loadingPosts">Loading...</span>
    <span ng-hide="loadingPosts">There are no posts to display.</span>
  </h3>
</div>
