<posts-toolbar update="updateView(data)" community="community"></posts-toolbar>

<div ng-show="currentUser && currentUser.post_count == 0" class="reminder">
  <div>
    <a ng-click="startPosting()">Make your first post!</a>
    <br/>
    <span class="help">
      <a class="help" href="/h/support#post">Learn more</a>
    </span>
  </div>
</div>

<div class="posts">
  <inline-post-input community="community" ng-if="currentUser"></inline-post-input>
  <ng-include src="'/ui/post/infinite-scroll.tpl.html'"></ng-include>

  <h3 ng-if="posts.length == 0">
    <span ng-show="loadingPosts">Loading...</span>
    <span ng-hide="loadingPosts">There are no posts to display.</span>
  </h3>
</div>
