<nav class="navbar navbar-default navbar-hylo-create" role="navigation">
  <div class="navbar-header">
    <i class="icon-hylo-script" ng-click="close()"></i>
  </div>
  <div class="navbar-center" href="#">COMMUNITY SETTINGS</div>
  <a class="navbar-right close" ng-click="close()">&times;</a>
</nav>

<div class="main-content">
  <div class="all-sections">

    <div class="section-label" ng-click="expand1 = !expand1">
      Appearance
      <i ng-class="{'icon-down': expand1, 'icon-right': !expand1}"></i>
    </div>
    <div class="section appearance" collapse="!expand1">
      <div class="setting-item">
        <div class="main-column">
          <label>Name</label>
        </div>
        <div class="side-column value" ng-hide="editing.name">
          <p>{{community.name}}</p>
          <button type="button" ng-click="edit('name')">Change</button>
        </div>
        <div class="side-column edit" ng-show="editing.name">
          <input type="text" class="form-control" ng-model="edited.name"/>
          <button type="button" ng-click="cancelEdit('name')">Cancel</button>
          <button type="button" ng-click="saveEdit('name')">Save</button>
        </div>
      </div>
      <div class="setting-item">
        <div class="main-column">
          <label>Intention</label>
        </div>
        <div class="side-column value" ng-hide="editing.description">
          <p>{{community.description}}</p>
          <button type="button" ng-click="edit('description')">Change</button>
        </div>
        <div class="side-column edit" ng-show="editing.description">
          <textarea class="form-control" ng-model="edited.description" rows="4"></textarea>
          <button type="button" ng-click="cancelEdit('description')">Cancel</button>
          <button type="button" ng-click="saveEdit('description')">Save</button>
        </div>
      </div>
      <div class="setting-item">
        <div class="main-column">
          <label>Icon</label>
          <p>This image appears next to your community's name. (Tip: Try a transparent PNG image.)</p>
        </div>
        <div class="side-column value">
          <div class="community-icon" back-img="community.avatar_url"></div>
          <button type="button" ng-click="changeIcon()">
            <span ng-hide="editing.avatar_url">Change</span>
            <span ng-show="editing.avatar_url">Please wait...</span>
          </button>
        </div>
      </div>
      <div class="setting-item">
        <div class="main-column">
          <label>Banner</label>
          <p>This image appears at the top of your community page. (Suggested size: 1400x500 pixels.)</p>
        </div>
        <div class="side-column value">
          <div class="community-banner" back-img="community.banner_url"></div>
          <button type="button" ng-click="changeBanner()">
            <span ng-hide="editing.banner_url">Change</span>
            <span ng-show="editing.banner_url">Please wait...</span>
          </button>
        </div>
      </div>
      <div class="setting-item invitation-permissions">
        <div class="main-column">
          <label>Allow everyone to invite new members</label>
          <p>If this is disabled, only moderators may send invitations to new members.</p>
        </div>
        <div class="side-column value">
          <input type="checkbox" ng-model="community.settings.all_can_invite" ng-click="saveSetting('all_can_invite')"/>
        </div>
      </div>
    </div>

    <div class="section-label" ng-click="toggleModerators()">
      Moderators
      <i ng-class="{'icon-down': expand3, 'icon-right': !expand3}"></i>
    </div>
    <div class="section moderators" collapse="!expand3">
      <div class="setting-item">
        <div class="full-column">
          <p>Moderators can invite new members and delete other members' seeds.</p>

          <div class="moderator" ng-repeat="user in moderators">
            <a class="avatar" back-img="user.avatar_url" ui-sref="profile({id: user.id})"></a>
            <a class="name" ui-sref="profile({id: user.id})" ng-bind="::user.name"></a>
            <a class="close" ng-click="removeModerator(user.id)">&times;</a>
          </div>

          <p>Search for members to grant moderator powers:</p>
          <input type="text" class="form-control" ng-model="selectedMember"
            typeahead="user.name for user in findMembers($viewValue)"
            typeahead-min-length="2"
            typeahead-template-url="/ui/shared/typeaheadUser.tpl.html"
            typeahead-wait-ms="300"
            typeahead-on-select="addModerator($item)"/>
        </div>
      </div>
    </div>

    <p>The "Invite Members" section has been <a ui-sref="community.invite({community: community.slug})">moved</a>.</p>

  </div>
</div>

