<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <i class="icon-hylo-script" ng-click="close()"></i>
  </div>
  <div class="navbar-center" href="#">COMMUNITY SETTINGS</div>
  <a class="navbar-right close" ng-click="close()">&times;</a>
</nav>

<div class="main-content">
  <div class="all-sections">

    <div class="section-label" ng-click="expand1 = !expand1">
      Appearance
      <i ng-class="{'icon-down': expand1, 'icon-right': !expand1}"></i>
    </div>
    <div class="section appearance" collapse="!expand1">
      <div class="setting-item">
        <div class="half-column">
          <label>Name</label>
          <p>{{community.name}}</p>
        </div>
        <div class="half-column value" ng-hide="editing.name">
          <button type="button" ng-click="edit('name')">Change</button>
        </div>
        <div class="half-column edit" ng-show="editing.name">
          <input type="text" class="form-control" ng-model="edited.name"/>
          <button type="button" ng-click="cancelEdit('name')">Cancel</button>
          <button type="button" ng-click="saveEdit('name')">Save</button>
        </div>
      </div>

      <div class="setting-item description">
        <div class="full-column">
          <label>Core Intention / About</label>
        </div>
        <div class="full-column value" ng-hide="editing.description">
          <div ng-bind-html="community.description | markdown"></div>
          <button type="button" ng-click="edit('description')">Change</button>
        </div>
        <div class="full-column edit" ng-show="editing.description">
          <textarea class="form-control" ng-model="edited.description"></textarea>
          <p class="help"><a href="/help/markdown" target="_blank">Markdown</a> is supported.</p>
          <button type="button" ng-click="cancelEdit('description')">Cancel</button>
          <button type="button" ng-click="saveEdit('description')">Save</button>
        </div>
      </div>

      <div class="setting-item">
        <div class="main-column">
          <label>Icon</label>
          <p class="help">This image appears next to your community's name. (Tip: Try a transparent PNG image.)</p>
        </div>
        <div class="side-column value">
          <div class="community-icon" back-img="community.avatar_url"></div>
          <button type="button" ng-click="changeIcon()">
            <span ng-hide="editing.avatar_url">Change</span>
            <span ng-show="editing.avatar_url">Please wait...</span>
          </button>
        </div>
      </div>

      <div class="setting-item">
        <div class="full-column">
          <label>Banner</label>
          <p class="help">This image appears at the top of your community page. (Suggested size: 1400x500 pixels.)</p>
          <div class="community-banner" back-img="community.banner_url"></div>
          <div class="right">
            <button type="button" ng-click="changeBanner()">
              <span ng-hide="editing.banner_url">Change</span>
              <span ng-show="editing.banner_url">Please wait...</span>
            </button>
          </div>
        </div>
      </div>

      <div class="setting-item welcome-message">
        <div class="full-column">
          <label>Welcome message</label>
          <p class="help">This text is shown on the first screen that a new member sees.</p>
        </div>
        <div class="full-column value" ng-hide="editing.welcome_message">
          <div class="leader" ng-show="community.welcome_message">
            <div class="avatar" back-img="community.leader.avatar_url"></div>
            <div class="name">{{community.leader.name}}</div>
          </div>
          <p>{{community.welcome_message || "[Not set yet]"}}</p>
          <button type="button" ng-click="edit('welcome_message', 'leader')">Change</button>
        </div>
        <div class="full-column edit" ng-show="editing.welcome_message">
          <textarea class="form-control" ng-model="edited.welcome_message" rows="4" placeholder="Enter a welcome message."></textarea>

          <p class="help" ng-show="edited.leader">{{edited.leader.name}}'s image will be shown. Search for someone else:</p>
          <p class="help" ng-hide="edited.leader">Search by name for a community leader, whose image will be shown:</p>
          <input type="text" class="form-control" ng-model="selectedLeader"
            typeahead="user.name for user in findMembers($viewValue)"
            typeahead-min-length="2"
            typeahead-template-url="/ui/shared/typeaheadUser.tpl.html"
            typeahead-wait-ms="300"
            typeahead-on-select="setLeader($item)"/>

          <button type="button" ng-click="cancelEdit('welcome_message', 'leader')">Cancel</button>
          <button type="button" ng-click="saveEdit('welcome_message', 'leader')">Save</button>
        </div>
      </div>

      <div class="setting-item">
        <div class="half-column">
          <label>Location</label>
          <p ng-if="community.location">{{community.location}}</p>
          <p ng-if="!community.location">You haven't specified a location yet.</p>
        </div>
        <div class="half-column value" ng-hide="editing.location">
          <button type="button" ng-click="edit('location')">Change</button>
        </div>
        <div class="half-column edit" ng-show="editing.location">
          <input type="text" class="form-control" ng-model="edited.location"/>
          <button type="button" ng-click="cancelEdit('location')">Cancel</button>
          <button type="button" ng-click="saveEdit('location')">Save</button>
        </div>
      </div>

    </div>

    <div class="section-label" ng-click="expand2 = !expand2">
      Access
      <i ng-class="{'icon-down': expand2, 'icon-right': !expand2}"></i>
    </div>
    <div class="section access" collapse="!expand2">

      <div class="setting-item invitation-permissions">
        <div class="main-column">
          <label>Allow everyone to invite new members</label>
          <p class="help">If this is disabled, only moderators may send invitations to new members.</p>
        </div>
        <div class="side-column value">
          <input type="checkbox" ng-model="community.settings.all_can_invite" ng-click="saveSetting('all_can_invite')"/>
        </div>
      </div>

      <div class="setting-item">
        <div class="half-column">
          <label>Invitation code</label>
          <p>{{community.beta_access_code || '&nbsp;'}}</p>
          <p class="help">This code can be given to people to allow them to join the community, instead of sending individual invitations by email.</p>
        </div>
        <div class="half-column">
          <label>Invitation code link</label>
          <p><a href="{{join_url}}">{{join_url}}</a></p>
          <p class="help">You can copy this link for pasting in emails or embedding on your webpage
to pre-populate the invite code for new members to easily join.</p>
        </div>
        <div class="half-column value" ng-hide="editing.beta_access_code">
          <button type="button" ng-click="edit('beta_access_code')">Change</button>
        </div>
        <div class="half-column edit" ng-show="editing.beta_access_code">
          <form name="form">
            <input name="beta_access_code" type="text" class="form-control" hylo-unique="beta_access_code" ng-model="edited.beta_access_code" required />
          </form>
          <p class="help error" ng-if="form.beta_access_code.$error.required">Please fill in a code.</p>
          <p class="help error" ng-if="form.beta_access_code.$error.unique">This code cannot be used; please choose another.</p>
          <button type="button" ng-click="cancelEdit('beta_access_code')">Cancel</button>
          <button type="button" ng-click="saveEdit('beta_access_code')">Save</button>
        </div>
      </div>

    </div>

    <div class="section-label" ng-click="toggleModerators()">
      Moderators
      <i ng-class="{'icon-down': expand3, 'icon-right': !expand3}"></i>
    </div>
    <div class="section moderators" collapse="!expand3">
      <div class="setting-item">
        <div class="full-column">
          <p>
            Moderators can
            <span ng-hide="community.settings.all_can_invite">invite new members and</span>
            edit or delete other members' posts.
          </p>

          <div class="moderator" ng-repeat="user in moderators">
            <a class="avatar" back-img="user.avatar_url" ui-sref="profile.posts({id: user.id})"></a>
            <a class="name" ui-sref="profile.posts({id: user.id})" ng-bind="::user.name"></a>
            <a class="close" ng-click="removeModerator(user.id)">&times;</a>
          </div>

          <p>Search for members to grant moderator powers:</p>
          <input type="text" class="form-control" ng-model="selectedMember"
            typeahead="user.name for user in findMembers($viewValue)"
            typeahead-min-length="2"
            typeahead-template-url="/ui/shared/typeaheadUser.tpl.html"
            typeahead-wait-ms="300"
            typeahead-on-select="addModerator($item)"/>
        </div>
      </div>
    </div>

    <div class="section-label" ng-click="expand4 = !expand4">
      Email
      <i ng-class="{'icon-down': expand4, 'icon-right': !expand4}"></i>
    </div>
    <div class="section access" collapse="!expand4">

      <div class="setting-item">
        <div class="main-column">
          <label>Send a weekly email inviting members to post?</label>
          <p class="help">If this is checked, each week members will receive an email that they can reply to with their offers, requests and intentions.</p>
        </div>
        <div class="side-column value">
          <input type="checkbox" ng-model="community.settings.sends_email_prompts" ng-click="saveSetting('sends_email_prompts')"/>
        </div>
      </div>

    </div>

  </div>
</div>
