<form name="cardFrm" class="edit-card" ng-submit="submit(card)" ng-class="{busy: busy}">
  <div class="alert alert-danger" role="alert" ng-show="errors">
    <div ng-repeat="error in errors">{{error.description}}</div>
  </div>
  <div class="form-group">
    <label for="creditcard">Card Number
      <small>(The 16 digits on front of your card).</small>
    </label>
    <input id="creditcard" type="text" name="userCard" class="form-control" required="required"
           ng-pattern="/^[0-9]+$/" ng-minlength="16" maxlength="16" autocomplete="off"
           ng-model="card.number" ng-disabled="busy">
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group form-inline ">
        <label>
          Expiration Date
        </label><br>
        <input id="expirationmonth" type="text" placeholder="MM" name="month" autocomplete="off"
               class="form-control date" required="required" maxlength="2"
               ng-pattern="/^(0|1)\d{1}$/" ng-disabled="busy"
               ng-model="card.expiration_month">
        /
        <input id="expirationyear" type="text" placeholder="YYYY" name="year" autocomplete="off"
               class="form-control date" required="required" maxlength="4"
               ng-pattern="/^20\d{2}$/" ng-disabled="busy"
               ng-model="card.expiration_year">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group form-inline ">
        <label for="cvvcode">
          CVV Code <span class="badge"
            tooltip-placement="bottom"
            tooltip-trigger="click"
            tooltip-html-unsafe="<img src='/assets/images/cvv_tooltip.jpg' width='150'>"
          >?</span>
        </label>
        <br>
        <input id="cvvcode" type="text" placeholder="123" name="cvvcode" class="form-control date"
               ng-minlength="3" maxlength="4" ng-model="card.cvv" autocomplete="off"
               required="required" ng-disabled="busy"
          >
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group form-inline">
        <label for="zip">
          Zip Code
        </label>
        <br>
        <input id="zip" type="text" placeholder="" name="zipcode" class="form-control date"
               ng-disabled="busy" ng-model="card.address.postal_code" required="required" autocomplete="off"
          >
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="fullname">Full Name on Card
    </label><br>
    <input id="fullname" type="text" name="name" class="form-control" required="required"
           ng-disabled="busy"
           ng-model="card.name">
  </div>
  <div class="form-group">
    <button class="btn btn-success pull-left" type="submit" ng-disabled="busy || !cardFrm.$valid">Submit</button>
    <button class="btn btn-warning pull-right" type="reset" ng-click="onCancel()">Close
    </button>
    <div class="clearfix"></div>
  </div>
</form>
