<%- include('../../ui-partials/announcer') %>
<%- include('../../ui-partials/overlay') %>
<%- include('../../ui-partials/nav') %>
<div ui-view="main" class="container-fluid" id="main-container"></div>
