<ng-include src="'/ui/shared/announcer.tpl.html'"></ng-include>
<ng-include src="'/ui/shared/overlay.tpl.html'"></ng-include>

<div id="nav" ng-class="{public: !$root.currentUser}">

  <div class="item home">
    <a class="button" ui-sref="home.allSeeds" tooltip="Home" tooltip-placement="bottom">
      <i class="icon-home"></i>
    </a>
  </div>

  <div dropdown class="item communities">
    <a class="button" dropdown-toggle tooltip="Communities" tooltip-placement="bottom">
      <i class="icon-communities-new"></i>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="membership in currentUser.memberships|orderBy:'community.name'">
        <a ui-sref="community.seeds({community: membership.community.slug})">
          <div class="avatar" back-img="membership.community.avatar_url"></div>
          {{membership.community.name}}
        </a>
      </li>
      <li role="presentation" class="divider"></li>
      <li>
        <a class="disabled">Create a new community<br/>(coming soon)</a>
      </li>
    </ul>
  </div>

  <div class="item search">
    <a class="button" ui-sref="search" tooltip="Search" tooltip-placement="bottom">
      <i class="icon-search"></i>
    </a>
  </div>

  <div class="right">
    <!-- inline-block space fix

    --><div class="item notifications">
      <div class="badge" ng-if="currentUser.new_notification_count > 0">{{currentUser.new_notification_count}}</div>
      <a class="button" ui-sref="notifications" tooltip="Activity" tooltip-placement="bottom">
        <i class="icon-notifications"></i>
      </a>
    </div><!-- inline-block space fix

    --><div dropdown class="item profile">
      <a class="button avatar" dropdown-toggle back-img="currentUser.avatar_url" tooltip="Your Account" tooltip-placement="bottom">
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a ui-sref="profile({id: currentUser.id})">Profile</a></li>
        <li><a ui-sref="userSettings">Settings</a></li>
        <li><a href="/noo/logout" target="_self" class="logout">Log out</a></li>
        <li role="presentation" class="divider"></li>
        <li><a ui-sref="support">Help</a></li>
      </ul>
    </div>

    <div class="item public-only about">
      <a href="/about" target="_self">About Hylo</a>
    </div>
  </div>

</div>

<div ui-view="main" class="container-fluid" id="main-container"></div>
