<%- include('../../_header'); %>
<%- include('../_nav'); %>

<script> var page = "careers"; </script>

<section id="aboutCareers" class="parallax-section about-header" data-stellar-background-ratio="0.5">
  <h1>Design the future of community.</h1>
</section>

<%- include('../_linksBar'); %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>

    <div class="col-md-6 left-side">
      <h1>Culture</h1>
    </div>
    <div class="col-md-6 right-side">
      <p>
        Hylo is a new kind of social network designed to help people
        create things together.
      </p>
      <p>
        The Hylo team is defined by our shared goal to help people discover the skills, resources, and opportunities to connect and create all around us. We are building a new kind of network for a new entrepreneurial movement taking place in co-working spaces, maker-spaces, and other collaborative communities-of-purpose.
      </p>
      <p>
        We’re interested in helping to scale a culture of generosity, creativity, and a space for everyone, everywhere, to bring their visions into reality with the support of their communities.
      </p>
      <p>
        We want you to help us shape this product that we believe will positively impact the lives of many people.
      </p>
    </div>

    <div class="col-md-12">
      <hr>
    </div>

    <div class="col-md-6 left-side">
      <h1>Lifestyle</h1>
    </div>
    <div class="col-md-6 right-side">
      <p>
        We believe that together, we can create anything we can imagine.
      </p>
      <p>
        Hylo is looking for awesomely talented and passionate team members to help build ambitious peer-to-peer collaborative infrastructure. We believe the peer-to-peer economy, driven by new classes of social software tools, will com- pletely change the way we live, work, and create, and we believe that Hylo can play a big part in this transformation.
      </p>
      <p>
        <strong>OPPORTUNITY ABOUNDS</strong>
      </p>
      <p>This is an opportunity for you to join a team at an early stage.
      </p>
      <p>Learning opportunities abound. We promote continual growth in our team mem- bers with educational stipends and opportunities to attend conferences, meetups, and workshops.</p>
      <p>We work closely as a team, believe in each other, and support each other. We are meditators, we are burners, we are artists, we are thoughtful, creative, and conscientious.</p>
      <p><strong>UNIQUE WORK ENVIRONMENT</strong></p>
      <p>We work out of the new Impact Hub Oakland, a coworking and community space in downtown Oakland near the BART station. Here you’ll be surrounded by people working on inspiring projects and initiatives.</p>
    </div>

    <div class="col-xs-12"><hr/></div>

    <div class="col-md-6 left-side">
      <h1>OPEN POSITIONS</h1>
    </div>
    <div class="col-md-6 right-side">
      <h3>OAKLAND</h3>
      <p></p>
      <p>
        <strong>ENGINEERING</strong>
        <br>
        <a href="https://jobs.lever.co/hylo/e6532874-0cbd-486b-9197-b45add775bed">Software Engineer - Front End</a>
        <br>
        <a href="https://jobs.lever.co/hylo/2e6834d4-57fa-45ff-9fba-c8d4f2e8ddf5">Software Engineer - Full Stack</a>
      </p>
    </div>

  </div>
</div>

<%- include('../../_footer'); %>