<div class="all-sections">
  <h1>404 Not Found</h1>

  <p>
    Sorry, we can't find the page you're looking for.
    <a href="/app">Start over</a>?
  </p>

  <div class="hylo-definition">
    <i class="icon-hylo-script"></i>

    <p>Short for <strong>hylozoism</strong> (from the Greek <em>hylē</em>, “matter” and <em>zōē</em>, “life”):</p>
    <p>The philosophical doctrine holding that all matter (including the universe as a whole) is alive and conscious.</p>
  </div>

</div>