<div class="comments">

  <div class="comment" ng-repeat="comment in post.comments">
    <div class="comment-delete "><a ng-if="canDelete(comment)" ng-click="delete(comment)" ><i class="comment-delete-icon icon-cancel-01 hidden-xs"></i>&nbsp;</a></div>
    <a class="avatar user-avatar-sm" back-img="::comment.user.avatar" ui-sref="user({community: $root.community.slug, id: comment.user.id})"></a>

    <div class="comment-content" ng-class="::{deletable: canDelete(comment)}">

      <div class="comment-text">
        <span ng-bind-html="::(comment.text | linky:'_blank' | linkyShort | convertCarriageReturn)"></span>
      </div>
      <div class="controls">
        <a ui-sref="user({community: $root.community.slug, id: comment.user.id})"><span>{{::comment.user.name}}</span></a>
        &nbsp;•&nbsp;
        <span class="timestamp">{{::comment.timestamp | fromNow}}</span>
        <span ng-if="canDelete(comment)" ng-click="delete(comment)" class="visible-xs-inline"> &nbsp;•&nbsp; <a class="delete-link">delete</a> </span>
        <span ng-show="::(!commentOwner(comment))">
          <span ng-if="!comment.isThanked">&nbsp;•&nbsp; Say <a class="thank-link" tooltip='click to give thanks for this comment' tooltip-popup-delay="500" ng-click="thank(comment)">"Thank You"</a></span>
          <span ng-if="comment.isThanked">&nbsp;•&nbsp;
            <a class="thank-link" tooltip='click to take back your "Thank You"' tooltip-popup-delay="500" ng-click="thank(comment)">You Thanked <span>{{::comment.user.name}}</span></a>
          </span>
        </span>
      </div>
    </div>
  </div>

  <div ng-if="!post.commentsLoaded && post.numComments > 0" style="padding: 5px 0 15px 0">Loading Comments ...</div>

  <div class="add-comment">
    <!-- FIXME why doesn't this work without $root? -->

    <div class="comment-avatar">
      <a class="avatar" back-img="::$root.currentUser.avatar" ng-class="{'inactive-image': !commentText}"></a>
    </div>

    <div class="comment-input">
      <form class="comment-form" >
        <textarea tabindex="-1" ng-disabled="createDisabled" ng-focus="openCommenting()" ng-keypress="onKeypress($event)" rows="1" type="text" ng-model="commentText" class="no-border form-control msd-elastic" ng-class="{'empty-comment': !commentText}" placeholder="Type your comment here." required></textarea>
        <button ng-show="commentText" tabindex="1" ng-disabled="createDisabled" class="btn btn-primary btn-sm" ng-if="commentOpen" ng-click="create()">Comment</button>
      </form>
    </div>
  </div>
</div>
