<div class="comments">

  <div class="comment" ng-repeat="comment in post.comments" ng-class="{last: $last}">
    <div class="comment-delete">
      <a ng-if="::canDelete(comment)" ng-click="delete(comment)">
        <i class="comment-delete-icon icon-cancel-01 hidden-xs"></i>
      </a>
    </div>

    <a class="avatar" back-img="::comment.user.avatar" ui-sref="profile({id: comment.user.id})"></a>

    <div class="comment-content" ng-class="::{deletable: canDelete(comment)}">

      <div class="comment-text unpad-last-p" ng-bind-html="::commentTextSafe(comment.text)"></div>
      <div class="controls">
        <a ui-sref="profile({id: comment.user.id})"><span>{{::comment.user.name}}</span></a>
        &nbsp;•&nbsp;
        <span class="timestamp">{{::comment.timestamp | fromNow}}</span>
        <span ng-show="::(!commentOwner(comment))">
          <span ng-if="!comment.isThanked">&nbsp;•&nbsp; Say <a class="thank-link" tooltip='click to give thanks for this comment' tooltip-popup-delay="500" ng-click="thank(comment)">"Thank you"</a></span>
          <span ng-if="comment.isThanked">&nbsp;•&nbsp;
            <a class="thank-link" tooltip='click to take back your "Thank You"' tooltip-popup-delay="500" ng-click="thank(comment)">You thanked <span>{{::comment.user.name | firstName}}</span></a>
          </span>
        </span>
      </div>
    </div>

  </div>

  <div ng-if="!post.commentsLoaded && post.numComments > 0" class="loading">Loading comments...</div>

  <div class="add-comment">
    <!-- FIXME why doesn't this work without $root? -->

    <div class="comment-avatar">
      <a class="avatar" back-img="::$root.currentUser.avatar_url" ng-class="{'inactive-image': !commentText}"></a>
    </div>

    <div class="comment-input">
      <form class="comment-form" >
        <div tabindex="-1"
             autocomplete="off"
             contenteditable="true"
             placeholder="Write a comment..."

             mentio=""
             mentio-trigger-char="'@'"
             mentio-items="people"
             mentio-template-url="/ui/shared/people-mentions.tpl.html"
             mentio-search="searchPeople(term, post.community)"
             mentio-select="getPeopleTextRaw(item)"
             mentio-typed-term="typedTerm2"

             ng-disabled="createDisabled"
             ng-focus="openCommenting()"
             ng-model="commentText"
             class="mentio-editor no-border"
             ng-class="{'empty-comment': !commentText}"
             required>
        </div>
      </form>
      <div class="comment-placeholder" ng-hide="commentOpen || commentText"> Type a comment. Type @ to mention others.</div>
    </div>
  </div>
  <div class="comment-btn"><button type="button" ng-show="commentText" tabindex="1" ng-disabled="commentText.length <= initialCommentText.length" class="btn btn-sm comment-btn" ng-click="create()">Comment</button></div>
</div>
