<div class="create-community">
  <nav class="navbar navbar-default navbar-hylo-create" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="navbar-text">
        <i class="icon-hylo-script"></i>
      </div>
    </div>
    <div class="navbar-center navbar-brand" href="#"><a class="navbar-brand">CREATE COMMUNITY</a></div>
    <!-- Collect the nav links, forms, and other content for toggling -->

      <!--<form class="navbar-form navbar-left" role="search">-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>-->
      <!--</form>-->
      <button class="btn btn-default navbar-btn navbar-right" ng-click="cancelCreate()">Cancel</button>
  </nav>

  <div ng-switch="step">
    <div ng-switch-when="1">

      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <form name="step1Form" novalidate role="form">

            <div class="form-group">
              <label for="name">Name</label>
              <span class="label label-danger" data-ng-show="step1Form.submitted && step1Form.name.$error.required">Required!</span>
              <span class="label label-danger" data-ng-show="step1Form.name.$error.unique">Community name already taken.  Choose another.</span>
              <input id="name" type="text" hylo-unique="communityName" name="name" data-ng-model="createForm.name" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="coreIntention">Core Intention</label>
              <span class="label label-danger" data-ng-show="step1Form.submitted && step1Form.coreIntention.$error.required">Required!</span>
              <textarea id="coreIntention" msd-elastic name="coreIntention" data-ng-model="createForm.coreIntention" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="slug">Hylo URL</label>
              <span class="label label-danger" data-ng-show="step1Form.submitted && step1Form.slug.$error.required">Required!</span>
              <span class="label label-danger" data-ng-show="step1Form.slug.$dirty && step1Form.slug.$error.pattern">Invalid Slug.  Use letters, numbers, and hyphens.</span>
              <span class="label label-danger" data-ng-show="step1Form.slug.$error.unique">Slug already taken. choose another</span>
              <div class="input-group">
                <span class="input-group-addon">www.hylo.com/c/</span>
                <input id="slug" name="slug" data-ng-model="createForm.slug" force-lowercase class="form-control" hylo-unique="communitySlug" ng-pattern="/^[a-z0-9-+]+$/" required />
              </div>
            </div>

            <div class="form-group">
              <label for="betaAccessCode">Beta Access Code</label>
              <span class="label label-danger" data-ng-show="step1Form.betaAccessCode.$error.unique">Code already taken. choose another</span>
              <span class="label label-danger" data-ng-show="step1Form.submitted && step1Form.betaAccessCode.$error.required">Required!</span>
              <input id="betaAccessCode" type="text" name="betaAccessCode" hylo-unique="betaAccessCode" data-ng-model="createForm.betaAccessCode" class="form-control" required />
            </div>


            <div class="form-group">
              <label for="category">What kind of community is this?</label>
              <span class="label label-danger" data-ng-show="step1Form.submitted && step1Form.category.$error.required">Required!</span>
              <select id="category" name="category" data-ng-model="createForm.category" data-ng-options="id as value for (id, value) in categoryListOptions" class="form-control" required>
                <option value=""></option>
              </select>
            </div>

            <div class="text-center">
              <button data-ng-disabled="progress.active()" data-ng-click="next(step1Form)" class="btn btn-default">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div ng-switch-when="2">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <form name="step2Form" novalidate role="form">

            <div class="form-group">
              <label for="joining1">JOINING</label>
              <span class="label label-danger" data-ng-show="step2Form.submitted && step2Form.joining1.$error.required">Required!</span>
              <span class="label label-danger" data-ng-show="step2Form.submitted && step2Form.joining2.$error.required">Please select who can add members</span>
              <select id="joining1" name="joining1" data-ng-model="createForm.joining1" data-ng-options="id as value for (id, value) in joiningOptions" class="form-control" required>
                <option value=""></option>
              </select>

              <div ng-show="createForm.joining1 != null">
                <select id="joining2" name="joining2" data-ng-model="createForm.joining2" data-ng-options="id as value for (id, value) in joiningOptionsAdd[createForm.joining1]" class="form-control" ng-required="createForm.joining1 != null">
                  <option value=""></option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="sharing">SHARING</label>
              <span class="label label-danger" data-ng-show="step2Form.submitted && step2Form.sharing.$error.required">Required!</span>
              <select id="sharing" name="sharing" data-ng-model="createForm.sharing" data-ng-options="id as value for (id, value) in sharingOptions" class="form-control" required>
                <option value=""></option>
              </select>
            </div>

            <div class="form-group">
              <label for="membershipType">MEMBERSHIP</label>
              <span class="label label-danger" data-ng-show="step2Form.submitted && step2Form.membershipType.$error.required">Required!</span>
              <span class="label label-danger" data-ng-show="step2Form.submitted && step2Form.membershipAmount.$error.required">Membership Amount Required!</span>
              <span class="label label-danger" data-ng-show="createForm.membershipType != null && step2Form.membershipAmount.$error.number">Membership Amount must be a Dollar amount!</span>

              <select id="membershipType" name="membershipType" data-ng-model="createForm.membershipType" data-ng-options="id as value for (id, value) in membershipOptions" class="form-control" required>
                <option value="">Does this community cost a fee?</option>
              </select>

              <div ng-if="createForm.membershipType == 'yes'">
                <div class="input-group" >
                  <span class="input-group-addon">$</span>
                  <input type="text" validate-money placeholder="How much is the membership fee?" ng-show="createForm.membershipType == 'yes'" id="membershipAmount" name="membershipAmount" data-ng-model="createForm.membershipAmount" class="form-control" ng-required="createForm.membershipType == 'yes'"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="text-center">
        <button data-ng-disabled="progress.active()" data-ng-click="previous()" class="btn btn-default">&lt;</button>
        <button data-ng-disabled="progress.active()" data-ng-click="next(step2Form)" class="btn btn-default">Next</button>
      </div>

    </div>
    <div ng-switch-when="3">
      <div class="banner" back-img="createForm.banner" image-drag="setBannerPos(position)" image-drag-axis="y" ng-style="{'background-position': createForm.bannerPos}" >
        <div class="banner-inner text-center" >
          <div class="col-md-4 col-md-offset-4">
            <p class="banner-help" ng-if="!bannerChosen">This is the default banner for your community, you can upload a custom banner now, or anytime in the moderator settings.</p>
            <p class="banner-help" ng-if="bannerChosen">Drag image to reposition</p>
            <a class="btn btn-default" ng-click="pickBanner()" btn-loading="loadingBanner" data-loading-text="Loading Image...">Upload Banner</a>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="community-icon" ng-style="{'background-position': createForm.iconPos}" back-img="createForm.icon" image-drag="setIconPos(position)">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <p class="icon-help-text" ng-if="!iconChosen">This is the default icon for your community, you can upload a custom icon now, or anytime in the moderator settings.</p>
            <p class="icon-help-text" ng-if="iconChosen">Drag icon to reposition</p>
            <a class="btn btn-default" ng-click="pickIcon()" btn-loading="loadingIcon" data-loading-text="Loading Image...">Upload Icon</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <hr/>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button data-ng-disabled="progress.active()" data-ng-click="previous()" class="btn btn-default">&lt;</button>
        <button data-ng-disabled="progress.active()" data-ng-click="submit(step2Form)" class="btn btn-default">Finish</button>
      </div>
    </div>

  </div>

</div>
