<div class="modal-body fulfill-modal">
  <button type="button" ng-click="$dismiss('cancelled')" class="close" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Awesome!</h4>

  <p>Who helped you fulfill your request? Acknowledge those contributors to help them grow their reputations.</p>

  <tags-input ng-model="contributors"
              add-from-autocomplete-only="true"
              display-property="name"
              key-property="id"
              replace-spaces-with-dashes="false"
              placeholder="Search for people by name"
              template="/ui/shared/ngTagsInput/tag-user.tpl.html">
    <auto-complete source="findMembers($query)"
                   display-property="name"
                   min-length="2"
                   template="/ui/shared/ngTagsInput/autocomplete-user.tpl.html"
    </auto-complete>
  </tags-input>

  <div class="text-center">
    <a class="add" ng-click="save()">
      <i class="icon-complete"></i> Add Contributors
    </a>
  </div>
</div>

