<div class="post" analytics-id="{{::post.id}}">

  <div class="user">
    <a ui-sref="user({community: post.communitySlug, id: post.user.id})">
      <div class="icon"> <span back-img="post.user.avatar" class="avatar"></span> </div>
      <div class="name">{{::post.user.name}}</div>
    </a>
  </div>

  <div class="post-container {{post.postType}}">
    <div class="post-content">
      <span class="post-options dropdown" ng-show="canDelete">
        <a class="dropdown-toggle"><i class="icon-down-new" title="icon-down-new"></i></a>
        <ul class="dropdown-menu">
          <li >
            <a class="post-option" ng-click="delete(comment)">delete</a>
          </li>
        </ul>
      </span> 
      <div class="post-header">
        <span class="post-info">
          <span class="type" ng-class="::post.postType">{{::post.postType | uppercase}}</span>
          <span class="fulfillment" ng-if="post.fulfilled">
            <div>
              <span ng-if="::post.contributors.length > 0">
              Fulfilled&nbsp;•&nbsp;Contributed to by&nbsp;<a class="contributor" ui-sref="user({community: post.communitySlug, id: contributor.id})" ng-repeat="contributor in post.contributors.slice(0, 2)"><span>{{::contributor.name}}</span><span ng-show="::!$last && post.contributors.length>1">,</span></a>
                <span ng-if="::post.contributors.length > 2">
                  <span class="dropdown">and
                  <a class="dropdown-toggle"><span>{{::post.contributors.length - 2}}</span> other<span ng-show="::post.contributors.length > 3">s</span></a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="contributor in post.contributors.slice(2)">
                      <a class="contributor" ui-sref="user({community: post.communitySlug, id: contributor.id})"><i back-img="::contributor.avatar" class="avatar"></i> <span>{{::contributor.name}}</span></a>
                    </li>
                  </ul>
                  </span>
                </span>
              </span>
              <span ng-if="::post.contributors.length == 0">
                No Contributors
              </span>
            </div>
          </span>

          <span class="timestamp" ng-if="!post.fulfilled">{{::post.creationDate | fromNow}}</span>&nbsp;&nbsp;
        </span>
        <br>
        <span ng-click="onCommentIconClick()">
          <span class="title">
            <span seed-text="post.name"></span>
          </span>

          <br ng-if="isPostText">

          <span ng-if="isPostText" class="post-description">
            <span seed-text="truncatedPostText"></span>
            <span ng-click="showMore($event)" ng-if='truncated' class="show-more-btn">Show More</span>
          </span>
        </span>
      </div>

      <div class="controls">
        <a ng-click="vote()" class="vote" tooltip-popup-delay="500" tooltip-html-unsafe="Do you <i class='icon-heart-new'></i> me?" >
          <i class="icon-following ng-class:{myVote: post.myVote}" ></i> <span class="num">{{post.votes}}</span>
        </a>
        <a ng-click="onFollowerIconClick()" tooltip-popup-delay="500" tooltip="Number of Members" class="num-followers" ng-class="{'link-selected': !isFollowersCollapsed}">
          <i class="icon-profile" style="font-size: 18px; vertical-align: sub;"></i> <span class="num">{{post.numFollowers}}</span>
        </a>
        <a ng-click="onCommentIconClick()" tooltip-popup-delay="500" tooltip="Add Comment" class="comment" ng-class="{'link-selected': !isCommentsCollapsed}">
          <i class="icon-comment"></i> <span class="num">{{post.numComments}}</span>
        </a>
        <div class="join-leave-link" ng-if="!isPostOwner()" ng-click="toggleJoinPost()">
          <span> {{joinPostText}} </span>
        </div>
        <div class="filfill-link" ng-if="isPostOwner() && !post.fulfilled">
          <span ng-click="markFulfilled()">Mark as Fulfilled</span>
        </div>

      </div>
      

      <div ng-if="!isFollowersCollapsed">
        <div class="followers">
          <span ng-if="followers.length > 0">
            <a class="follower" ui-sref="user({community: post.communitySlug, id: follower.value})" ng-repeat="follower in followers.slice(0, 2)"><span ng-bind="::follower.name"></span><span ng-if="::!$last && followers.length>1">,</span></a>
            <span ng-if="followers.length > 2">
              <span class="dropdown">and
              <a class="dropdown-toggle"><span ng-bind="followers.length - 2"></span> other<span ng-if="followers.length > 3">s</span></a>
              <ul class="dropdown-menu">
                <li ng-repeat="follower in followers.slice(2)">
                  <a class="follower" ui-sref="user({community: post.communitySlug, id: follower.value})"><i back-img="::follower.avatar" class="avatar"></i> {{::follower.name}}</a>
                </li>
              </ul>
              </span>
            </span>
            <span ng-if="followers.length > 1">are</span><span ng-if="followers.length == 1">is</span> following this seed.
          </span>
          <span ng-if="followers.length == 0">
            No followers.
          </span>
        </div>
        
        <div class="add-followers"> 
          <div class="add-label">Add Members:</div>
          <div class="add-tags">
            <tags options="{tagTemplateUrl: '/ui/app/tags_user.tpl.html'}"
                  model="followersToAdd"
                  typeahead-options="typeaheadOpts"
                  src="b as b.name for b in potentialFollowers">
            </tags>
          </div>
        </div>
        <div class="add-followers-complete" ng-show="followersToAdd.length > 0">
          <button class="add-followers-btn" ng-click="toggleEditFollowers($event)" > Done </button>
        </div>
      </div>

      <div ng-if="!isCommentsCollapsed">
        <embedded-comments post="post" follow-fn="followPost()"></embedded-comments>
      </div>
    </div>
  </div>
</div>
