<div class="post" analytics-id="{{::post.id}}">

  <a class="user" ui-sref="profile({id: post.user.id})">
    <div back-img="post.user.avatar" class="avatar"></div>
    <div class="name">{{::post.user.name}}</div>
  </a>

  <div class="post-container">
    <span class="post-options dropdown" dropdown ng-show="canEdit">
      <a class="dropdown-toggle" dropdown-toggle><i class="icon-down" title="icon-down-new"></i></a>
      <ul class="dropdown-menu">
        <li>
          <a class="post-option" ui-sref="community.editSeed({community: post.communitySlug, seedId: post.id})">Edit</a>
        </li>
        <li>
          <a class="post-option" ng-click="delete()">Delete</a>
        </li>
      </ul>
    </span>

    <div class="post-header">
      <span class="title" seed-text="post.name"></span>
      <img ng-if="post.hasMedia" class="full-media" ng-src="{{::post.media[0].url}}"/>
      <a ui-sref="seed({community: post.communitySlug, seedId: post.id})"
        ng-if="post.hasMedia" class="media" back-img="::post.media[0].url">
      </a>
      <div ng-if="isPostText" class="post-description">
        <div class="unpad-last-p" ng-bind-html="truncatedPostText | unsafe"></div>
        <span ng-click="showMore($event)" ng-if='truncated' class="show-more-btn">Show More</span>
      </div>
    </div>

    <div class="post-context">
      <span class="post-type" ng-class="::post.postType">{{::post.postType | uppercase}}</span>
      <a class="timestamp" ui-sref="seed({community: post.communitySlug, seedId: post.id})">{{::post.creationDate | fromNow}}</a>
      <div class="followers">
        <span ng-if="followers.length > 0 && !onlyAuthorFollowing">
          <!-- Add yourself as a follower -->
          <span ng-if="isFollowing">You</span><span ng-if="isFollowing && followersNotMe.length > 1">, </span>
          <span ng-if="isFollowing && followersNotMe.length == 1"> and </span>

          <!-- List Names -->
          <span ng-repeat="follower in followersNotMe.slice(0, 2)">
            <a class="follower" ui-sref="profile({id: follower.id})" ng-bind="::follower.name"></a><span ng-if="!$last && followersNotMe.length > 2">, </span>
            <span ng-if="!$last && followersNotMe.length == 2"> and </span>
          </span>

          <!-- Make a list of followers -->
          <span ng-if="followersNotMe.length > 2">
            and
            <span class="dropdown" dropdown on-toggle="openFollowers(open)">
              <a class="dropdown-toggle" dropdown-toggle>
                {{followersNotMe.length - 2}} other<span ng-if="followersNotMe.length > 3">s</span>
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="user in followersNotMe.slice(2)">
                  <a class="dropdown-list-user" ui-sref="profile({id: user.id})" ng-if="!user.hide">
                    <div back-img="::user.avatar_url" class="avatar"></div>
                    <div class="name">{{::user.name}}</div>
                  </a>
                </li>
              </ul>
            </span>
          </span>
          <span ng-if="isFollowing || followersNotMe.length > 1">have</span><span ng-if="!isFollowing && followersNotMe.length == 1">has</span> joined this seed.
        </span>
      </div>
    </div>

    <div class="fulfillment" ng-if="post.fulfilled">
      Fulfilled&nbsp;&nbsp;•&nbsp;
      <span ng-if="::post.contributors.length > 0">
        Contributed to by&nbsp;<a class="contributor" ui-sref="profile({id: contributor.id})" ng-repeat="contributor in post.contributors.slice(0, 2)"><span>{{::contributor.name}}</span><span ng-show="::!$last && post.contributors.length>1">,&nbsp;</span></a>
        <span ng-if="::post.contributors.length > 2">
          and
          <span class="dropdown" dropdown>
            <a class="dropdown-toggle" dropdown-toggle>
              {{::post.contributors.length - 2}}&nbsp;other<span ng-if="::post.contributors.length > 3">s</span>
            </a>

            <ul class="dropdown-menu">
              <li ng-repeat="user in post.contributors.slice(2)">
                <a class="dropdown-list-user" ui-sref="profile({id: user.id})">
                  <div back-img="::user.avatar" class="avatar"></div>
                  <div class="name">{{::user.name}}</div>
                </a>
              </li>
            </ul>
          </span>
        </span>
      </span>
      <span ng-if="::post.contributors.length == 0">
        No Contributors
      </span>
    </div>
     <div class="clearfix"></div>

    <div class="post-controls">
      <a ng-click="vote()" class="vote" tooltip-popup-delay="500" tooltip-html-unsafe="Show your support and bring this Seed to the attention of others">
        <i ng-if="!post.myVote" class="icon-heart-new"></i>
        <i ng-if="post.myVote" class="icon-heart-new-selected ng-class:{myVote: post.myVote}" ></i>
        <span class="num">{{post.votes}}</span>
      </a>
      <a ng-click="onFollowerIconClick()" tooltip-popup-delay="500" tooltip="Add members you would like to notify about this Seed" class="num-followers" ng-class="{'link-selected': editingFollowers}">
        <i ng-if="!editingFollowers" class="icon-add-member"></i>
        <i ng-if="editingFollowers" class="icon-add-member-selected"></i>
        <span class="num">{{post.numFollowers}}</span>
      </a>
      <a ng-click="onCommentIconClick()" tooltip-popup-delay="500" tooltip="Add Comment" class="comment" ng-class="{'link-selected': !isCommentsCollapsed}">
        <i ng-if="isCommentsCollapsed" class="icon-comment"></i>
        <i ng-if="!isCommentsCollapsed" class="icon-comment-selected"></i>
        <span class="num">{{post.numComments}}</span>
      </a>
      <a ng-click="toggleJoinPost()" tooltip-popup-delay="500" tooltip="{{joinPostTooltipText}}" class="join">
        <i ng-if="!isFollowing" class="icon-join"></i>
        <i ng-if="isFollowing" class="icon-leave"></i>
        <span class="num">{{joinPostText | uppercase}}</span>
      </a>
      <div class="fulfill-link" ng-if="isPostOwner() && !post.fulfilled">
        <span ng-click="markFulfilled()">Mark as Fulfilled</span>
      </div>
    </div>

    <div ng-if="editingFollowers" class="add-followers">
      <div class="add-label">Add Members:</div>
      <div class="add-tags">
        <tags options="{tagTemplateUrl: '/ui/app/tags_user.tpl.html'}"
          model="followersToAdd"
          typeahead-options="typeaheadOpts"
          src="b as b.name for b in potentialFollowers">
        </tags>
      </div>
    </div>

    <div class="add-followers-complete" ng-show="followersToAdd.length > 0">
      <button type="button" class="add-followers-btn" ng-click="toggleEditFollowers()" > Done </button>
    </div>
  </div>

  <div ng-if="!isCommentsCollapsed">
    <embedded-comments post="post"></embedded-comments>
  </div>
</div>
