<div class="menu"
  ng-class="{expanded: menu.isOpen(), collapsed: !menu.isOpen(), 'new-notifications': menu.user.notification_count > 0}"
  ng-mouseenter="menu.keepOpen()"
  ng-mouseleave="menu.closeSoon()">

  <ul class="list-unstyled clearfix" id="menu-links">
    <li class="current-community" ng-click="menu.open()">
      <div class="image-item">
        <div class="image-item-icon" back-img="community.avatar_url"></div>
        <a class="only-expanded" ui-sref="community.seeds({community: community.slug})">{{community.name}}</a>
      </div>
    </li>

    <li>
      <a id="menu-community" ng-click="menu.toggleMemberships()">
        <i class="only-hover icon-down" ng-class="{'rotate' : menu.areMembershipsShown()}"></i>
        <i class="icon-communities-new"></i>
        <span>Communities</span>
      </a>
    </li>

    <li class="sub-group" ng-show="menu.areMembershipsShown()" ng-repeat="membership in menu.user.memberships">
      <a ng-if="::membership.role == 1" ui-sref="community.settings({community: membership.community.slug})" class="open-settings only-hover">
        <i class="icon-settings"></i>
      </a>
      <a ui-sref="community.seeds({community: membership.community.slug})">
        <div class="image-item">
          <div class="image-item-icon" back-img="::membership.community.avatar_url"></div>
          <span>{{::membership.community.name}}</span>
        </div>
      </a>
    </li>

    <li>
      <a ui-sref="userSettings({community: community.slug, id: menu.user.id})" class="open-settings">
        <i class="icon-settings"></i>
      </a>
      <a ui-sref="profile({id: menu.user.id})">
        <i class="icon-profile"></i>
        <span>My Profile</span>
      </a>
    </li>

    <li>
      <a ui-sref="search">
        <i class="icon-search"></i>
        <span>Search</span>
      </a>
    </li>

    <li>
      <a id="menu-notifications" ui-sref="notifications">
        <i class="icon-notifications"></i>
        <span>
          <span ng-if="menu.user.notification_count > 0">{{menu.user.notification_count}}</span>
          Notification<span ng-hide="menu.user.notification_count == 1">s</span>
        </span>
      </a>
    </li>

  </ul>

  <div class="only-expanded footerLinks">
    <i class="icon-hylo-script footer-icon"></i>
    <br>
    <a href="/about" target="_blank">About</a> |
    <a href="/policies/terms-of-service" target="_blank">Terms of Use</a> |
    <a href="/policies/privacy" target="_blank">Privacy Policy</a>
  </div>

  <a class="hylo-logo only-collapsed hidden-xs">
    <i class="icon-hylo-script"></i>
  </a>

</div>
