<div class="modal-body onboarding-modal">
  <wizard on-finish="finishedWizard()">
    <wz-step title="Affiliations">
      <h4>Hi there! Welcome to Hylo!</h4>
      <p>Before you get started, tell us a little bit about yourself so we can introduce you to the community.</p>

      <label>Organizational Affiliations<br><small>What groups or organizations are you a part of?</small></label>
      <tags options="{selectOnBlur: true, tabindex: 1}"
          model="$root.currentUser.organizations" ></tags>

      <div class="text-right">
        <button class="btn btn-fulfill" wz-next="saveOrgs()" tabindex="2">Next</button>
      </div>
    </wz-step>

    <wz-step title="Skills">
      <h4>Skills</h4>
      <p>Are there any skills, joys, or hobbies you’d like to be known for in your community?</p>
      <tags options="{selectOnBlur: true, tabindex: 3}"
          model="$root.currentUser.skills"></tags>

      <div class="text-right">
        <button class="btn btn-fulfill" wz-next="saveSkills()" tabindex="4">Next</button>
      </div>
    </wz-step>

    <wz-step title="Requests">
      <h4>Requests</h4>
      <p>Is there anything you’re looking for right now that you think your community could help you find?<br><small>(Just add one thing right now: you can add more later.)</small></p>

      <textarea class="form-control" rows="3" tabindex="5" ng-model="wizard.request"></textarea>

      <div class="text-right">
        <button class="btn btn-default" wz-next="skip('request')" tabindex="100">Skip</button>
        <button class="btn btn-fulfill" wz-next tabindex="6">Next</button>
      </div>
    </wz-step>

    <wz-step title="Offers">
      <h4>Offers</h4>
      <p>Is there anything you’d like to share with your community?<br><small>(Just add one thing right now: you can add more later.)</small></p>

      <textarea class="form-control" rows="3" tabindex="7" ng-model="wizard.offer"></textarea>

      <div class="text-right">
        <button class="btn btn-default" wz-next="skip('offer')" tabindex="100">Skip</button>
        <button class="btn btn-fulfill" wz-next tabindex="8">Next</button>
      </div>
    </wz-step>

    <wz-step title="Intentions">
      <h4>Intentions</h4>
      <p>Is there anything you’ve been imagining that you’d like to create? Tell your community, and you'll find help in the most surprising places.<br><small>(Just add one thing right now: you can add more later.)</small></p>

      <textarea class="form-control" tabindex="9" rows="3" ng-model="wizard.intention"></textarea>

      <div class="text-right">
        <button class="btn btn-default" wz-next="skip('intention')" tabindex="100">Skip</button>
        <button class="btn btn-fulfill" wz-next tabindex="10">Finish</button>
      </div>
    </wz-step>
  </wizard>
</div>

