<div class="modal-body settingsModal">
  <tabset justified="true">
    <tab heading="General">
      <form role="form" name="settingsForm">
        <div class="form-group">
          <label for="settingsEmail">Current Email</label>
          <input id="settingsEmail" ng-blur="saveEmail()" type="email" name="userEmail" class="form-control gray"
            ng-model="user.email">
          <span class="help-block" ng-show="settingsForm.userEmail.$dirty">By changing your email, you will be logged out and will have to re-verify your new email address.</span>
          <span ng-if="linkedAccounts.length > 0">
            <span class="help-block">Linked Accounts: <span style="font-weight: 600" ng-repeat="account in linkedAccounts"><span ng-if="!$first">, </span>{{account | capitalize}}</span></span>
          </span>
        </div>

        <div class="divider"></div>

        <label>Email Preference</label>

        <div class="hyloRadio">
          <input type="radio" name="emailPref" ng-change="savePrefs()" ng-value="true" id="settingsYesLabel"
          ng-model="user.sendEmailPreference">
          <label for="settingsYesLabel"></label>
          <span>Check to receive email notifications<br><small>Receive updates on posts that I am following
          </small></span>
        </div>
        <div class="hyloRadio">
          <input type="radio" name="emailPref" ng-change="savePrefs()" ng-value="false" id="settingsNoLabel"
          ng-model="user.sendEmailPreference">
          <label for="settingsNoLabel"></label>
          <span>No thanks<br><small>Please don't send me any emails about activity in Seeds I’ve created or
            joined.
          </small></span>
        </div>

        <div class="divider"></div>

        <div class="hyloRadio">
          <input type="checkbox" name="dailyDigest" ng-change="savePrefs()" ng-value="false" id="dailyDigest"
          ng-model="user.dailyDigest">
          <label for="dailyDigest"></label>
          <span>Get Daily Digests?<br><small>We send out daily digests of new seeds in your commmunity.
            Deselect to opt out of these digests.
          </small></span>
        </div>

        <div class="divider"></div>

        <a class="btn btn-primary" href="/accounts/password/change" target="_self">Change Password</a>

        <br/><br/>

        <a class="btn btn-danger" href="/logout" target="_self">
          Logout
        </a>

        <div class="mfooter">
          <button type="button" class="btn btn-warning pull-right" ng-click="ok()">Close</button>
          <div class="clearfix"></div>
        </div>


        <!--<div class="divider"></div>-->

        <!--<label>Delete Account</label>-->
        <!--<br>-->
        <!--<a ng-click="deleteAccount()">using this link</a>-->
      </form>
    </tab>

    <tab heading="My Communities">
      <table class="table table-hover communities">
        <thead>
          <tr>
            <th>Name</th>
            <th>Monthly Fee</th>
            <th>Join Date</th>
            <th>Next Bill</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="membership in currentUser.memberships" tooltip="{{membership.description}}">
            <td class="semibold"><a ui-sref="community({community: membership.slug})">{{membership.name}}</a></td>
            <td>{{membership.fee}}</td>
            <td>{{membership.joinDate|date:'dd/MM/yyyy'}}</td>
            <td>{{(membership.nextInvoiceAt|date:"dd/MM/yyyy")||'-'}}</td>
            <td><a style="cursor: pointer" href="#" ng-click="deactivate(membership.communityId, membership.name)"><i class="icon-remove-inverse"> </i></a></td>
          </tr>
        </tbody>
      </table>
      <div class="mfooter">
        <button type="button" class="btn btn-warning pull-right" ng-click="ok()">Close</button>
        <div class="clearfix"></div>
      </div>
    </tab>
    <tab heading="Billing Details">

      <div class="billing-overview" ng-controller="BillingCtrl">
        <div class="billing" ng-show="$root.currentUser.last4Cc">
          <div class="col1">Payment type: <br>
            <span>XXXX XXXX XXXX {{$root.currentUser.last4Cc}}</span>
          </div>
          <div class="col3">
            <a href="#" ng-click="editPayment()">
              <small>Change</small>
            </a>
            <a href="#" ng-click="removePayment()">
              <small>Remove</small>
            </a>
          </div>
        </div>
        <div class="billing" ng-show="!$root.currentUser.last4Cc && !paymentEditing">
          <div ng-if="!hasPaidMembership" class="alert alert-info">Some communities on Hylo charge membership dues, which the community members can collectively allocate.
            You aren't a member of any communities that charge membership dues, so you're all good! :)
          </div>

          <div ng-if="hasPaidMembership" class="col1">
            <button type="button" class="btn btn-primary" ng-click="editPayment()">Add Payment Method</button>
          </div>
        </div>

        <div class="clearfix"></div>
        <div edit-credit-card="" on-cancel="cancelPaymentEdit()" on-success="cancelPaymentEdit()"
             ng-if="paymentEditing"></div>

        <div class="mfooter" ng-hide="paymentEditing">
          <button type="button" class="btn btn-warning pull-right" ng-click="ok()">Close</button>
          <div class="clearfix"></div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
