<div class="nav-title">
  Search <span ng-if="community">in {{community.name}}</span>
</div>

<div class="main-content">
  <div class="all-sections">

    <input type="text" class="search-input" ng-model="query" placeholder="Type to search" autofocus/>

    <div class="row">
      <div class="people">
        <h3>People</h3>

        <div class="person" ng-repeat="person in results.people track by person.id">
          <a class="avatar" back-img="::person.avatar_url" ui-sref="profile({id: person.id})"></a>
          <div class="info">
            <a class="name" bind-html-unsafe="::name(person)" ui-sref="profile({id: person.id})"></a>
            <p class="blurb" bind-html-unsafe="::blurb(person)"></p>
          </div>
        </div>
        <a ng-if="remaining('people') > 0" ng-click="loadMore('people')" class="load-more">
          Load {{pageSize('people')}} more (out of {{remaining('people')}})
        </a>

        <div ng-if="!searching && results.people.length == 0" class="no-results">
          No people matched your search.
        </div>

      </div>

      <div class="seeds">
        <h3>Seeds</h3>

        <div ng-repeat="seed in results.seeds track by seed.id">
          <hylo-post post="seed" remove-fn="removeSeed(postToRemove)"></hylo-post>
        </div>
        <a ng-if="remaining('seeds') > 0" ng-click="loadMore('seeds')" class="load-more">
          Show {{pageSize('seeds')}} more (out of {{remaining('seeds')}})
        </a>

        <div ng-if="!searching && results.seeds.length == 0" class="no-results">
          No seeds matched your search.
        </div>

      </div>
    </div>

  </div>
</div>
