<nav class="navbar navbar-default navbar-hylo-create" role="navigation">
  <div class="navbar-header">
    <i class="icon-hylo-script" ng-click="close()"></i>
  </div>
  <div class="navbar-center" href="#">
    Search
    <span ng-if="community">in {{community.name}}</span>
  </div>
  <a class="navbar-right close" ng-click="close()">&times;</a>
</nav>

<div class="main-content">
  <div class="all-sections">
    <input type="text" class="search-input" ng-model="query" placeholder="Type to search" autofocus/>

    <div class="row">
      <div class="seeds">
        <h3>Seeds</h3>

        <div ng-repeat="seed in seeds track by seed.id">
          <hylo-post post="seed" short="true" remove-fn="removeSeed(postToRemove)"></hylo-post>
        </div>

        <div ng-if="!searching && seeds.length == 0">
          No seeds matched your search.
        </div>

      </div>

      <div class="people">
        <h3>People</h3>

        <div class="person" ng-repeat="person in people track by person.id">
          <a class="avatar" back-img="::person.avatar_url" ui-sref="profile({id: person.id})"></a>
          <div class="info">
            <a class="name" bind-html-unsafe="::name(person)" ui-sref="profile({id: person.id})"></a>
            <p class="blurb" bind-html-unsafe="::blurb(person)"></p>
          </div>
        </div>

        <div ng-if="!searching && people.length == 0">
          No people matched your search.
        </div>

      </div>

    </div>
  </div>
</div>
