<div class="communities">
  <div>
    <div class="community-card-wrapper" ng-repeat="community in communities">

      <div class="community-card" ng-click="$state.go('community.posts', {community: community.slug})">
        <div class="background-wrapper">
          <div class="background"><div><div back-img="::community.banner_url"></div></div></div>
        </div>
        <div class="middle-content">
          <img class="logo" ng-src="{{community.avatar_url}}">
          <div class="name">{{community.name}}</div>
          {{community.memberCount}} members
        </div>
      </div>

    </div>
  </div>
</div>
