<% global.bodyClass = 'faqs-page'; %>
<%- include('../_header'); %>
<%- include('../_menu'); %>

<div class="container">
  <div class="row">
    <div class="section">
	    <div class="section-title"> About Hylo</div>

	    <%- include('whatIsHylo'); %>
    </div>
  </div>
</div>


<%- include('../_footer'); %>