<% global.bodyClass = 'about-page'; %>
<%- include('../_header'); %>
<%- include('../_menu'); %>

<div class="container help">
  <div class="row">
    <div>
    <div class="section">
	    <div class="section-title"> Getting Started </div>

	    <div class="question-title">How do I post a Seed?</div>
	    <div class="answer">From the community view, click the "Add Seed" button from the left hand side of the community toolbar. Follow the instructions on the "Add Seed" form to fill in your details and plant your Seed.</div>

	    <div class="question-title">How do I comment?</div>
	    <div class="answer">From any post, click the comment button to open comments. </div>

	    <div class="question-title">How do I notify other members of my Seed?</div>
	    <div class="answer">There are two ways to accomplish this. The first is to @mention a member in the description of your seed, or in the comments. <br>
	    The second way to accomplish this is to click on the "Add Members" button and enter the member's name in the form.</div>

	    <div class="question-title">How do I add a Topic to my seed?</div>
	    <div class="answer">You can add a topic by typing a # followed by the topic keyword. </div>

	    <div class="question-title">How do I see recent activity?</div>
	    <div class="answer">In the Main Menu (accessed by clicking your community's logo at the top of the screen on desktop, accessed in the hamburger menu on mobile), select "Notifications" to go to a page with all of the recent activity on your Seeds, as well as new comments on Seeds you've joined. </div>

	    <div class="question-title">Who can see my information?</div>
	    <div class="answer">Only the members of your community can see your profile, Seeds or any comments you have made. Members from other communities cannot see your profile or any of your activity. The site is currently in private Beta and none of the content on Hylo is available to the public. </div>
    </div>


    <div class="section">
	    <div class="section-title">"How do I...?"</div>

	    <div class="question-title">How do I change my photo?</div>
	    <div class="answer"> </div>

	    <div class="question-title">How do I change my email address?</div>
	    <div class="answer"> </div>

	    <div class="question-title">How do I log out?</div>
	    <div class="answer"> </div>
    </div>


   	<div class="section">
   		<div class="section-title">Post Features</div>
	   	<div class="question-title">@Mention </div>
	   	<div class="answer">Use this feature to notify other members that you think would be interested in your Seed or could help you spread the word. In the seed description or comments, just type "@" and start writing the person's name. A list will pop up for you to select your collaborators name.</div>

		<div class="question-title">Topics</div>
		 <div class="answer">A Topic allows you to add a searchable keyword to your Seed or comment. Just use the "#" to create #Topics. This makes it easier for people to find things that have a relevant #Topic. For example, if you are looking for a skill, you could type #programming or #writing and if your post is on a specific #Topic, you can type #books or #food.
		@Mentions and #Topics can be used in seed descriptions as well as in comments.</div>

		<div class="question-title">Joining</div>
		<div class="answer">To Join a seed and receive updates, just click the Join button on any Seed. Adding another member to a Seed or @mentioning them in the Seed or comments will also sign them up for updates on the Seed. </div>
	</div>

    <div class="section">
	    <div class="section-title">Get More Help</div>
	    <div class="question-title">Get more help or ask a question?</div>
	    <div class="answer">Once you are logged in, just click the question mark in the comment box in the bottom right hand corner of your screen at any time to send us a message. This will send our whole team a message and we will respond as soon as possible. </div>
    </div>


    </div>
  </div>
</div>


<%- include('../_footer'); %>