<div class="question-title">What is Hylo? </div>

<p>Hylo is a new kind of social network that helps real communities create, together.</p>

<p>In our communities-of-purpose; places like co-working spaces, maker spaces, and affinity groups, we're surrounded by incredible people, skills, and resources. But it’s hard to know who to connect with, for what, and when. Often the things we need most are closer than we think, but we just can’t see them.</p>

<p>What if someone nearby had exactly what you needed to further your project? What if you were that person for someone else? </p>

With Hylo, you can discover who in your community:
<ul><li>Has the skills you need</li>
<li>Is working on cool projects</li>
<li>Is available to support you</li>
<li>Needs your help</li></ul>

<p>When we share with others what we'd like to create, and what we need to make it real, magic happens.</p>

<p>Hylo helps you discover opportunities to connect, collaborate, and share resources in your community, so that you can make your dreams real.</p>

<div class="question-title">Who is it for?</div>

<p>Hylo is designed for communities-of-purpose, like: coworking spaces, startup accelerators, companies, alumni networks, affinity groups, and conferences.</p>

<p>Community Managers:
Help facilitate collaboration between community members.
Better understand how your members are engaging with each other.</p>

For companies:
<ul><li>Help create a more dynamic and collaborative work environment.</li>
<li>Reduce duplicative efforts.</li>
<li>Bubble up insights from all levels of the organization across 	divisions and silos.</li></ul>

For everyone:
<ul><li>Find what you’re looking for in your community.</li>
<li>Share your skills.</li>
<li>Help resources move between the communities you’re a part of.</li>
<li>Share your Intentions and spark collaboration.</li></ul>



<div class="question-title">Why is this important?</div>

<p>As we become more connected to each other, there is a dramatic increase in the amount of resources, skills, and connections that are collectively stewarded by the communities we are a part of.</p>

<p>Making visible the opportunities to connect, collaborate and share resources can unlock collaboration, creativity, and resource flow, even in communities that have very little access to traditional financial resources.</p>

<p>As we begin to open up opportunities for collaboration and sharing, not just within, but between our communities, we can begin to participate in building a culture of generosity and mutual support.</p>

<p>We see a world where we can all thrive by supporting each other. Together, we can create whatever we can imagine.</p>