
.biobar {
  border-radius: 5px;
  background-color: white;
  text-align: center;
  padding: 20px 0 10px;

  .profile-avatar {
    @avatar-size: 140px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: @avatar-size;
    width: @avatar-size;
    border-radius: @avatar-size / 2;
    margin: 0 auto 20px;

    .editOverlay {
      display: block;
      position: absolute;
      height: @avatar-size;
      width: @avatar-size;
      background-image: url(../images/editOverlay.png);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      opacity: 0.6;
    }

    .editOverlay:hover {
      opacity: 0.9;
    }

    & > .loadingNewImage {
      display: none;
    }

    &.loading .loadingNewImage {
      display: block;
      position: absolute;
      height: @avatar-size;
      width: @avatar-size;
      background-image: url(../images/loader_2.gif);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .name {
    .proxima-nova-semibold;
    font-size: 26px !important;
    color: black !important;
  }

  h4 {
    text-transform: uppercase;
    .proxima-nova-regular;
    font-size: @font-size-base;
    padding: 0 5px;
  }

  .skills, .organizations {
    text-transform: capitalize;
    padding: 0px 15px;
    font-size: @font-size-base;
    color: @text-gray;
  }

  .divider {
    width: 100%;
    height: 3px;
    background-color: @faint-gray;
    margin: 20px 0;
  }

  button {
    box-sizing: border-box;
    width: 70%;
    margin-bottom: 10px;
  }

  .editing {

    button {
      width: 33%;
      &.cancel {
        margin-right: 4%;
      }
    }

    .form-group {
      padding: 0 @std-padding;
    }

    .name {
      .form-control;
      .input-lg;
    }

    .skills, .organizations {

      .form-control;
      min-height: 60px;
    }
  }
}

.settingsModal {
  .divider {
    width: 100%;
    height: 3px;
    background-color: @faint-gray;
    margin: 20px 0;
  }

  h4 {
    text-align: center;
  }

  label {
    font-size: 20px;
    font-family: sans-serif;
  }
}
