.comments {
  margin-left: @post-avatar-margin;

  .loading {
    padding: @std-padding;
  }

  .comment {
    padding-top: @std-padding;
    background-color: @faint-gray;
    border-right: 1px solid @border-lightest;
    border-left: 1px solid @border-lightest;

    &.last {
      border-bottom: 1px solid @border-lightest;
      padding-bottom: @std-padding;
    }

    .avatar {
      .user-avatar-sm;
      margin: 0 @std-padding;
      float: left;
    }

    .comment-content {
      overflow: hidden;
      padding-right: 30px;
      max-width: 100%;
      word-wrap: break-word;
    }

    .comment-delete {
      a {
        float: right;

        &:hover {
          text-decoration: none;
        }

        .comment-delete-icon {
          color: @border-dark;
          font-size: 12px;
          margin: 5px -25px;

          &:hover {
            color: @link-color;
          }
        }
      }
    }

    .comment-text {
      .seed-body-text;
    }

    .controls {
      .seed-meta-text;
      line-height: 1.4;
      padding-top: 6px;
      border-bottom: none;

      a, span {
        color: @text-gray;
        margin: 0;
      }
    }

  }

  @media (max-width: @screen-xs-max) {
    margin: 0 -@std-padding;
  }
}

.add-comment {
  background-color: white;
  position: relative;
  padding: 6px 0;
  border: 1px solid @border-lightest;
  border-top: none;
  .seed-body-text;

  .avatar {
    .user-avatar-sm;
    margin: 0 @std-padding;
    float: left;
  }

  .comment-input {
    overflow: hidden;
    display: block;
    margin-top: 5px;
    min-height: 28px;

    .add-comment-btn {
      position: absolute;
      right: 3px;
      bottom: 1px;
    }

    textarea, .mentio-editor {
      padding: 0 0 5px;
      width: 81%;
      position: relative;
      top: 3px;
      z-index: 10;
    }

    .placeholder {
      font-style: italic;
      color: @inactive-text;
      top: 14px;
      position: absolute;
      z-index: 0;

      @media (max-width: @screen-xs-max) {
        top: 3px;
      }
    }
  }

  .empty-comment {
    font-style: italic;
  }

}

@media (max-width: @screen-xs-max) {

  .comments .comment {
    padding: @std-padding @std-padding 0;

    &.last {
      padding-bottom: @std-padding;
    }

    .avatar {
      .user-avatar-xs;
      margin-left: 0;
    }
    .comment-content {
      padding-right: 0;
    }
  }

  .add-comment {

    .avatar {
      margin-left: @std-padding;
      .user-avatar-xs;
    }

    .comment-input {
      margin-left: @avatar-size-xs + @std-padding * 2;
      margin-top: 2px;

      button {
        position: relative;
        margin-top: 12px;
      }
    }
  }
}

.comment-btn {
  margin-top: 3px;
  text-align: right;

  button {
    .rounded-button;
  }

  @media (max-width: @screen-xs-max) {
    margin-right: 5px;
  }
}
