.newSeed {
  .full-screen-modal;

  .seed-form {
  	.make-sm-column(8);
  	.make-sm-column-offset(2);

  	.seed-type {
  		.make-row;
  		border-bottom: 2px solid @default-border;
  		padding-bottom: @std-padding/2;

  		.seed-option {
  			.make-sm-column(4);

  			&.active {
  				label {
  					color: @default-text;
  				}
  			}

  			label {
  				.large-header;
  				color: @nonactive-text;
  			}

  			input[type=radio] {
  			    .round-radio;

				&:checked {
					&.intention {background-color: @intention-color; border-color: @intention-color;}
					&.offer {background-color: @offer-color; border-color: @offer-color;}
					&.request {background-color: @request-color; border-color: @request-color;}
					color: red;
				}
  			}
  		}
  	}

  	.seed-body {
  		.title {
  			.medium-title-text;
  			font-weight: 600;
  			margin-top: @std-padding*2;
  			margin-bottom: @std-padding/2;
  		}
  		input, textarea {
  			margin-bottom: @std-padding;
  			.proxima-nova-regular;
  			font-size: 18px;
  			width: 100%;
  		}
  	}
  }
}