.newSeed {
  .full-screen-modal;

  .main-col {
  	.make-sm-column(8);
  	.make-sm-column-offset(2);

  	.select-type {
  		.make-row;
  		border-bottom: 2px solid @default-border;
  		padding-bottom: @std-padding/2;

  		.option {
  			.make-sm-column(4);

  			&.active {
  				label {
  					color: @default-text;
  				}
  			}

  			label {
  				.large-header;
  				color: @nonactive-text;
  			}

  			input[type=radio] {
  			    .round-radio;

				&:checked {
					&.intention {background-color: @intention-color; border-color: @intention-color;}
					&.offer {background-color: @offer-color; border-color: @offer-color;}
					&.request {background-color: @request-color; border-color: @request-color;}
					color: red;
				}
  			}
  		}
  	}

  	.edit-content {
  		.title {
  			.medium-title-text;
  			font-weight: 600;
  			margin-top: @std-padding*2;
  			margin-bottom: @std-padding/2;
  		}
  		input, textarea {
  			margin-bottom: @std-padding;
  			.proxima-nova-regular;
  			font-size: 18px;
  			width: 100%;
  			border: 1px solid @default-border;
  		}
  	}

  	.bottom-bar {
  		.make-row;
  		border-top: 2px solid @default-border;
  		border-bottom: 2px solid @default-border;
  		margin-top: @std-padding;
  		margin-bottom: @std-padding;

  		.add-meta {
  			.make-sm-column(3);
  			.seed-meta-text;
  			padding-top: 1.5*@std-padding;
  			padding-bottom: 1.5*@std-padding;
  		}
  	}

    .save {
      .rounded-button;
    }
  }
}