.single-post {
  .make-sm-column(6);
  .make-sm-column-offset(3);
  margin-top: @std-padding * 2;

  @media (max-width: @screen-xs-max) {
    margin-top: @std-padding;
  }

  .post {
    .make-row;

    .full-media {
      display: block;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .media {
      display: none;
    }
  }
}

@post-avatar-margin: @avatar-size-default + @std-padding * 2;

.post {
  margin-bottom: @std-padding * 2;
  font-size: @font-size-base;

  @media (max-width: @screen-xs-max) {
    padding: 0 @std-padding;
  }

  .user {
    text-decoration: none;
    position: absolute;
    width: @avatar-size-default;
    vertical-align: top;
    display: block;

    @media (max-width: @screen-xs-max) {
      position: relative;
      width: initial;
    }

    .avatar {
      .user-avatar;
      margin: 0 auto;

      @media (max-width: @screen-xs-max) {
        .user-avatar-xs;
        display: inline-block;
        margin-right: 4px;
      }
    }

    .name {
      .seed-username-text;
      @media (max-width: @screen-xs-max) {
        line-height: @avatar-size-xs;
        display: inline-block;
        margin-top: 0;
      }
    }
  }

  .post-container {
    margin-left: @post-avatar-margin;
    @media (max-width: @screen-xs-max) {
      margin-left: 0;
    }
  }

  .post-options {
    .corner-dropdown-menu;
    top: 2px;
    margin-left: 10px;
  }

  .post-header {
    .title {
      margin-top: 0;
      margin-right: 10px;
      .seed-title-text;
    }

    .post-description {
      .seed-body-text;
      padding-top: 5px;
    }
  }

  .media, .full-media {
    width: 100%;
  }

  .media {
    .fluid-height(56.25%); // 16:9
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 10px 0 0;
  }

  .full-media {
    display: none;
  }

  .media, .full-media {
    @media (max-width: @screen-xs-max) {
      width: 100vw;
      margin-left: -@std-padding;
    }
  }

  .show-more-btn {
    color: @link-color;
  }

  .post-context {
    padding: 12px 0 0;
    margin-bottom: 9px;
    .seed-meta-text;

    .post-type {
      margin-right: 10px;

      &.intention {
        .seed-type-text(@intention-color);
      }
      &.request {
        .seed-type-text(@request-color);
      }
      &.offer {
        .seed-type-text(@offer-color);
      }
    }

    .timestamp {
      line-height: 20px;
    }
  }

  .fulfillment {
    .seed-meta-text;
    margin-bottom: 10px;

    a {
      color: @link-color;
    }
  }

  .post-controls {
    font-size: @font-size-small;
    margin-top: 9px;
    padding-bottom: 15px;
    .proxima-nova-light;

    border-bottom: 1px solid @border-lightest;

    &, > a {
      color: @light-gray;

      & .link-selected {
        color: @dark-blue;
      }
      i {
        color: @dark-blue;
        font-size: 16px;
        @media (max-width: @screen-xs-max) {
          font-size: 18px;
          font-weight: 400;
          top: 3px;
          position: relative;
        }
      }
    }

    > a {
      cursor: pointer;
      margin-right: 15px;
      text-decoration: none;
    }

    .myVote {
      color: pink;
    }

    .vote, .comment, .num-followers {
      display: inline-block;
      padding: 5px 4px;
      width: 50px;

      &:hover {
        .icon-following {
          text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
        }

        &, > .icon-comment {
          color: @gray;
        }
      }
    }

    .num {
      font-size: 14px;
      position: relative;
      top: -2px;
      @media (max-width: @screen-xs-max) {
        top: 0;
      }
    }

    .fulfill-link, .join-leave-link {
      display: inline-block;
      position: relative;
      float: right;
      top: 8px;
      color: @link-color;
    }

    @media (max-width: @screen-xs-max) {
      border-top: 1px solid @border-lightest;
      border-bottom: 1px solid @border-lightest;
      margin: 0 -@std-padding;
      height: 37px;

      > a {
        display: block;
        float: left;
        padding: 5px 0;
        width: 23.5vw !important;
        text-align: center;
        margin: 0;
      }

      .fulfill-link {
        display: none;
      }
    }

  }

  &.ng-leave {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;

    &.ng-leave-active {
      opacity: 0;
    }
  }

}

.post-without-avatar() {
  .user {
    display: none;
  }

  .post-container, .comments {
    margin-left: 0;
  }

  .comments {
    margin-left: 0;
    @media (max-width: @screen-xs-max) {
      margin-left: -@std-padding;
    }
  }
}