<div class="nav-title">{{project.id ? 'Edit' : 'Create a'}} Project</div>

<div class="main-content">
  <div class="all-sections">
    <div class="header">
      <a class="button save" ng-click="save()">Save {{project.isPublished() ? '' : 'Draft'}}</a>
      <p>Everything amazing in the world begins with a story of what might be. Tell us the story of what you want to create, and how it could become real.</p>
      <p>It doesn't have to be perfect; you can always edit it later.</p>
      <p ng-hide="project.isPublished()">In the next steps, you'll be able to make requests and invite people to contribute.</p>
    </div>

    <div>
      <div class="counter">{{60 - project.title.length}}/60</div>
      <label>Project title</label>
      <input type="text" class="form-control" ng-model="project.title" placeholder="What is your project called?" maxlength="60"/>
    </div>

    <div>
      <div class="counter">{{200 - project.intention.length}}/200</div>
      <label>Your intention for this project</label>
      <input type="text" class="form-control" ng-model="project.intention" placeholder="What do you want this project to accomplish?" maxlength="200">
    </div>

    <div>
      <label>Project details</label>
      <textarea class="form-control details" ng-model="project.details" placeholder="Provide more detail about the project, and why it is important to you."></textarea>
      <span class="help"><a href="/help/markdown" target="_blank">Markdown</a> is supported.</span>
    </div>

    <div class="add-media">
      <label>Photo or Video</label>
      <p class="help">A picture is worth a thousand words, and a video can help you communicate the impact of your project even more effectively.</p>

      <input type="text" ng-model="project.video_url" class="form-control" placeholder="Add a link to YouTube or Vimeo"/>
      &nbsp;or&nbsp;
      <a class="button" ng-class="{disabled: addingImage}" ng-click="addImage()">
        <span ng-hide="addingImage">Add a photo</span>
        <span ng-show="addingImage">Please wait...</span>
      </a>
      <br/>
      <div ng-if="project.image_url" class="image-preview">
        <a class="thumbnail" ng-href="{{project.image_url}}" target="_blank"><img ng-src="{{project.image_url}}"/></a>
        <a class="remove" ng-click="removeImage()">&times;</a>
      </div>

    </div>

    <div>
      <label>Community</label>
      <p class="help">Which of your communities will support this project the most?</p>
      <div class="btn-group" dropdown>
        <a class="button" dropdown-toggle>
          {{project.community.name}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="community in communities" ng-click="project.community = community">
            {{community.name}}
          </li>
        </ul>
      </div>

    </div>

    <div class="visibility">
      <label>Project visibility</label>
      <p class="help">Control who can see and contribute to this project.</p>
      <div class="btn-group" dropdown>
        <a class="button" dropdown-toggle>
          {{pickedVisibility().label}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="option in visibilityOptions" ng-click="project.visibility = option.value">
            {{option.label}}
          </li>
        </ul>
      </div>
      <p class="help">
        <strong>Only the community:</strong> only community members or people you invite may see and comment on it, once it is published. <strong>Anyone:</strong> the project will be visible to anyone who has the link, once published, and anyone will be able to join the project after signing up for Hylo.
      </p>
    </div>

    <div class="footer">
      <a class="button" ng-click="unpublish()" ng-if="project.isPublished()">Unpublish</a>
      <a class="button save" ng-click="save()">Save {{project.isPublished() ? '' : 'Draft'}}</a>
    </div>
  </div>
</div>
