<div class="cta-wrapper" ng-if="isCreator && !project.isPublished()">
  <div class="cta">
    <a class="button" ng-click="publish()">Publish</a>
    <strong>Draft Project</strong> &mdash; You can
    <a ui-sref="editProject({id: project.slug})">edit project details</a>,
    <a href='#requests'>add requests</a>, and
    <a href='#contributors'>invite contributors</a>
    until you are happy with how your project looks. Only you and the people you invite will be able to see this project until you publish it.
  </div>
</div>

<div class="summary-wrapper">
  <div class="summary">
    <a ng-show="isCreator" class="edit-button" ui-sref="editProject({id: project.slug})">Edit project</a>
    <h1>{{project.title}}</h1>

    <div class="columns">
      <div class="main-column">
        <div ng-if="project.image_url" class="media" back-img="project.image_url"></div>
        <anguvideo ng-if="project.video_url" class="media" ng-model="project.video_url"></anguvideo>
        <h3 class="intention">{{project.intention}}</h3>
        <see-more class="details" contents="details" truncated="truncatedDetails" expand="showFullDetails()">
        </see-more>

      </div>
      <div class="side-column">
        <div ng-show="isCreator">
          <h2>Hi {{project.user.name | firstName}}!</h2>
          <p>Get started on your project by adding requests and contributors below.</p>
        </div>
        <div ng-hide="isCreator">
          <h2>6 Open Requests</h2>
          <p>See how you can contribute by checking out the requests below.</p>
          <a class="engage-button">See Requests</a>
        </div>

        <ul>
          <li>
            <a class="avatar icon" back-img="project.user.avatar_url"></a>
            <div>Created by <strong>{{project.user.name}}</strong></div>
          </li>
          <li>
            <div class="community icon" back-img="project.community.avatar_url"></div>
            <div>Based out of <strong>{{project.community.name}}</strong></div>
          </li>
          <li>
            <div class="icon" back-img="'http://lorempixel.com/33/33/cats'"></div>
            <div>
              <strong>Visibility Indicator</strong>
              <br/>
              This project is yadda yadda
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="tabs-wrapper">
  <ul class="tabs">
    <li ng-class="{selected: $state.current.name === 'project.requests'}" ui-sref='.requests'>
      <h2>Requests</h2>
      <p ng-show="isCreator">Ask for what you need</p>
      <p ng-hide="isCreator">See how you can help</p>
    </li><!--
    <--></--><li ng-class="{selected: $state.current.name === 'project.contributors'}" ui-sref='.contributors'>
      <h2>Contributors</h2>
      <p ng-show="isCreator">Get people involved</p>
      <p ng-hide="isCreator">See who's involved</p>
    </li>
  </ul>
</div>

<div ui-view="tab" class="tab-content">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae iste nemo, vero eius architecto libero nobis recusandae neque, mollitia enim quibusdam! Optio quos asperiores magni quae veritatis eos sunt fuga.
</div>
