<div class="cta-wrapper" ng-if="!project.isPublished()">
  <div class="cta">
    <a class="button" ng-click="publish()" ng-if="canModerate">Publish</a>
    <strong>Draft Project</strong> &mdash;
    <span ng-show="canModerate">
      You can
      <a ui-sref="editProject({id: project.id})">edit project details</a>,
      <a ng-click="goToTab('posts')">add requests</a>, and
      <a ng-click="goToTab('contributors')">invite contributors</a>
      until you are happy with how your project looks. Only you and the people you invite will be able to see this project until you publish it.
    </span>
    <span ng-hide="canModerate">This project is only visible to those who have been invited to contribute.</span>
  </div>
</div>

<div class="summary-wrapper">
  <div class="summary">
    <a ng-show="canModerate" class="edit-button" ui-sref="editProject({id: project.id})">Edit project</a>
    <a ng-if="project.isPublic()" class="share-button" ng-click="share()">Share on Facebook</a>

    <h1>{{project.title}}</h1>

    <div class="columns">
      <div class="main-column">
        <div ng-if="project.image_url" class="media" back-img="project.image_url"></div>
        <anguvideo ng-if="project.video_url" class="media" ng-model="project.video_url"></anguvideo>
        <h3 class="intention">Core Intention: {{project.intention}}</h3>
        <see-more class="details" contents="details" truncated="truncatedDetails" expand="showFullDetails()">
        </see-more>

      </div>
      <div class="side-column">
        <div class="top-cta" ng-show="isCreator">
          <p>Move your project forward by adding requests and contributors below.</p>
        </div>
        <div class="top-cta" ng-hide="isCreator">
          <p>
            See how you can contribute by checking out the
            {{project.open_request_count}} request{{project.open_request_count === 1 ? '' : 's'}}
            below.
          </p>
        </div>
        <div class="top-cta" ng-hide="isCreator || isContributor">
          <p>Join the project to stay updated on its progress.</p>
          <a class="engage-button" ng-click="join()">Join Project</a>
        </div>

        <ul>
          <li>
            <a class="avatar icon" back-img="project.user.avatar_url"></a>
            <div>Created by <strong><a ui-sref="profile.posts({id: project.user.id})">{{project.user.name}}</a></strong></div>
          </li>
          <li>
            <div class="community icon" back-img="project.community.avatar_url"></div>
            <div>Based out of <strong><a ui-sref="community.posts({community: project.community.slug})">{{project.community.name}}</a></strong></div>
          </li>
          <li ng-if="project.isPublic()">
            <div class="icon" back-img="'<%= imageUrl('projects/public.svg') %>'"></div>
            <div>
              <strong>Public Project</strong>
              <br/>
              <span ng-show="project.isPublished()">This project is visible to anyone with the link, and anyone may join as a contributor by signing up with Hylo.</span>
              <span ng-hide="project.isPublished()">When published, this project will be visible to anyone with the link, and anyone will be able to join as a contributor by signing up with Hylo.</span>
            </div>
          </li>
          <li ng-if="!project.isPublic()">
            <div class="icon" back-img="'<%= imageUrl('projects/community.svg') %>'"></div>
            <div>
              <strong>Community Project</strong>
              <br/>
              <span ng-show="project.isPublished()">All members of {{project.community.name}} may view and join this project.</span>
              <span ng-hide="project.isPublished()">All members of {{project.community.name}} may view and join this project when it is published.</span>
            </div>
          </li>
          <li ng-show="isContributor">
            <a class="button" ui-sref="project.settings({id: project.slug})">
              <i class="icon-settings"></i>
              Settings
            </a>
          </li>

        </ul>
      </div>
    </div>

  </div>
</div>

<a name="tabs"></a>
<div class="tabs-wrapper">
  <ul class="tabs">
    <li ng-class="{selected: $state.current.name === 'project.posts'}" ng-click="goToTab('posts')">
      <h2>Requests &amp; Offers</h2>
      <p ng-show="canModerate">Ask for what you need</p>
      <p ng-hide="canModerate">See how you can help</p>
    </li><!--
    --><li ng-class="{selected: $state.current.name === 'project.contributors'}" ng-click="goToTab('contributors')">
      <h2>Contributors</h2>
      <p ng-show="canModerate">Get people involved</p>
      <p ng-hide="canModerate">See who's involved</p>
    </li>
  </ul>
</div>

<div class="tab-content-wrapper">
  <div ui-view="tab" class="tab-content"></div>
</div>
