.add-new {
  .rounded-button;
  &, &:hover {
    text-decoration: none;
  }
  i {
    font-size: 12px;
    font-weight: 100;
  }
  .new-post-label {
    position: relative;
    top: 1px;
  }
}

.posts-toolbar {
  .has-rounded-dropdowns;

  .add-new {
    @media (max-width: @screen-xs-max) {
      .circular-button;
    }
  }

  > div {
    .make-sm-column(8);
    .make-sm-column-offset(2);
    .make-md-column(6);
    .make-md-column-offset(3);
  }

  .search {
    .rounded-button;
    margin-right: 5px;
    padding: 0;
    width: 32px;
    text-align: center;
    vertical-align: middle;

    i {
      font-weight: 600;
      top: 1px;
    }
  }

  .reload {
    .circular-button;
    i {
      position: relative;
      top: 3px;
    }
  }
}

.community-posts {
  .reminder {
    width: 100%;
    overflow: hidden;
    padding: @std-padding 0;
    background-color: @hylo-teal;
    .title-text;
    &, a { color: @white; }

    > div {
      .make-sm-column(6);
      .make-sm-column-offset(3);
    }

    .help {
      .meta-text;
      color: @white !important;
      a {
        text-decoration: underline;
      }
    }
  }
}

.posts {
  .make-sm-column(8);
  .make-sm-column-offset(2);
  .make-md-column(6);
  .make-md-column-offset(3);

  padding-top: @std-padding;
  @media (max-width: @screen-xs-max) {
    padding-top: @std-padding;
    padding-left: 0;
    padding-right: 0;

    .no-posts {
      padding: 0 @std-padding;
    }
  }
}

.inline-post-input {
  min-height: 34px;
  margin-bottom: @std-padding * 2;
  position: relative;
  z-index: 1;
  background-color: @white;

  > input[type="text"] {
    .form-control;
    .small-header;
    position: absolute;
  }

  .edit-post {
    border: 1px solid @border-lightest;
    padding: @std-padding;
    background-color: @faint-gray;
    border-radius: @border-radius-base;

    @media (max-width: @screen-xs-max) {
      margin-top: -@std-padding;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;

      .select-type {
        text-align: center;
      }
    }

    > div {
      display: none;
    }
  }

  .edit-content {
    display: block !important;
    padding-top: 0;

    > *, .descriptions {
      display: none;
    }

    .select-type, .post-title {
      display: block;
    }
  }

  &.expanded {
    .edit-post {
      padding-bottom: 0;

      > div {
        display: block;
      }
    }

    .edit-content {
      display: block;

      > *, .descriptions {
        display: block;
      }
    }
  }
}

.all-sections {
  .inline-post-input {
    .edit-post {
      margin-top: 0;
      margin-left: -@std-padding;
      margin-right: -@std-padding;
    }
  }
}
