.add-new {
  .rounded-button;
  &, &:hover {
    text-decoration: none;
  }
  i {
    font-size: 12px;
    font-weight: 100;
  }
  .new-seed-label {
    position: relative;
    top: 1px;
  }
}

.community-posts-toolbar {
  .has-rounded-dropdowns;

  .add-new {
    @media (max-width: @screen-xs-max) {
      .circular-button;
    }
  }

  > div {
    .make-sm-column(6);
    .make-sm-column-offset(3);
  }

  .search {
    .rounded-button;
    padding: 0;
    width: 32px;
    text-align: center;
    vertical-align: middle;

    i {
      font-weight: 600;
      top: 1px;
    }
  }
}

.community-posts {
  .reminder {
    width: 100%;
    overflow: hidden;
    padding: @std-padding 0;
    background-color: @hylo-teal;
    .title-text;
    &, a { color: white; }

    > div {
      .make-sm-column(6);
      .make-sm-column-offset(3);
    }

    .help {
      .meta-text;
      color: white !important;
      a {
        text-decoration: underline;
      }
    }
  }
}

.posts {
  .make-sm-column(6);
  .make-sm-column-offset(3);

  padding-top: 25px;
  @media (max-width: @screen-xs-max) {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
  }
}
