.community-settings {
  .settings-page;
  .full-screen-modal;

  .edit {
    .form-control {
      margin-bottom: 10px;
      text-align: left;
    }
  }

  .appearance {
    label {
      .title-text;
    }
    .edit {
      text-align: right;

      p.help {
        text-align: left;

        &.error {
          color: @error-color;
        }

      }
    }
    .community-icon {
      width: 60px;
      height: 60px;
      background-size: cover;
      vertical-align: middle;
      display: inline-block;
      margin-right: 10px;
      @media (max-width: @screen-xs-max) {
        display: block;
        margin-bottom: 10px;
      }
    }
    .community-banner {
      display: block;
      width: 100%;
      .fluid-height(38.2%);
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
    button {
      .rounded-button;
    }

    .welcome-message {
      .value {
        .community-leader-message;
      }
    }
  }

  .description {
    .value {
      div {
        text-align: left;
        max-height: 50vh;
        overflow: scroll;
        border: 1px solid @border-light;
        border-radius: @border-radius-base;
        padding: 6px 12px;
        margin-bottom: 10px;
      }
    }
    .edit {
      textarea {
        min-height: 30vh;
      }
    }
    .help {
      float: left;
    }
  }

  .moderators {
    .moderator {
      position: relative;

      .avatar {
        .user-avatar-sm;
        float: left;
      }
      .name {
        .remove-link-display;
        .body-text;
        line-height: 33px;
        margin-left: 48px;
        margin-bottom: @std-padding;
        display: block;
      }
    }
    .close {
      position: absolute;
      right: -8px;
      top: 0;
      line-height: 33px;
      width: 33px;
      text-align: center;
    }
  }

  .slack {
    .webhook {
      position: relative;

      .hook {
        .remove-link-display;
        .body-text;
        line-height: 33px;
        display: block;
        padding-right: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .close {
      position: absolute;
      right: -8px;
      top: 0;
      line-height: 33px;
      width: 33px;
      text-align: center;
    }
  }

  .section {
    // this nested div hack is necessary because you
    // can't apply padding to the parent directly; it
    // causes a visual "hiccup" when collapsing
    > div {
      padding-top: @std-padding;
      padding-bottom: @std-padding;
    }
  }
}
