<div class="row">
	<div class="support-content">
		<h1>Help</h1>

		<a href="#about">About Hylo</a>&nbsp;&nbsp;•&nbsp;
		<a href="#getting-started">Getting Started</a>&nbsp;&nbsp;•&nbsp;
		<a href="#features">Features</a>
		<br/><br/>

		<a name="about"></a>
		<h2>About Hylo</h2>

		<%- include('../../pages/faq/_whatIsHylo'); %>

		<a name="getting-started"></a>
		<h2>Getting Started</h2>

		<h3>How does it work?</h3>

		<p>Hylo is simple. You can post three types of content on Hylo:</p>
		<ul>
			<li><strong>Intention</strong>: Something you’d like to create, and want others to join you in creating.</li>
			<li><strong>Offer</strong>: Something you have that you’d like to share.</li>
			<li><strong>Request</strong>: Something you’re looking for that you don’t know where to find.</li>
		</ul>

		<p>You can comment on posts and <a href="#mention">@mention</a> people in your community in the comments. Soon, you’ll be able to share them with your friends on Facebook and Twitter.</p>

		<a name="post"></a>
		<h3>How do I post?</h3>
		<p>From the community view, click the "New Post" button from the left hand side of the community toolbar. Follow the instructions on the "New Post" form to fill in your details and create your post.</p>

		<h3>What should I post?</h3>
		<p>Here are some tips for creating great posts that will get the attention of other members and be well received by your community.</p>

		<p><strong>Offers</strong></p>

		<ul>
			<li>Include important details, like dates, times, and how you'd like to be compensated.</li>
			<li>Mention people in the comments (using @) who might be interested, or could help spread the word.</li>
			<li>Have people vouch for you in the comments.</li>
			<li>Make your offer appealing! Think about what you’d be interested in seeing, and what would get your attention.</li>
		</ul>

		<p><strong>Intentions</strong></p>

		<ul>
			<li>Help people feel the “why” behind your intention.</li>
			<li>Outline some of the things you’ve thought about that might be necessary to make the intention real.</li>
			<li>Do you need people with specific skills or resources to help make it come true? Say so!</li>
		</ul>

		<p><strong>Requests</strong></p>

		<ul>
			<li>Let people know why you need what you’re looking for.</li>
			<li>Say what you could offer in return.</li>
			<li>Thank people who help you!</li>
			<li>Be clear and specific, and give important details: who, what, where, when.</li>
		</ul>

		<p>And, most importantly, if people comment, make sure to follow up so that you can set things in motion.</p>

		<p>Each post is part of a story of a world that might be—something that could happen if the right people come together. With a good story about the future, and the support of our community, we can create anything we can imagine.</p>

		<h3>How do I comment?</h3>
		<p>From any post, click the “comment” <show icon> button to open comments.</p>

		<h3>How do I notify other members about my posts?</h3>
		<p>There are two ways to accomplish this. The first is to <a href="#mention">@mention</a> a member in the description of your post, or in the comments.</p>
		<p>The second way to accomplish this is to click on the "Add Members" button and enter the member's name in the form.</p>

		<h3>How do I add a Topic (or hashtag) to my post?</h3>
		<p>You can add a <a href="#topic">topic</a> by typing a <strong>#</strong> followed by the topic keyword, i.e. a hashtag.</p>

		<h3>How do I see all the activity in my community?</h3>
		<p>On the top navigation bar, select the “Community” icon <span class="community-icon"><%- include('../../../img/projects/community.svg') %></span> on the left, and then select the community whose feed you’d like to view.</p>
		<p>To see notifications for posts you follow, in the top navigation bar, select <i class="icon-notifications"></i> to go to a page with all of the recent activity on your posts, as well as new comments on posts you follow.</p>

		<h3>Who can see my information?</h3>
		<p>Only the members of your community can see your profile, posts or any comments you have made. Members from other communities cannot see your profile or any of your activity. The site is currently in private beta and none of the content on Hylo is available to the public.</p>

		<h3>How do I change my photo?</h3>
		<p>On the top navigation bar at the top right of the screen, click your photo. This will reveal a menu that will enable you to visit your profile. On your profile, click the button on the top right that says “Edit my profile.” Selecting your photo in profile editing mode will walk you through adding a photo from your computer or the internet.</p>

		<h3>How do I change my email address?</h3>
		<p>On the top navigation bar at the top right of the screen, click your photo. This will reveal a menu that will enable you to visit your profile. On your profile, click the button on the top right that says “Settings.” This will bring up a settings menu that will allow you to change your email address.</p>

		<h3>How do I change my email preferences?</h3>
		<p>On the top navigation bar at the top right of the screen, click your photo. This will reveal a menu that will enable you to visit your profile. On your profile, click the button on the top right that says “Settings.” This will bring up a settings menu that will allow you to change your email preferences.</p>

		<h3>How do I log out?</h3>
		<p>On the top navigation bar at the top right of the screen, click your photo. This will reveal a menu that will enable you to log out.</p>

		<a name="features"></a>
		<h2>Post Features</h2>

		<a name="mention"></a>
		<h3>@Mention</h3>
		<p>Use this feature to notify other members that you think would be interested in your Hylo or could help you spread the word. In the Hylo description or comments, just type <strong>@</strong> and start writing the person's name. A list will pop up for you to select your collaborator's name.</p>

		<a name="topic"></a>
		<h3>#Topics</h3>
		<p>A Topic (aka a hashtag) allows you to add a searchable keyword to your Hylo or comment. Just use the "#" to create #Topics. This makes it easier for people to find things that have a relevant #Topic. For example, if you are looking for a skill, you could type #programming or #writing and if your post is on a specific #Topic, you can type #books or #food. @Mentions and #Topics can be used in post descriptions as well as in comments.</p>

		<h3>Following</h3>
		<p>To receive updates, just click the <i class="icon-join"></i> FOLLOW button on any post. The button will change to <i class="icon-leave"></i> UNFOLLOW, which you can click again to stop receiving updates.</p>
		<p>Adding another member to a post or @mentioning them in the post or comments will also sign them up for updates on the post.</p>

		<h3>Get More Help</h3>
		<p>Want to ask a question or get more help?</p>
		<p>Just click the question mark icon in the bottom right of your screen at any time. From here, you can send our team a message, and we will respond as soon as possible.</p>

	</div>
</div>
