<div class="row">
	<div class="support-content">
		<div class="section-title">About Hylo </div>
		<%- include('../../pages/faq/whatIsHylo'); %>

		<div class="section-title">Getting Started</div>

		<div class="question-title">How does it work?</div>

		Hylo is simple. You can post three types of Seeds on Hylo:
		<ul>
			<li>“Intention”: Something you’d like to create, and want others to join you in creating.</li>
			<li>“Offer”: Something you have that you’d like to share.</li>
			<li>“Request”: Something you’re looking for that you don’t know where to find.</li>
		</ul>

		We call these "Seeds". Seeds can become collaborative conversations.<br>

		You can comment on Seeds, @mention people in your community in the comments. Soon, you’ll be able to share them with your friends on Facebook and Twitter.

		<div class="question-title">How do I post?</div>
		From the community view, click the "Add Seed" button from the left hand side of the community toolbar. Follow the instructions on the "Add Seed" form to fill in your details and plant your Seed.

		<div class="question-title">How do I comment?</div>
		From any post, click the “comment” <show icon> button to open comments.

		<div class="question-title">How do I notify other members of my Hylo?</div>
		There are two ways to accomplish this. The first is to @mention a member in the description of your seed, or in the comments.<br>

		The second way to accomplish this is to click on the "Add Members" button and enter the member's name in the form.

		<div class="question-title">How do I add a Topic to my seed?</div>
		You can add a topic by typing a # followed by the topic keyword.

		<div class="question-title">How do I see all the activity in my community?</div>
		On the top navigation bar, select the “Community” Icon on the left, and then select the community whose feed you’d like to review.

		To see notifications for Seeds you’ve joined, in the top navigation bar, select "Notifications" to go to a page with all of the recent activity on your Seeds, as well as new comments on Seeds you've joined.

		<div class="question-title">Who can see my information?</div>
		Only the members of your community can see your profile, Seeds or any comments you have made. Members from other communities cannot see your profile or any of your activity. The site is currently in private Beta and none of the content on Hylo is available to the public.

		<div class="question-title">How do I change my photo?</div>
		On the top navigation bar at the top right of the screen, click your photo. This will reveal a menu that will enable you to visit your profile. On your profile, click the button on the top right that says “Edit my profile.” Selecting your photo in profile editing mode will walk you through adding a photo from your computer or the internet.

		<div class="question-title">How do I change my email address?</div>
		On the top navigation bar at the top right of the screen, click your photo. This will reveal a menu that will enable you to visit your profile. On your profile, click the button on the top right that says “Settings.” This will bring up a settings menu that will allow you to change your email address.

		<div class="question-title">How do I change my email preferences?</div>
		On the top navigation bar at the top right of the screen, click your photo. This will reveal a menu that will enable you to visit your profile. On your profile, click the button on the top right that says “Settings.” This will bring up a settings menu that will allow you to change your email preferences.

		<div class="question-title">How do I log out?</div>
		On the top navigation bar at the top right of the screen, click your photo. This will reveal a menu that will enable you to log out.


		<div class="section-title">Post Features</div>
		<div class="question-title">@Mention</div>
		Use this feature to notify other members that you think would be interested in your Hylo or could help you spread the word. In the Hylo description or comments, just type "@" and start writing the person's name. A list will pop up for you to select your collaborators name.

		<div class="question-title">#Topics</div>
		A Topic allows you to add a searchable keyword to your Hylo or comment. Just use the "#" to create #Topics. This makes it easier for people to find things that have a relevant #Topic. For example, if you are looking for a skill, you could type #programming or #writing and if your post is on a specific #Topic, you can type #books or #food. @Mentions and #Topics can be used in seed descriptions as well as in comments.

		<div class="question-title">Joining</div>
		To Join a Hylo and receive updates, just click the Join button on any Hylo. Adding another member to a Hylo or @mentioning them in the Hylo or comments will also sign them up for updates on the Hylo.

		<div class="question-title">Get More Help</div>
		Get more help or ask a question?<br>
		Once you are logged in, just click the question mark in the comment box in the bottom right hand corner of your screen at any time to send us a message. This will send our whole team a message and we will respond as soon as possible.
	</div>
</div>
