<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <i class="icon-hylo-script" ng-click="close()" ng-hide="onboardingMode"></i>
  </div>
  <div class="navbar-center" href="#">{{editing ? 'Edit' : 'New'}} Seed</div>
  <a class="navbar-right close" ng-click="close()" ng-hide="onboardingMode">&times;</a>
</nav>

<div class="main-content">
  <div class="all-sections">
    <div ng-if="onboardingMode" class="onboarding-text">
      <p>Here, you can create your first seed. We encourage you to create an Offer. If you're not sure what to offer, remember that it can be any thing, service, knowledge, or experience, drawing from your personal or professional life.</p>

      <p><strong>Think of this as a way of introducing yourself.</strong> What's something that you can offer that might surprise or delight your fellow community members?</p>
    </div>

    <div class="select-type">
      <div class="option intention" ng-class="{active: seedType==='intention'}">
        <label>
          <input type="radio" ng-checked="seedType==='intention'" ng-click="switchSeedType('intention')">
            Intention
        </label>
      </div>
      <div class="option offer" ng-class="{active: seedType==='offer'}">
        <label>
          <input type="radio" ng-checked="seedType==='offer'" ng-click="switchSeedType('offer')">
            Offer
        </label>
      </div>
      <div class="option request" ng-class="{active: seedType==='request'}">
        <label>
          <input type="radio" ng-checked="seedType==='request'" ng-click="switchSeedType('request')">
            Request
        </label>
      </div>
      <p class="help">
        <span ng-if="seedType==='intention'">Intention: Something you’d like to create, with the support of your community.</span>
        <span ng-if="seedType==='offer'">Offer: Any skill, item, information, or opportunity that you’d like to share.</span>
        <span ng-if="seedType==='request'">Request: Some skill, item, information, or opportunity that you're looking for.</span>
      </p>
    </div>

    <div class="edit-content">
      <div class="title">Seed Title</div>
      <input type="text" class="form-control" ng-model="title"/>
      <div class="title">Description</div>

      <div ng-model="description" autocomplete="off" contenteditable="true"
        class="mentio-editor form-control elastic"
        placeholder="Add more detail here."
        mentio=""
        mentio-trigger-char="'@'"
        mentio-items="people"
        mentio-template-url="/ui/shared/people-mentions.tpl.html"
        mentio-search="searchPeople(term)"
        mentio-select="getPeopleTextRaw(item)"
        mentio-typed-term="typedTerm">
      </div>
      <p class="help">This seed will be visible only to other members of your community. You can edit or remove it at any time.</p>
    </div>

    <div class="bottom-bar">
      <div class="add-meta image">
        <a ng-click="addImage()">
          <i class="icon-add-photo"></i>
          <span ng-hide="addingImage">{{imageUrl ? 'Change' : 'Attach'}} Image</span>
          <span ng-show="addingImage">Please wait...</span>
        </a>

        <div ng-if="imageUrl">
          <a class="thumbnail" ng-href="{{imageUrl}}" target="_blank"><img ng-src="{{imageUrl}}"/></a>
          <a class="remove-image" ng-click="removeImage()">&times;</a>
        </div>
      </div>

      <div class="add-meta done">
        <button ng-click="onboarding.goNext()" ng-show="onboardingMode" class="skip">
          Not Now
        </button>
        <button type="button" class="save" ng-click="save()" ng-disabled="saving">
          <i class="icon-little-check"></i>
          <span ng-if="saving">Saving...</span>
          <span ng-hide="saving">{{editing ? 'Save Changes' : 'Plant Seed'}}</span>
        </button>
      </div>
    </div>

  </div>
</div>
