<nav class="navbar navbar-default navbar-hylo-create" role="navigation">
  <div class="navbar-header">
    <i class="icon-hylo-script" ng-click="close()" ng-hide="onboardingMode"></i>
  </div>
  <div class="navbar-center" href="#">{{editing ? 'Edit' : 'New'}} Seed</div>
  <a class="navbar-right close" ng-click="close()" ng-hide="onboardingMode">&times;</a>
</nav>

<div class="main-content">
  <div class="all-sections">

    <div class="select-type">
      <div class="option intention" ng-class="{active: seedType==='intention'}">
        <label>
          <input type="radio" ng-checked="seedType==='intention'" ng-click="switchSeedType('intention')">
            Intention
        </label>
      </div>
      <div class="option offer" ng-class="{active: seedType==='offer'}">
        <label>
          <input type="radio" ng-checked="seedType==='offer'" ng-click="switchSeedType('offer')">
            Offer
        </label>
      </div>
      <div class="option request" ng-class="{active: seedType==='request'}">
        <label>
          <input type="radio" ng-checked="seedType==='request'" ng-click="switchSeedType('request')">
            Request
        </label>
      </div>
    </div>

    <div class="edit-content">
      <div class="title">Seed Title</div>
      <input type="text" class="form-control" ng-model="title" autofocus='true'/>
      <div class="title">Description</div>

      <div ng-model="description" autocomplete="off" contenteditable="true"
        class="mentio-editor form-control elastic"
        placeholder="Add more detail here."
        mentio=""
        mentio-trigger-char="'@'"
        mentio-items="people"
        mentio-template-url="/ui/shared/people-mentions.tpl.html"
        mentio-search="searchPeople(term)"
        mentio-select="getPeopleTextRaw(item)"
        mentio-typed-term="typedTerm">
      </div>
    </div>

    <div class="bottom-bar">
      <div class="add-meta duration"><a>Duration</a></div>
      <div class="add-meta members"><a>Add Members</a></div>

      <div class="add-meta image">
        <a ng-click="addImage()">
          <i class="icon-add-photo"></i>
          <span ng-hide="addingImage">{{imageUrl ? 'Change' : 'Attach'}} Image</span>
          <span ng-show="addingImage">Please wait...</span>
        </a>

        <div ng-if="imageUrl">
          <a class="thumbnail" ng-href="{{imageUrl}}" target="_blank"><img ng-src="{{imageUrl}}"/></a>
          <a class="remove-image" ng-click="removeImage()">&times;</a>
        </div>
      </div>

      <div class="add-meta done">
        <button type="button" class="save" ng-click="save()" ng-disabled="saving">
          <i class="icon-little-check"></i>
          <span ng-if="saving">Saving...</span>
          <span ng-hide="saving">{{editing ? 'Save Changes' : 'Plant Seed'}}</span>
        </button>
      </div>
    </div>

    <div class="notifications"></div>

    <a ng-click="onboarding.goBack()" ng-show="onboardingMode">Back</a>
    <a ng-click="onboarding.goNext()" ng-show="onboardingMode">Skip</a>
  </div>
</div>
