<nav class="navbar navbar-default navbar-hylo-create" role="navigation">
  <div class="navbar-header">
    <i class="icon-hylo-script" ng-click="close()"></i>
  </div>
  <div class="navbar-center" href="#">New Seed</div>
  <a class="navbar-right close" ng-click="close()">&times;</a>
</nav>

<div class="main-content">
  <div class="seed-form">
    <div class="seed-type">
      <div class="seed-option">
        <label>
          <input type="radio" class="intention" name="seedTypeSelector" value="intention" checked>
            Intention
        </label>
      </div>
      <div class="seed-option">
        <label>
          <input type="radio" class="offer" name="seedTypeSelector" value="offer">
            Offer
        </label>
      </div>
      <div class="seed-option">
        <label>
          <input type="radio" class="request" name="seedTypeSelector" value="request">
            Request
        </label>
      </div>
    </div>

    {{foo}}
  </div>
</div>
