<nav class="navbar navbar-default navbar-hylo-create" role="navigation">
  <div class="navbar-header">
    <i class="icon-hylo-script" ng-click="close()"></i>
  </div>
  <div class="navbar-center" href="#">New Seed</div>
  <a class="navbar-right close" ng-click="close()">&times;</a>
</nav>

<div class="main-content">
  <div class="main-col">

    <div class="select-type">
      <div class="option" ng-class="{active: seedType==='intention'}">
        <label>
          <input type="radio" class="intention" name="seedTypeSelector" value="intention" ng-click="switchSeedType('intention')" checked>
            Intention
        </label>
      </div>
      <div class="option" ng-class="{active: seedType==='offer'}">
        <label>
          <input type="radio" class="offer" name="seedTypeSelector" value="offer" ng-click="switchSeedType('offer')">
            Offer
        </label>
      </div>
      <div class="option" ng-class="{active: seedType==='request'}">
        <label>
          <input type="radio" class="request" name="seedTypeSelector" value="request" ng-click="switchSeedType('request')">
            Request
        </label>
      </div>
    </div>

    <div class="edit-content">
      <div class="title">Seed Title</div>
      <input type="text" ng-model="titleText"/>
      <div class="title">Description</div>
      <textarea rows="3" ng-model="descriptionText" placeholder="Why, when, where, what do you need?"> </textarea>
    </div>

    <div class="bottom-bar">
      <div class="add-meta">Duration</div>
      <div class="add-meta">Add Members</div>
      <div class="add-meta"><a ng-click="addImage()">Attach Photo</a></div>
      <div class="add-meta"><button type="button" class="done">Plant Seed</button></div>
    </div>

    <div class="notifications">
      Notifications will go here.
    </div>

  </div>
</div>
