	<footer class="text-center">
	  <ul class="footer-links">
	    <li>&copy; Copyright 2015 Hylo Inc.</li>
	    <li><a href="https://www.hylo.com/about">About</a></li>
	    <li><a href="https://www.hylo.com/blog">Blog</a></li>
	    <li><a href="https://www.hylo.com/invitecode">Sign Up</a></li>
	    <li><a href="https://www.hylo.com/policies/terms-of-service">Terms of Service</a></li>
	  </ul>
	</footer>
</div>