<section id="links-bar">
  <ul>
    <li>
      <a id="company" href="/about">Company</a>
    </li>
    <li>
      <a id="team" href="/about/team">Team</a>
    </li>
    <li>
      <a id="careers" href="/about/careers">Careers</a>
    </li>
    <li>
      <a id="contact" href="/about/contact">Contact</a>
    </li>
  </ul>
</section>

 <script>
  var activeLink = document.getElementById(page);
  activeLink.className += " active";
 </script>