<section id="linksBar">
  <ul>
    <li>
      <a id="company" href="@routes.Application.about">Company</a>
    </li>
    <li>
      <a id="team" href="@routes.Application.team">Team</a>
    </li>
    <li>
      <a id="careers" href="@routes.Application.careers">Careers</a>
    </li>
    <li>
      <a id="contact" href="@routes.Application.contact">Contact</a>
    </li>
  </ul>
</section>

 <script>
  var activeLink = document.getElementById(page);
  activeLink.className += " active";
 </script>