<%- include('_header'); %>

<script> var page = "company"; </script>

<section id="aboutCompany" class="parallax-section about-header" data-stellar-background-ratio="0.5">
  <h1>Make your dreams come true.</h1>
</section>

<%- include('_linksBar'); %>

<section id="hyloDescription" class="parallax-section" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Hylo: Short for hylozoism: (from the Greek hyle, “matter”; zoe, “life”): The philosophical doctrine holding that all matter (including the universe as a whole) is alive and conscious.</h2>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 left-side">
      <h1>What is Hylo?</h1>
    </div>
    <div class="col-md-6 right-side">
      <p>
        We are all part of amazing communities, full of talented potential creators, collaborators, and mentors, but it isn’t clear who has what skills, who is working on what, where you might best use your energy, or where you might be able to go for support when you need it most.
      </p>
      <p>
       That is why we built Hylo – to help you discover the support you need all around you to make your dreams come true.
      </p>
      <p>
        Hylo helps you signal to your community what your skills are, what you’re working on, what you’re looking for, and what you have to offer.
      </p>
      <p>
        For your community, Hylo can serve as both a map of the skills and resources in your community, as well as an aspirational map of “what might be.”
      </p>
      <p>
        When we let others know what it is that we'd like to create, and what we think we need most to make it real, magic happens; we can find resources, support, and allies in the most surprising places.
      </p>
      <p>
        We hope that this simple tool will help you to experience your community as a connected, collaborative, resource-sharing web in which we can support each other in turning our visions into reality.
      </p>
      <p>
        Sincerely,
      </p>
      <p>
        The Hylo Team
      </p>
    </div>
  </div>
</div>

<%- include('../_footer'); %>
