<footer class="text-center">
  <ul class="footer-links">
    <li>&copy; Copyright 2015 Hylo Inc.</li>
    <li><a href="/about">About</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/terms">Terms of Service</a></li>
  </ul>
  Thanks to <a href="https://mixpanel.com/f/partner">Mixpanel</a>
</footer>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
<%- include('../../../bower_components/stellar/jquery.stellar.min.js') %>
</script>

<script>
$(document).ready(function(){
	if (document.documentElement.clientWidth >= 480)
	  $(window).stellar({horizontalOffset: 0});
});

/* Create HTML5 element for IE */
document.createElement("section");
</script>

</body>
</html>
