@intention-color:         #4FB19F;
@offer-color:             #E79336;
@request-color:           #52B065;
@core-color:              @intention-color;
@accent1-color:           @offer-color;
@accent2-color:           @request-color;
@dark-gray:               #444;
@light-gray:              #B3B3B3;
@faint-gray:              #f2f2f2;
@text-dark:               #333332;
@text-medium-dark:        #5b5b5b;
@text-gray:               #808080;
@text-light-gray:         #999;
@link-color:              #388DCB;
@title-color:             #333332;
@tags-bg-color:           #F1F1F1;

@border-light:            #ccc;
@border-medium:           @text-light-gray;
@border-dark:             @text-gray;

@dark-accent:             #E6E6E6;
@core-color-highlighted:  darken(@core-color, 5%);

@meta-font:               "droid-serif",serif;
@body-font:               "droid-serif",serif;

// these are overrides to variables defined in bootstrap/variables.less.
// changes will take effect even if declared after they are used
@brand-success:           @core-color;
@brand-info:              @faint-gray;
@btn-info-color:          @text-gray;
