.rounded-button-style() {
  .proxima-nova-regular;
  font-size: 120%;
  text-decoration: none; //this removes hover effect
  color: @text-dark;
  cursor: pointer;
  border: 1px solid @light-gray;
  border-radius: 15px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0px 20px;
  @media (max-width: @screen-sm-max) {

  }
}

.transform (@rule) {
  transform: @rule;
  -ms-transform: @rule; /* IE 9 */
  -webkit-transform: @rule; /* Safari and Chrome */
}

.blur(@px) {
  filter: blur(@px);
  // Browser Specific
  -webkit-filter: blur(@px);
  -moz-filter: blur(@px);
  -o-filter: blur(@px);
  -ms-filter: blur(@px);
}

.proxima-nova-light() {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
}

.proxima-nova-regular() {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
}

.proxima-nova-semibold() {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
}

.proxima-nova-bold() {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 700;
}

.myriad-semi-italic() {
  font-family: "myriad-pro",sans-serif;
  font-style: italic;
  font-weight: 600;
}

.droid-regular() {
  font-family: "droid-serif",serif;
  font-style: normal;
  font-weight: 400;
}

.border-radius(@px) {
  -moz-border-radius: @px;
  -webkit-border-radius: @px;
  border-radius: @px;
}

.large-header() {
  .proxima-nova-bold;
  font-size: 32px;
}

.seed-meta-text() {
  &, a {
    color: @text-light-gray;
  }

  a:hover {
    color: @link-color;
  }

  .proxima-nova-light;
  font-size: 14px;
}

//text attributes for our seed text styles
.seed-type-text(@color) {
  .proxima-nova-semibold;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: @color;
}

.seed-title-text {
  .proxima-nova-semibold;
  font-size: 18px;
  line-height: 20px;
  color: @title-color;
}

.seed-body-text() {
  .proxima-nova-light;
  font-size: 15px;
  color: @text-gray;
  line-height: 1.25em;
}

.seed-username-text() {
  .seed-meta-text;
  margin-top: 6px;
  text-align: center;
  line-height: 1.4;
  overflow: hidden;
  word-wrap: break-word;
  max-height: 78px;
}

.user-avatar(@size: 60px) {
  @avatar-size: 60px;
  margin: 0 auto;
  float: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: @size;
  width: @size;
  border-radius: @size/2;
}

.user-avatar-lg {
  .user-avatar(140px);
}

.user-avatar-sm {
  .user-avatar(33px);
}

.user-avatar-xs {
  .user-avatar(27px);
}
