@import 'menu.less';
@import 'angular/charLimit';

.spinner {
  width: 35px;
  height: 35px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

//use this class to make an image appear inactive
.inactive-image {
  opacity: 0.5;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

.container-fluid {
  cursor: auto !important;
}

body.angular-app {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

#initializing-panel {
  display: none;
}

body.waiting-for-angular {
  #content-outer {
    display: none;
  }
  #initializing-panel {
    display: block;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    .spinner {
      top: 45%;
      margin: auto auto;
    }
  }
}

@media only screen and (max-width: @screen-xs-max) {
  body, html {
    width: 100%;
    overflow-x: hidden;
  }
}

#content-outer {
  z-index: 100;
  position: relative;
}

.bold {
  font-weight: 700;
}

//set the default dropdown menu width
.dropdown-menu li {
  min-width: 200px;
}

//shared class for rounded button style
.button-rounded, .button-rounded:hover {
  .rounded-button;
}

.button-rounded:hover {
  background-color: @visible-gray-bkg;
}

.button-rounded.circle {
  padding: 0px 8px;
}

textarea.no-border, textarea.no-border:focus, [contenteditable].no-border, [contenteditable].no-border:focus {
  .borderless-text-input;
}
