@import 'menu.less';
@import 'angular/charLimit';

.spinner {
  width: 35px;
  height: 35px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

//use this class to make an image appear inactive
.inactive-image {
  opacity: 0.5;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

.container-fluid {
  cursor: auto !important;
}

body.angular-app {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body.waiting-for-angular div#content-outer {
  display: none;
}

body div#initializing-panel {
  display: none;
}

body.waiting-for-angular div#initializing-panel {
  display: block;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;

  .spinner {
    top: 45%;
    margin: auto auto;
  }
}

@media only screen and (max-width: @screen-xs-max) {
  html {
    width: 100%;
    overflow-x: hidden;
  }
}

body {
  background-color: white;
  font-family: @body-font;
}

.bold {
  font-weight: 700;
}

//set the default dropdown menu width
.dropdown-menu li {
  min-width: 200px;
}

#bg {
  //background-image: url(/assets/images/placeholder-bg.jpg);
  background-size: cover;
  background-position-y: 50%;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index:0;
  // Remove blurring filters since they were not work and causing shadows on chrome.
//  .blur(5px);
//  filter: url(http://d3ngex8q79bk55.cloudfront.net/fonts/blur.svg#blur);
//  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}

.filter-search-icon {
  color: white;
  font-size: 39px;
  float: left;
}

.textfield-search-indicator {
  position: absolute;
  right: 25px;
  top: 12px;
  z-index: 2000;

  &.tsi-button-group {
    top: 5px;
  }

  .spinner {
    width: 20px;
    height: 20px;
  }
}

@bubble-offset: 80px;

.filter-query {
  margin-left: @bubble-offset;
  margin-bottom: 18px;
  .query-input {
  }
}

.filter-buttons {
  margin-left: @bubble-offset;
  margin-bottom: 18px;

  @media (max-width: @screen-xs-max) {
    margin-left: 0;
  }

  .post-type {
    width: 68%;
    margin-right: 2%;
    float: left;
  }
  .post-sort {
    width: 30%;
  }

  .btn {
    border: none;
    color: @text-gray;
    padding: 0;
    font-size: 12px;
    text-align: center;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    height: 24px;
    line-height: 24px;

    @media (max-width: @screen-xs-max) {
      font-size: 10px;
    }

    &.active {
      background-color: @light-gray;
      color: white;
      font-weight: 600;
      box-shadow: none;
      &.intention { border-bottom: 2px solid @intention-color; }
      &.offer { border-bottom: 2px solid @offer-color; }
      &.request { border-bottom: 2px solid @request-color; }
    }
  }
}

.post-type-style (@color) {
  > .controls > .type {
    color: @color;
    .proxima-nova-regular;
  }
  > .triangle {
    border-left: 1px solid @color;
    border-bottom: 1px solid @color;
  }
}

//shared class for rounded button style
.button-rounded, .button-rounded:hover {
  .rounded-button;
}

.button-rounded:hover {
  background-color: @visible-gray-bkg;
}

.button-rounded.circle {
  padding: 0px 8px;
}


.bubble {
  position: relative;
  margin-left: @bubble-offset;
  border-radius: 5px;
  background-color: white;
  word-wrap: break-word;
  border: 1px solid @border-dark;

  strong {
    .proxima-nova-semibold;
  }

  &.intention { .post-type-style(@intention-color); }
  &.request { .post-type-style(@request-color); }
  &.offer { .post-type-style(@offer-color); }
}

textarea.no-border, textarea.no-border:focus {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.add-post {
  margin-bottom: 18px;
  @circle-size: 30px;

  height: @circle-size;

  &.editing {
    height: auto;
  }

  .start-editing {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    text-decoration: none;

    .bubble {
      height: @circle-size;
      line-height: @circle-size;
      color: @text-light-gray;
      padding: 0 30px;
      .post-type-style(@faint-gray);
      .proxima-nova-regular;
    }
    .triangle {
      top: 8px;
    }
  }

  .editor > .bubble {
    > .post-types {
      margin: 0;
      > a {
        padding: 0;
        display: block;
        text-align: center;
        background-color: @faint-gray;
        color: @text-gray;
        height: @circle-size;
        line-height: @circle-size;
        cursor: pointer;
        text-decoration: none;
        .proxima-nova-regular;
        &:first-child { border-top-left-radius: 5px; }
        &:last-child { border-top-right-radius: 5px; }
      }
    }

    .addPostInput {
      padding: 12px 10px;
      font-size: 14px;
    }

    .selected (@color) {
      color: @color;
      background-color: white;
    }

    &.intention .post-types > a.intention { .selected(@intention-color); }
    &.request .post-types > a.request { .selected(@request-color); }
    &.offer .post-types > a.offer { .selected(@offer-color); }

    > form {
      padding: 20px;
      > input[type="text"] {
        margin-bottom: 20px;
      }

      > textarea {
        margin-bottom: 20px;
      }

      > button {
        width: 100%;
        color: white;
      }
      > label {
        display: block;
      }
    }

    &.intention > form > button { background-color: @intention-color; }
    &.request > form > button { background-color: @request-color; }
    &.offer > form > button { background-color: @offer-color; }

    > .triangle {
      top: 8px;
    }
    &.request > .triangle, &.offer > .triangle {
      background-color: @faint-gray;
    }
  }
}

@import "app/hylo_post";

.onboarding-modal {
  h4 {
    .proxima-nova-regular;
    font-size: 30px;
    color: @fulfillColor;
  }

  p {
    .proxima-nova-light;
    font-size: 14px;
    margin: 30px 0px;
    color: #333332
  }

  label {
    .proxima-nova-regular;
    font-size: 14px;
    color: #000;
  }

  .btn-default {
    margin-top: 8px;
    margin-bottom: 14px;
  }
}
