body {
  background-color: @white;
  .proxima-nova-regular;
  font-size: 13px;
  color: @text-dark;
  min-height: 100vh;

  #curtain {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .spinner {
      top: 45%;
      margin: auto auto;
    }
  }
}

body.branch-banner-is-active #nav { top: 76px; }
body.home-page.branch-banner-is-active .navbar-default { top: 76px; }

@media (max-width: @screen-xs-max) {
  body, html {
    width: 100%;
    overflow-x: hidden;
  }

  #intercom-container .intercom-launcher {
    bottom: 10px !important;
    right: 10px !important;
  }
}

*[ng-click] {
  cursor: pointer;
}

.navbar-brand {
  padding: 8px 15px;
}

.icon-hylo-script {
  font-size: 38px;
}

.spinner {
  width: 35px;
  height: 35px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

//use this class to make an image appear inactive
.inactive-image {
  opacity: 0.5;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

.container-fluid {
  cursor: auto !important;
}

// set the default dropdown menu width
.dropdown-menu li {
  min-width: 200px;
}

textarea.no-border, [contenteditable].no-border {
  &, &:focus { .borderless-text-input; }
}

.modal-body {
  .body-text;
}

.modal-footer {
  .button {
    margin-left: 5px;
    &.cancel {
      .rounded-button;
    }
    &.confirm {
      .rounded-button-dark;
    }
  }
}

.modal-backdrop {
  height: 100%;
  position: fixed;
}

.notFound {
  .body-text;
  .simple-page(4);
  padding-top: 16vh;
  background: url(img/homepage/coworkingBg-faint.jpg);
  background-position: top right;
  background-size: 212%;
}

.hylo-definition {
  border-top: 1px solid @border-light;
  margin-top: 8vh;
  padding-top: 4vh;
  a.icon {
    display: block;
    text-decoration: none;
    color: @readable-text;
  }
  .icon-hylo-script {
    display: block;
    text-align: center;
    font-size: 48px;
    margin-bottom: @std-padding;
  }
}

div.error, div.success {
  border-radius: @border-radius-base;
  padding: @std-padding;
  margin-top: @std-padding;
  margin-bottom: @std-padding;
}

div.error {
  background-color: @state-danger-bg;
  color: @error-color;
}

div.success {
  background-color: @state-success-bg;
  color: @alert-success-text;
}

.join-community {
  .button {
    .rounded-button;
  }

  .icon-big-check {
    margin-top: 10px;
  }
}

.modal-content .join-community {
  margin: @std-padding;
}
