
.community {
  .has-banner;

  .tabs.hide-projects a {
    width: 33.33%;

    &:nth-child(2) {
      display: none;
    }
  }
}

.community-seeds {
  .post-context .community {
    display: none;
  }
}

.community-members {

  .toolbar {
    margin-bottom: @std-padding;

    .invite, .search {
      .rounded-button;
    }

    div[loading-indicator] {
      position: absolute;
      right: 5px;
      top: 5px;
      display: inline-block;
      vertical-align: top;
      .spinner {
        width: 20px;
        height: 20px;
      }
    }
  }

  .member-list, .toolbar > div {
    .make-sm-column(6);
    .make-sm-column-offset(3);
  }

}

.community-projects {
  .tab-content > div {
    .make-sm-column(6);
    .make-sm-column-offset(3);
    padding-top: @std-padding;

    .add-new {
      margin-bottom: @std-padding;
    }
  }
}

.community-about-toolbar {
  > div {
    .make-sm-column(6);
    .make-sm-column-offset(3);
  }
  .settings {
    .rounded-button;
  }
}

.core-intention {
  padding-top: @std-padding;
  padding-bottom: @std-padding;
  .make-sm-column(6);
  .make-sm-column-offset(3);
  .seed-body-text;
}

.user-list-item {
  position: relative;

  .avatar {
    .user-avatar;
    position: absolute;
    @media (max-width: @screen-xs-max) {
      .user-avatar-sm;
    }
  }

  .user-info {
    min-height: @avatar-size-default + @std-padding;
    margin-left: @avatar-size-default + @std-padding;
    margin-bottom: @std-padding;
    padding-bottom: @std-padding;
    border-bottom: 1px solid @border-light;
    .name {
      .medium-header;
      .remove-link-display;
      padding-right: @std-padding;
    }
    .social-media {
      > a, > i {
        color: @detail-text;
      }
    }
    .skills, .affiliations, .bio {
      .seed-meta-text;
      .title {
        .proxima-nova-semibold;
        padding-right: @std-padding/2;
      }
      .title, .clickable-links {
        display: inline;
      }
      .clickable-links a {
        &, &:hover {
          color: @text-light-gray;
        }
      }
    }
    @media (max-width: @screen-xs-max) {
      margin-left: @avatar-size-sm + @std-padding;
      margin-right: 5px;
      .name {
        .seed-title-text;
        font-size: 22px;
      }
    }

    .caret-menu {
      .corner-dropdown-menu;
      margin-top: 11px;
      @media (max-width: @screen-xs-max) {
        margin-top: 4px;
      }
    }
  }
}