.comments {
  .loading {
    padding: @std-padding;
  }
  background-color: @faint-gray;
  border-bottom: 1px solid @border-light;

  > .comment {
    margin-bottom: 18px;

    //add padding to top of comments
    &:first-child {
      padding-top: 22px;
    }

    .avatar {
      .user-avatar-sm;
      position: absolute;
      margin-left: 18px;
    }

    .comment-delete {
      a {
        float: right;

        &:hover {
          text-decoration: none;
        }

        .comment-delete-icon {
          color: @border-dark;
          font-size: 12px;
          margin: 5px -25px;

          &:hover {
            color: @link-color;
          }
        }
      }
    }

    .comment-text {
      .seed-body-text;
    }

    .comment-content .controls {
      .seed-meta-text;
      line-height: 1.4;
      padding-top: 6px;
      border-bottom: none;

      a, span {
        color: @text-gray;
        margin: 0;
      }
    }

    .comment-content {
      .add-avatar-margin(@avatar-size-sm+45);
      padding-right: 40px;
      max-width: 100%;
      word-wrap: break-word;
    }
  }

  textarea {
    resize: none;
    -webkit-appearance: none;

  }

  @media (max-width: @screen-xs-max) {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.add-comment {
  background-color: white;
  position: relative;
  padding: 6px 0;
  margin-top: 20px; //gives padding on last post
  .seed-body-text;
  border-right: 1px solid @border-light;
  border-left: 1px solid @border-light;


  .avatar {
    .user-avatar-sm;
    position: absolute;
    margin-left: 17px;
  }

  .comment-input {
    .add-avatar-margin(@avatar-size-sm+45);
    display: block;
    margin-top: 5px;
    min-height: 28px;

    button {
      position: absolute;
      right: 3px;
      bottom: 3px;
    }

    textarea {
      padding: 0;
      width: 80%;
      position: relative;
      top: 3px;
    }
  }

  .empty-comment {
    font-style: italic;
  }

}

//downsize the comment margins on mobile
@media (max-width: @screen-xs-max) {
  .comments > .comment {

    &:first-child {
      padding-top: 12px;
    }

    .avatar {
      .user-avatar-xs;
      position: static;
      float: left;
      margin: 0 8px 8px 8px;

    }
    .comment-content {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0;
      width: 80%;
    }
  }
  .add-comment {
    margin-top: 8px;

    .avatar {
      margin-left: 8px;
      .user-avatar-xs;
    }

    .comment-input {
      margin-left: 42px;
      margin-top: 2px;

      button {
        position: relative;
        margin-top: 12px;
      }
    }
  }
}
