body.community {
  .has-banner(5);

  .network {
    .title-text;
    .proxima-nova-light;
    &, a { color: @white; }
    a {
      text-decoration: underline;
    }
    @media (max-width: @screen-xs-max) {
      margin-top: 4px;
    }
  }
}

.community-posts {
  .post-context .community {
    display: none;
  }
}

.community-members {

  .toolbar {
    margin-bottom: @std-padding;

    .invite, .search {
      .rounded-button;
    }
  }

  .member-list, .toolbar > div {
    .make-sm-column(6);
    .make-sm-column-offset(3);
  }

}

.community-projects {
  .tab-content > div {
    .make-sm-column(6);
    .make-sm-column-offset(3);
    padding-top: @std-padding;

    .add-new {
      margin-bottom: @std-padding;
    }
  }
}

.community-about-toolbar {
  > div {
    .make-sm-column(6);
    .make-sm-column-offset(3);
  }
  .settings {
    .rounded-button;
  }
}

.core-intention {
  padding-top: @std-padding;
  padding-bottom: @std-padding;
  .make-sm-column(6);
  .make-sm-column-offset(3);
  .body-text;
}

.user-list-item {
  position: relative;

  .avatar {
    .user-avatar;
    position: absolute;
    @media (max-width: @screen-xs-max) {
      .user-avatar-sm;
    }
  }

  .moderator-label {
    position: absolute;
    top: 60px;
    .meta-text;
    display: block;
    text-align: center;
  }

  .user-info {
    min-height: @avatar-size-default + @std-padding;
    margin-left: @avatar-size-default + @std-padding;
    margin-bottom: @std-padding;
    padding-bottom: @std-padding;
    border-bottom: 1px solid @border-light;
    .name {
      .medium-header;
      .remove-link-display;
      padding-right: @std-padding;
    }
    .social-media {
      > a, > i {
        color: @detail-text;
      }
    }
    .skills, .affiliations, .bio {
      .meta-text;
      .title {
        .proxima-nova-semibold;
        padding-right: @std-padding/2;
      }
      .title, .clickable-links {
        display: inline;
      }
      .clickable-links a {
        &, &:hover {
          color: @text-light-gray;
        }
      }
    }
    @media (max-width: @screen-xs-max) {
      margin-left: @avatar-size-sm + @std-padding;
      margin-right: 5px;
      .name {
        .title-text;
        font-size: 22px;
      }
    }

    .caret-menu {
      .corner-dropdown-menu;
      margin-top: 11px;
      @media (max-width: @screen-xs-max) {
        margin-top: 4px;
      }
    }
  }
}
