  .followers {
    .seed-body-text();
    color: @text-medium-dark;
    font-size: 13px;
    padding: 15px 0;

    .actionIcon {
      font-size: 16px;
      vertical-align: middle;

      &.icon-complete {
        -ms-animation: pulse 2s infinite ease-in-out;
        -webkit-animation: pulse 2s infinite ease-in-out;
        animation: pulse 2s infinite ease-in-out;
        color: @btn-success-bg;
      }
    }

    a {
      font-weight: 500;
      color: @default-text;
      cursor: pointer;
    }
  }

  .add-followers{

    width: 100%;
    border: 1px solid @border-light;
    margin-top: 3px;
    min-height: 48px;

    .add-label, .add-tags {
      display: table-cell;
    }

    .add-label {
      .seed-body-text();
      font-size: 13px;
      font-weight: 600;
      width: 120px;
      background-color: @visible-gray-bkg;
      color: @text-dark;
      padding: 15px;
      text-align: center;
    }

    .add-tags {
      padding-left: 10px;
      margin: 3px 0 3px 15px;

      .decipher-tags {
        background-color: white;
        border: none;
        padding: 0;
        min-height: 37px;

        .decipher-tags-input {
          background-color: white;
        }

        .icon-remove-inverse, .tag-name  {
          vertical-align: initial;
          top: initial;
        }
      }
    }
  }

  .add-followers-complete {
    height: 30px;
    margin: 10px 0 0;

    .add-followers-btn {
      .rounded-button();
      background-color: initial;
      float: right;
      background-color: @dark-blue;
      color: white;
    }
  }

  .followers-edit {
    padding: 0 10px !important;
    margin-top: 12px;
    position: relative;

    .arrow {
      &,
      &:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
      }
    }

    .arrow {
      border-width: @popover-arrow-outer-width;
    }

    .arrow:after {
      border-width: @popover-arrow-width;
      content: "";
    }

    .arrow {
      left: 16px + @popover-arrow-outer-width;
      margin-left: -@popover-arrow-outer-width;
      border-top-width: 0;
      border-bottom-color: @border-light;
      top: -10px;
      &:after {
        content: " ";
        top: 1px;
        margin-left: -@popover-arrow-width;
        border-top-width: 0;
        border-bottom-color: @tags-bg-color;
      }
    }

    .decipher-tags {

    }

    .typeahead-result {
      .proxima-nova-light;
      strong {
        .proxima-nova-bold;
      }
    }
  }