.help-links {
  color: purple;
  background-color: @visible-gray-bkg;
}

.help {
	.section {
		.section-title {
			font-size: 30px;
			line-height: 2;
			padding-top: @std-padding;
		}

		.question-title {
			font-size: 18px;
			font-weight: 600;
		}
		.answer {
			padding-bottom: @std-padding;
		}

	}
}