/* Global Styles */

@import '../../bower_components/bootstrap/less/bootstrap.less';
@import 'bootstrap/bootstrap-select.less';
@import 'angular/perfect-scrollbar';
@import '_colors.less';
@import '_mixins.less';
@import 'hyloIcons';

// Custom Bootstrap Overrides
.btn {
  .proxima-nova-regular;
}
@headings-font-family:    "proxima-nova",sans-serif;
@jumbotron-padding:              12px;
@jumbotron-bg:                   white;

.jumbotron {
  img {
    width: 100px;
    height: 100px;
    .border-radius(50px);
    margin-bottom: 20px;
  }
  h2,
  .h2 {
    .proxima-nova-bold;
    font-size: 30px;
    line-height: 1;
    margin: 0;
    color: @jumbotron-heading-color;
  }
  .caps-header {
    .proxima-nova-light;
    font-size:15px;
    color: #808080;
    text-transform: uppercase;
    padding-bottom: 20px;
  }
  h3, .h3 {
    .droid-regular;
    margin: 0;
    font-size: 12px;
    color: #808080;
  }
}

// other useful variables

@std-padding: floor(@grid-gutter-width / 2);

// from easings.net
@ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
@ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
@ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

.parallax-section {
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 100px 0;
  background-size: cover !important;
}

@import 'homepage';
@import 'landingpage';
@import 'aboutpage';
@import 'app2';
@import "post";
@import "followers";
@import "comment";
@import "fulfill";
@import 'guiders';
@import 'navbar';
@import 'footer';
@import 'angular/tags';
@import 'angular/angular-growl';
@import 'angular/angular-csp';
@import 'angular/angular-wizard';
@import 'profile_settings';
@import 'user';
@import 'community';
@import 'community_seeds';
@import 'community_settings';
@import 'members';
@import 'search';
@import 'seed_create';
@import 'decipher-tags';

*[ng-click] {
  cursor: pointer;
}

body {
  background-color: white;
  .proxima-nova-regular;
  font-size: 13px;
  color: @text-dark;
}

//search
.row.search {
  padding-top: 20px;
}
