@nav-item-height: 34px;
@nav-vertical-padding: 10px;

#nav {
  @nav-item-count: 5;

  padding: @nav-vertical-padding @std-padding 0;
  height: @nav-item-height + @nav-vertical-padding * 2;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid @border-light;

  [dropdown] {
    position: relative;
    height: 32px;
    vertical-align: top;
    &.open {
      a.button {
        background-color: @light-gray;
      }
      .tooltip {
        display: none !important;
      }
    }
  }

  .dropdown-menu {
    min-width: initial;
    margin-top: @nav-vertical-padding + 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-height: 70vh;
    overflow-y: scroll;

    .disabled {
      color: @inactive-text;
      line-height: 1.4em;
    }

    a {
      line-height: 42px;
      padding: 0 20px;
    }
  }

  a.button {
    .circular-button(@nav-item-height);
    line-height: @nav-item-height;
  }

  .item {
    float: left;
    display: block;
    margin-right: 10px;
  }

  .avatar {
    background-position: center;
    background-size: cover;
  }

  .communities {
    .avatar {
      width: 32px;
      height: 32px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }

    .dropdown-menu a {
      padding-left: 10px;
    }

  }

  .profile {
    float: right;
    margin-right: 0;

    .dropdown-menu {
      left: initial;
      right: 0;
      a {
        line-height: 2*@std-padding;
      }
    }

    .tooltip-inner {
      margin-left: -76px;
    }
  }

  .right {
    float: right;
    .item {
      display: inline-block;
      margin-right: 0;
      margin-left: 10px;
    }
  }

  .tooltip {
    max-width: none;
  }

  .tooltip-inner {
    padding: 6px 10px;
    max-width: none;
  }

  .notifications {
    position: relative;
  }

  .badge {
    @size: 22px;
    background-color: #f00;
    color: white;
    width: @size;
    height: @size;
    line-height: @size;
    border-radius: @size;
    padding: 0;
    position: absolute;
    z-index: 2;
    top: -2px;
    right: -5px;
    font-weight: normal;

    @media (max-width: @screen-xs-max) {
      right: auto;
      left: 50%;
      margin-left: 2px;
    }
  }

  @media (max-width: @screen-xs-max) {
    padding: 10px 0;

    .item {
      width: unit(100/@nav-item-count, vw);
      margin: 0 !important;
      text-align: center;
    }

    .tooltip {
      display: none !important;
    }
  }
}

.nav-title {
  display: block;
  position: absolute;
  top: @nav-vertical-padding;
  left: 50vw;
  margin-left: -30vw;
  width: 60vw;
  text-align: center;
  vertical-align: middle;
  line-height: @nav-item-height;
  .section-title;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &, &:hover {
    text-decoration: none;
  }

  .logo {
    width: @nav-item-height;
    height: @nav-item-height;
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }

  @media (max-width: @screen-xs-max) {
    position: static;
    width: 100%;
    margin-left: 0;
    padding: @std-padding 0;
    text-align: left;
    white-space: initial;
    line-height: initial;

    .logo {
      float: left;
    }

    span {
      display: block;
      overflow: hidden;
      line-height: initial;
    }
  }

}