@import 'mixins/communities';

body.network {
  .has-banner(4);
}

body.network-posts {
  .posts {
    .centered-column(6);
  }
}

body.network-communities {
  .communities-mixin();
}

body.network-members {
  .tab-content {
    .centered-column(6);
    padding-top: @std-padding*2;
    @media (max-width: @screen-xs-max) {
      padding-left: @std-padding;
      padding-right: @std-padding;
    }
  }
}
