.onboarding {
  .full-screen-modal;
  .seed-body-text;
  background: url(img/homepage/coworkingBg-faint.jpg);
  background-position: center;
  background-size: cover;

  #main-container {
    background: transparent;
  }

  .main-content {
    padding: 30px 0;
  }

  .center {
    text-align: center;
  }

  h3, h4 {
    margin-top: 0;
    text-align: center;
    margin-bottom: @std-padding;
  }

  h4 {
    line-height: 1.4;
  }

  a.button {
    .rounded-button;
  }

  .footer {
    margin-top: @std-padding;
  }

  .dot {
    width: 23px;
    height: 23px;
    display: inline-block;
    border-radius: 22px;
    border: 1px solid white;
    margin-right: 5px;
  }
  .intention .dot {
    background-color: @intention-color;
  }
  .offer .dot {
    background-color: @offer-color;
  }
  .request .dot {
    background-color: @request-color;
  }

  .wrapper {
    padding: @std-padding;
    border: 1px solid @border-light;
    margin-bottom: @std-padding;
    background: white;
  }
}

.onboarding-start {

  .logo {
    width: 120px;
    height: 120px;
    background-size: cover;
    display: inline-block;
    margin: @std-padding;

    @media (max-width: @screen-xs-max) {
      width: 100px;
      height: 100px;
    }
  }

  .leader-message {
    border: 1px solid @border-light;
    margin: @std-padding 0;
    padding: @std-padding @std-padding 0;
    background: white;

    img {
      .user-avatar;
      float: left;
      margin: 0 @std-padding @std-padding 0;
    }

    p.message {
      overflow: hidden;
    }
  }
}

// TODO these should go in their own files

.overlay {
  .full-screen-modal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.93);
  padding-top: @std-padding;
  .seed-body-text;

  // for fade-in
  opacity: 0;
  display: none;

  h2 {
    margin-top: 10vh;
  }

  a.button {
    .rounded-button;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &.merkaba {
      background-image: url('img/merkaba-black.png');
      background-size: auto 100%;
      background-position: center -20vh;
      background-repeat: no-repeat;
      opacity: 0.04;
    }
  }

  .wrapper {
    padding: @std-padding;
    border: 1px solid @border-light;
    margin-bottom: @std-padding;
    background: white;
  }

  .main-content {
    padding: 0;
  }

}

#announcer a {
  position: fixed;
  width: 100%;
  padding: @std-padding;
  z-index: 6;
  background-color: @hylo-teal;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  display: none;

  .triangle {
    display: none;
  }

  &.point-to-profile {
    position: absolute;
    margin-top: 58px;
    right: @std-padding;
    width: initial;
    max-width: 50vw;
    border-radius: 4px;

    .triangle {
      display: block;
      position: absolute;
      top: -9px;
      right: 7px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid @hylo-teal;

      @media (max-width: @screen-xs-max) {
        right: 12.5vw;
        margin-right: -(@std-padding + 10px);
      }
    }

    &.scrolling {
      position: fixed;
      margin-top: 12px;
    }
  }
}