.onboarding {
  .full-screen-modal;

  a.button {
    .rounded-button;
  }

  .main-content {
    padding-top: 30px;
  }

  .leader-message {
    padding: @std-padding 0;
    margin-bottom: @std-padding;
    border-top: 1px solid @light-gray;
    border-bottom: 1px solid @light-gray;
    img {
      .user-avatar;
      float: left;
      margin-right: @std-padding;
    }
    div {
      overflow: hidden;
    }
    overflow: hidden;
  }
}

.community-seeds-onboarding .overlay {
  .full-screen-modal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding-top: @std-padding;

  a.button {
    .rounded-button;
  }

}
