.profile {
  .banner {
    .dark-background-gradient;
  }
  .edit {
    .rounded-button-clear;
  }
}

.profile, .editProfile {
  .banner {
    .make-row;
    height: 38.2vh;
    position: relative;

    .background {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -2;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .buttons {
      position: absolute;
      right: 0;
      padding: @std-padding;
      > a {
        margin-left: 5px;
      }
    }

    .banner-content {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .avatar-column {
      .make-sm-column(3);
      text-align: center;

      .avatar {
        .user-avatar-lg;
        position: relative;
        top: -15px;
        margin: 0 auto;
        @media (max-width: @screen-xs-max) {
          .user-avatar();
          position: relative;
          top: 0;
        }
        border: 2px solid white;
      }
    }

    .info-column {
      .make-sm-column(9);
      margin-top: 10px;

      .title {
        .medium-title-text();
        font-size: 24px;
        color: white;
        margin-bottom: 10px;

        @media (max-width: @screen-xs-max) {
          span {
            display: block;
            text-align: center;
          }
        }

      }

      .bio {
        .proxima-nova(100);
        color: @nonactive-text;
        line-height: 1.8;
        @media (max-width: @screen-xs-max) {
          line-height: 1.2;
          margin-bottom: 10px;
        }
      }

      .social-media {
        margin-left: 10px;

        i {
          width: 21px;
          height: 21px;
          text-align: center;
        }

        > i {
          position: relative;
          display: inline-block;
          font-size: 16px;
        }

        .status {
          position: absolute;
          display: block;
          top: -27px;
          left: 0;
          font-size: 10px;
          border-radius: 11px;
          border: 1px solid @border-lightest;
          color: @text-medium-dark;
          background-color: white;
          line-height: 21px;
          padding-left: 2px;
          &.icon-big-check {
            padding-left: 1px;
            color: @hylo-teal;
          }
        }
      }
    }
  }

  .main-content {
    .make-row;
  }

  .sidebar {
    .make-sm-column(3);
    border-right: 1px solid @default-border;

    h3 {
      .small-bold-title-text;
    }

    .tabs {
      .make-row;
      @media (max-width: @screen-xs-max) {
        border: 1px solid @default-border;
        margin-top: 15px;
      }
    }

    .tab {
      .make-xs-column(4);
      .make-sm-column(12);
      display: block;
      text-align: center;
      position: relative;
      text-decoration: none;

      &.selected {
        background-color: @dark-accent;
      }

      h3 {
        // TODO should this go into a mixin?
        @media (max-width: @screen-xs-max) { letter-spacing: 1px; }
        color: @default-text;
      }

      .count {
        border: 1px solid @link-color;
        @size: 50px;
        width: @size;
        height: @size;
        .border-radius(@size/2);
        margin: 10px auto @std-padding;
        text-align: center;
        font-size: 30px;
        font-weight: 100;
        color: @link-color;
        line-height: 50px;
      }
    }

    .user-info-mobile, .user-info {
      text-align: center;
      .list-entry {
        .seed-meta-text();
        line-height: 1.8;
      }
    }

    .user-info-mobile {
      .visible-xs-block;
    }

    .user-info {
      .hidden-xs;
    }
  }

  .tab-content {
    .make-sm-column(8);
    .make-md-column(6);

    .feed-item {
      border-bottom: 1px solid @default-border;
      padding-bottom: @std-padding;
      margin-bottom: @std-padding;

      .summary {
        .seed-meta-text();
        line-height: 1.8;
      }
      .title {
        .seed-title-text();
      }
    }
  }

}