.profile {
  .banner {
    .dark-background-gradient;

    div.buttons {
      @media (max-width: @screen-xs-max) {
        padding-top: 5px;
      }
      a {
        @media (max-width: @screen-xs-max) {.rounded-button;}
        @media (min-width: @screen-sm) {.rounded-button-clear;}
      }
    }

    .banner-content {
      .info-column {
        @media (max-width: @screen-xs-max) {
          margin: 0;

          .name {
            margin: 0;
          }

          .social-media a {
            margin: 0 1px;
          }
        }
      }
    }
  }

  .main-content {
    border-bottom: 1px solid @default-border;
    margin-bottom: @std-padding;
  }
}

.editProfile {
  .banner div.buttons a {
    .rounded-button;
  }
}

.profile, .editProfile {
  .banner {
    .make-row;
    height: 38.2vh;
    position: relative;

    .background {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -2;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .buttons {
      position: absolute;
      right: 0;
      padding: @std-padding;
      > a {
        @media (min-width: @screen-sm) {
          margin-left: 5px;
        }
      }
    }
  }

  .banner-content {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .avatar-column {
    .make-sm-column(3);
    text-align: center;

    .avatar {
      .user-avatar-lg;
      position: relative;
      top: -15px;
      margin: 0 auto;
      @media (max-width: @screen-xs-max) {
        .user-avatar();
        position: relative;
        top: 0;
      }
      border: 2px solid white;
    }
  }

  .info-column {
    .make-sm-column(6);
    margin-top: 10px;

    .name {
      .medium-title-text();
      font-size: 24px;
      color: white;
      margin-bottom: 10px;
    }

    @media (max-width: @screen-xs-max) {
      span {
        display: block;
        text-align: center;
      }
    }

    .bio {
      .proxima-nova(100);
      color: @nonactive-text;
      line-height: 1.8;
      @media (max-width: @screen-xs-max) {
        line-height: 1.2;
        margin-bottom: 10px;
        max-height: 46px;
        overflow: hidden;
      }
    }
  }

  .social-media {
    @media (min-width: @screen-sm) {
      margin-left: 10px;
    }

    > a, > i {
      display: inline-block;
      margin-right: 4px;
      position: relative;
      font-size: 16px;
      color: white;
      text-decoration: none;

      &.message {
        font-size: 13px;
        color: @nonactive-text;
        opacity: .7;

        i {
          color: @nonactive-text;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      @media (max-width: @screen-xs-max) {
        margin: 0 @std-padding/2;
      }
    }

    i {
      width: 21px;
      height: 21px;
      text-align: center;
    }

    .status {
      position: absolute;
      display: block;
      top: -27px;
      left: 0;
      font-size: 10px;
      border-radius: 11px;
      border: 1px solid @border-lightest;
      color: @text-medium-dark;
      background-color: white;
      line-height: 21px;
      &.icon-big-check {
        color: @hylo-teal;
      }
    }
  }

  .main-content {
    .make-row;
  }

  @media (min-width: @screen-sm) {
    .sidebar, .tab-content {
      min-height: 61.5vh !important;
    }
  }

  .sidebar {
    .make-sm-column(3);


    h3 {
      .small-bold-title-text;
    }

    .tabs {
      .make-row;
      @media (max-width: @screen-xs-max) {
        border: 1px solid @default-border;
        margin-top: 15px;
      }
    }

    .tab {
      .make-xs-column(4);
      .make-sm-column(12);
      display: block;
      text-align: center;
      position: relative;
      text-decoration: none;

      &.selected {
        background-color: @dark-accent;
      }

      h3 {
        // TODO should this go into a mixin?
        @media (max-width: @screen-xs-max) { letter-spacing: 1px; }
        color: @default-text;
      }

      .count {
        border: 1px solid @link-color;
        @size: 50px;
        width: @size;
        height: @size;
        .border-radius(@size/2);
        margin: 10px auto @std-padding;
        text-align: center;
        font-size: 30px;
        font-weight: 100;
        color: @link-color;
        line-height: 50px;
      }
    }

    .user-info-mobile, .user-info {
      text-align: center;
      .list-entry {
        .seed-meta-text();
        line-height: 1.8;
      }
    }

    .user-info-mobile {
      .visible-xs-block;
    }

    .user-info {
      .hidden-xs;
    }
  }

  .tab-content {
    .make-sm-column(8);
    .make-md-column(6);

    @media (min-width: @screen-sm) {
      padding-top: @std-padding*2;
      padding-left: @std-padding*3;
      border-left: 1px solid @default-border;
    }

    @media (max-width: @screen-xs-max) {
      padding-top: @std-padding;
    }

    .feed-item {
      border-bottom: 1px solid @default-border;
      padding-bottom: @std-padding+5;
      margin-bottom: @std-padding+5;

      &:last-of-type {
        border-bottom: 0;
      }

      .summary {
        .seed-meta-text();
        line-height: 1.8;

        .seed {
          text-transform: capitalize;
        }
      }
      .title {
        .seed-title-text();
        cursor: pointer;
      }
    }

    .empty-content {
      color: @text-light-gray;
      font-style: italic;
    }

    //hacking post display
    .post {

      @media (max-width: @screen-xs-max) {
        margin: 0;
        margin-top: -15px;
      }
      .user {
        visibility: hidden;
      }

      .post-container {
        margin-left: 0;
        @media (max-width: @screen-xs-max) {
          padding: 0;

          .post-options {
            top: 0;
          }
        }
      }
    }
  }

  .message {
    color: @nonactive-text;
    font-style: italic;
  }
}