.newProject, .editProject {
  margin-bottom: @std-padding*4;

  .simple-page;
  .settings-page;

  .main-content {
    .has-rounded-dropdowns;
  }

  .all-sections > div {
    .setting-item;
  }

  .button {
    .rounded-button;
    &.save {
      .rounded-button-dark;
    }
  }

  .header {
    p {
      font-style: italic;
    }
    .save {
      float: right;
      margin-left: @std-padding;
    }
  }

  .footer {
    text-align: right;
  }

  .details {
    height: 12em;
    overflow-y: auto;
  }

  .media input {
    width: 40%;
    display: inline-block;
  }

  .image-thumbnail {
    float: right;
    border-radius: 4px;
    overflow: hidden;
    img {
      height: 60px;
    }
  }

  .counter {
    float: right;
    .meta-text;
  }

}

body.project {
  h1 {
    .large-header;
  }

  h2 {
    .medium-header;
  }

  h3 {
    .small-header;
  }

  p {
    .body-text;
  }

  .cta-wrapper {
    .make-row;
    background-color: @hylo-teal;
    .body-text;
    color: white;

    a {
      color: white;
      text-decoration: underline;
    }

    h3 {
      margin-top: 0;
    }

    .button {
      .rounded-button-clear;
      float: right;
      margin-left: @std-padding*2;
    }
  }

  .cta {
    .make-sm-column(8);
    .make-sm-column-offset(2);
    padding-top: @std-padding;
    padding-bottom: @std-padding;
  }

  .summary-wrapper {
    .make-row;
    background-color: @faint-gray;
    padding-bottom: @std-padding;
  }

  .summary {
    .make-sm-column(8);
    .make-sm-column-offset(2);
    padding-top: @std-padding;

    h1 {
      margin-top: 0;
    }

    .media {
      width: 100%;
      .fluid-height(61.8%);
      background-size: cover;
      background-position: center;

      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .intention {
      margin-top: 10px;
    }

    .details {
      .body-text;
    }

    .columns {
      .make-row;
    }

    .main-column {
      .make-sm-column(9);
    }

    .side-column {
      .make-sm-column(3);

      h2 {
        margin-top: 0;
      }

      .top-cta {
        margin-bottom: @std-padding;
      }

      ul {
        border-top: 1px solid @border-light;
        padding-top: @std-padding;
        padding-left: 0;

        li {
          list-style-type: none;
          min-height: @avatar-size-sm;
          margin-bottom: @std-padding;
          .meta-text;

          .icon {
            display: block;
            float: left;
            margin-right: 10px;
            .image-div(@avatar-size-sm);

            &.avatar {
              border-radius: @avatar-size-sm;
            }
          }

          div {
            overflow: hidden;
          }
        }
      }
    }
  }

  .button {
    .rounded-button;
  }

  .engage-button {
    .rounded-button-dark(@default-button-height, @link-color);
    margin-bottom: 5px;
  }

  .edit-button {
    .rounded-button;
    float: right;
  }

  .tabs-wrapper {
    .make-row;
    border-bottom: 1px solid @border-light;
  }

  .tabs {
    .make-sm-column(8);
    .make-sm-column-offset(2);
    padding-left: 0;
    margin-bottom: 0;
    display: block;
    text-align: center;
    li {
      cursor: pointer;
      width: 50%;
      list-style-type: none;
      padding-bottom: 10px;
      display: inline-block;
      position: relative;
      &.selected {
        .has-bottom-triangle;
      }

      h2 {
        .strong-title-text;
        margin-bottom: 5px;
      }
    }
  }

  .tab-content-wrapper {
    .make-row;
  }

  .tab-content {
    .make-sm-column(8);
    .make-sm-column-offset(2);
    padding-top: @std-padding;
  }

  .login-signup-modal .modal-content {
    .entrance-page;
    .simple-page(10);
    .make-row;
    padding: @std-padding;

    .all-sections {
      margin-top: 0;
    }
  }
}

.highlight-box() {
  padding: @std-padding;
  background-color: @faint-gray;
  border: 1px solid @border-light;
  border-radius: @border-radius-base;
  margin-bottom: @std-padding*2;

  @media (max-width: @screen-xs-max) {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }
}

body.project.project-posts {
  .add-request-form {
    .highlight-box;
    overflow: hidden;

    h3 {
      margin-top: 0;
    }

    input[type="text"] {
      .body-text;
      margin-bottom: 10px;
    }

    .mentio-editor {
      margin-bottom: 10px;
      min-height: 5em;
    }

    .button {
      .rounded-button-dark;
      float: right;
    }
  }

  .tab-content {
    @media (max-width: @screen-xs-max) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .post {
      .post-without-avatar;

      .post-context {
        .community {
          display: none;
        }
      }

      &.fulfilled {
        .title, .post-type {
          color: @text-light-gray;
        }
      }
    }
  }
}

body.project.project-contributors {
  .tab-content {
    .make-sm-column(6);
    .make-sm-column-offset(3);
  }

  .invite-cta {
    .highlight-box;
    .body-text;
    line-height: @default-button-height;

    .button {
      .rounded-button;
      float: right;
      margin-left: @std-padding;
    }
  }
}

.project-invite {
  .settings-page;
  .full-screen-modal;

  input, tags-input .host, .all-sections > div {
    margin-bottom: @std-padding;
  }

  textarea {
    min-height: 10em;
  }

  tags-input {
    .tag-item {
      margin-left: 0;
      margin-right: 5px;
    }

    .input {
      margin-left: 0;
      padding-left: 0;
    }

    .tags {
      .form-control;
      height: auto;
    }
  }


  .button {
    .rounded-button;
  }

  .footer {
    text-align: right;
  }

  .error ul {
    margin-bottom: 0;
  }

}

.project-settings {
  .settings-page;
  .full-screen-modal;
}