body.search {
  .simple-page(8);

  .search-input {
    .proxima-nova-light;
    .borderless-text-input;
    padding: 0;
    font-size: 40px;
    width: 100%;
    margin-bottom: @std-padding;
    @media (min-width: @screen-sm) {
      margin-top: @std-padding;
    }
  }

  h3 {
    .section-title;
    padding-bottom: @std-padding;
    margin-bottom: @std-padding;
    border-bottom: 1px solid @border-lightest;

    @media (max-width: @screen-xs-max) {
      padding-left: @std-padding;
      padding-right: @std-padding;
    }
  }

  .people {
    .make-sm-column(4);
    .make-sm-column-push(8);

    .avatar {
      .user-avatar-sm;
      float: left;
      margin-right: @std-padding;
    }
    .info {
      overflow: hidden;
    }
    .name {
      .seed-title-text;
    }
    .blurb {
      .seed-meta-text;
    }

  }

  .seeds {
    .make-sm-column(8);
    .make-sm-column-pull(4);

    @media (min-width: @screen-sm) {
      padding-right: @std-padding * 2;
    }
  }

  .people, .seeds {
    @media (max-width: @screen-xs-max) {
      padding: 0;
    }
  }

  .person {
    margin-bottom: @std-padding;

    @media (max-width: @screen-xs-max) {
      padding: 0 15px;
    }
  }

  em.highlight {
    font-weight: bold;
    font-style: normal;
  }

  .load-more {
    display: block;
    text-align: center;
    margin-bottom: @std-padding * 2;
  }

  .no-results {
    @media (max-width: @screen-xs-max) {
      padding-left: @std-padding;
      padding-right: @std-padding;
    }
  }
}