.search {
	.filter-buttons {
		margin: initial;

		.btn-group {
			border: 1px solid @light-gray;
			border-radius: 6px;
		}
	}
}

.typeahead-user {
  padding: 8px 15px;

  .avatar {
    .user-avatar-sm;
    position: initial;
    display: inline-block;
    vertical-align: middle;
  }
  .name {
    .seed-body-text;
    margin-left: 10px;
    line-height: 33px;
    display: inline-block;
  }

  .active {
    .name {
      color: white;
    }
  }
}