.full-screen-modal() {
  .simple-page;

  #content {
    position: relative;
    overflow: visible;
  }

  #nav, #nav-pad {
    display: none;
  }

  #main-container {
    background-color: white;
    @media (max-width: @screen-xs-max) {
      padding: 0;
      overflow-x: hidden;
    }
  }

  nav {
    @nav-height: 64px;
    @nav-height-mobile: 50px;

    border: none;
    border-bottom: 2px solid #DCDCDC;
    background-color: transparent;
    border-radius: 0;
    padding: 0 20px;
    margin: 0 -@std-padding @std-padding !important;
    height: @nav-height;
    line-height: @nav-height;

    @media (max-width: @screen-xs-max) {
      height: @nav-height-mobile;
      line-height: @nav-height-mobile;
      padding: 0 @std-padding;
    }

    .close {
      .big-close;
      position: relative;
      z-index: 2;
      margin-right: -15px;
      margin-top: (@nav-height - 50) / 2;
      padding-right: @std-padding*2;

      @media (max-width: @screen-xs-max) {
        margin-top: 0;
        top: -2px;
      }
    }

    .icon-hylo-script {
      font-size: 50px;
      display: block;
      margin: 7px 0 5px;
      @media (max-width: @screen-xs-max) {
        display: none;
      }
    }

    .navbar-center {
      .section-title;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      text-align: center;
      margin: auto;
      @media (max-width: @screen-xs-max) {
        text-align: left;
        padding-left: @std-padding*2;
        padding-top: 0;
      }
    }
  }

  .all-sections {
    @media (max-width: @screen-xs-max) {
      padding-left: @std-padding * 2;
      padding-right: @std-padding * 2;
    }
  }
}
