.full-screen-modal() {
  #content {
    position: relative;
    z-index: 3;

    > .container-fluid {
      position: fixed;
      overflow-y: auto;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: white;
      @media (max-width: @screen-xs-max) {
        padding: 0;
        overflow-x: hidden;
      }
    }
  }

  nav {
    margin: 0 -@std-padding @std-padding !important;
    height: 64px;

    @media (max-width: @screen-xs-max) {
      height: 50px;

      &.mobile-nav {
        display: none !important;
      }
    }
  }

  .section-label {
    .medium-header;
    padding: @std-padding 0;
    border-bottom: 1px solid @border-light;
    color: @default-text;

    .icon-right, .icon-down {
      float: right;
      margin-top: 13px;
      font-size: 12px;
    }

    @media (max-width: @screen-xs-max) {
      margin: 0 -@std-padding;
      padding: @std-padding;
    }
  }

  .main-content {
    .make-row;

    @media (max-width: @screen-xs-max) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .all-sections {
    .make-sm-column(6);
    .make-sm-column-offset(3);

    > p {
      padding: @std-padding 0;
    }
  }

  .setting-item {
    .make-row;
    padding-top: @std-padding;
    padding-bottom: @std-padding;

    label {
      .seed-title-text;
      display: block;
    }

    input[type=checkbox] {
      .round-checkbox();
    }

    button {
      .rounded-button;

      &.main-action {
        .rounded-button-dark;
      }
    }

    .main-column {
      .make-sm-column(8);
      button {
        margin-top: @std-padding/2;
      }
    }
    .side-column {
      .make-sm-column(4);

      @media (min-width: @screen-sm) {
        text-align: right;
      }
    }
    .full-column {
      .make-sm-column(12);
    }

    .summary {
      .seed-meta-text;
      display: block;
    }
  }

  p {
    .seed-body-text;

    &.help {
      .seed-meta-text;
      a {
        color: @link-color;
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    .navbar-center {
      padding-left: @std-padding*2;
    }
    .navbar-right {
      padding-right: @std-padding*2;
    }
  }
}
