.simple-page(@columns: 6) {
  .all-sections > h1 {
    .section-title;
    margin-top: 0;
    margin-bottom: @std-padding * 2;
    line-height: 18px;
  }

  .main-content {
    .make-row;
  }

  .all-sections {
    .make-sm-column(@columns + 2);
    .make-sm-column-offset((10 - @columns) / 2);
    .make-md-column(@columns);
    .make-md-column-offset((12 - @columns) / 2);

    > p.section {
      padding: @std-padding 0;
    }

    // avoid overlapping the intercom button
    @media (max-width: @screen-xs-max) {
      margin-bottom: 70px;
    }

  }

}