<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="<%= assetUrl('bundle.css') %>" rel="stylesheet">
</head>
<body class="container-fluid">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">

<img width="100" src="img/logotype-teal-transparent.png">
<h1>New Hylo App Available!</h1>
<p style='font-size: 18px;'>
  We just released a new version of the Hylo site, and a new version of the iOS app to go with it.
</p>
<p style='font-size: 18px;'>
  <a href='https://itunes.apple.com/us/app/hylo-community-resource-sharing/id1002185140?ls=1&mt=8'>Please click here to update Hylo in the App Store.</a>
</p>
<p style='font-size: 18px;'>
  If you have any questions, you can reach us at hello@hylo.com. We'd love to hear from you.
</p>

</div>
</div>
</body>
</html>
