/* Styles for the about section, shared across main profile view & edit profile view */
.profile .about, .editProfile .about {

  section {
    margin-bottom: 30px;

    h2 {
      .small-header;
      line-height: 1.8em;
      color: @readable-text;
      margin: 0;

      .help {
        .meta-text;
      }
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: @std-padding;
  }

  li {
    list-style-type: none;
    position: relative;
    padding: 5px 0;
    color: @default-text;
    .close {
      color: @readable-text;
      @media (min-width: @screen-sm) {
        position: absolute;
        top: 4px;
        left: -20px;
      }
    }
  }

  .styled-placeholders(14px);
}

.profile .about {
  section {
    ul {
      li {
        padding: 0;
        &, a, a:hover {
          .body-text;
        }
      }
    }
    .entry {
      .body-text;
    }
  }
}

.editProfile .about {

  input[type="text"] {
    .borderless-text-input;
    width: 100%;
    margin-bottom: @std-padding;
    border-bottom: 1px solid @border-light;
    line-height: 28px;
  }

  textarea {
    .body-text;
    @media (max-width: @screen-xs-max) {
      min-height: 12vh;
    }
  }

}