.editProfile {

  .banner {
    .light-background-gradient;

    .info-column .title {
      color: @default-text;
    }
  }

  .cancel {
    .rounded-button;
  }

  .save {
    .rounded-button-dark;
  }

  textarea {
    .borderless-text-input;
    color: @text-medium-dark;
    height: 3em;
    width: 100%;
  }

}
