<% global.bodyClass = 'about-page'; %>
<%- include('../_header'); %>
<%- include('../_menu'); %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 help-links">
    	topics

    </div>
  </div>
</div>


<%- include('../_footer'); %>