<div class="overlay" fade-if="hideOverlay">
  <div class="main-content">
    <div class="all-sections">
      <h2>Congratulations!</h2>

      <p>You've planted your first seed in {{onboarding.data.community.name}}. You can see it here, on your community's feed. Other members of your community can also see it and comment on it.</p>

      <p>To edit your seed, just click <i class="icon-down" title="icon-down-new"></i> in its upper right corner and select "Edit".</p>

      <p>Scroll down past it to see what other community members are sharing or seeking.</p>

      <div class="center"><a class="button" ng-click="hideOverlay = true">Got it!</a></div>

      <a ng-click="onboarding.goBack()">Back</a>
    </div>
  </div>
</div>