<div class="main-content">
  <div class="all-sections">

    <h2 class="center">Welcome!</h2>

    <div ng-show="conversationStep == 1">
      <div class="wrapper">
        <p>Before you get started, tell us a little about yourself.</p>
        <p>What groups or organizations are you a part of?</p>
        <textarea class="form-control" ng-model="organizations" placeholder="List names, separated by commas"></textarea>
      </div>
      <div class="right">
        <a class="button" ng-click="conversationStep = 2">Next</a>
      </div>
    </div>

    <div ng-show="conversationStep == 2">
      <div class="wrapper">
        <p>Thanks! Are there any skills, passions, or hobbies you'd like to be known for in your community?</p>
        <textarea class="form-control" ng-model="skills" placeholder="List skills, passions, and hobbies, separated by commas"></textarea>
      </div>
      <div class="right">
        <a class="button" ng-click="onboarding.continue({skills: skills, organizations: organizations}); hide()">Next</a>
      </div>
    </div>

    <a ng-click="onboarding.goBack(); hide()" ng-show="onboarding.allowBack">Back</a>
  </div>
</div>
