<div class="overlay" animate-if="hideOverlay" animation="fade-out">
  <div class="main-content">
    <div class="all-sections">
      <h2>This is your profile page.</h2>

      <p>You can see all the seeds you plant here as well. Other members of this community can view this page to learn more about you and how you participate in this community.</p>

      <p>You can customize this page with your personal info, an image, and a banner image. Click the "Edit Profile" button in the upper right to do so.</p>

      <div class="center"><a class="button" ng-click="onboarding.continue(); hideOverlay = true">Got it!</a></div>

      <a ng-click="onboarding.goBack(); hideOverlay = true">Back</a>
    </div>
  </div>
</div>