<div class="main-content">
  <div class="all-sections">
    <h2 class="center">This is your profile page.</h2>

    <div class="wrapper">
      <p>You can see all the seeds you plant here as well. Other members of this community can view this page to learn more about you.</p>

      <p>You can customize your personal information, your profile picture, and more. Click the "Edit Profile" button in the upper right.</p>

    </div>

    <div class="center"><a class="button" ng-click="onboarding.continue(); hide()">Got it!</a></div>

    <a ng-click="onboarding.goBack(); hide()" ng-show="onboarding.allowBack">Back</a>
  </div>
</div>
