<div class="main-content">
  <div class="all-sections">
    <h3>We share our skills, resources, and ideas by creating "seeds".</h3>

    <p>Seeds are visible to everyone in the community. There are three kinds of seeds:</p>

    <h2 class="offer">
      <span class="dot"></span>
      Offer
    </h2>
    <p>Anything you have that you want to share. It could be any thing, service, knowledge, or opportunity, from your professional or personal life.</p>

    <h2 class="request">
      <span class="dot"></span>
      Request
    </h2>
    <p>Something you're looking for--again, any thing, service, knowledge, or opportunity, whether personal or professional.</p>

    <h2 class="intention">
      <span class="dot"></span>
      Intention
    </h2>
    <p>A vision of something you'd like to create, that needs the support of others to become real.</p>

    <div class="center footer">
      <a class="button" ng-click="onboarding.goNext()">Let's see some examples!</a>
    </div>
    <a ng-click="onboarding.goBack()" ng-show="onboarding && onboarding.allowBack">Back</a>
  </div>
</div>
