<div class="main-content">
  <div class="all-sections">

    <div class="center">
      <h3>Welcome to {{onboarding.community.name}}</h3>
      <div class="logo" back-img="::onboarding.community.avatar_url"></div>
      <div class="logo" back-img="'<%= imageUrl('logotype-teal-transparent.png') %>'"></div>
    </div>

    <div class="center">
      <h4>Discover the people, skills, and resources all around you with Hylo. Together, we can create anything we can imagine.</h4>
    </div>

    <div class="leader-message">
      <p>Thank you for joining {{onboarding.community.name}} on Hylo.</p>
      <div class="leader">
        <img ng-src="{{onboarding.community.leader.avatar_url}}"/>
        <div>{{onboarding.community.leader.name}}</div>
      </div>
      <p>“{{onboarding.community.welcome_message}}”</p>
    </div>

    <div class="center">
      <a class="button" ng-click="onboarding.goNext()">Next: What are seeds?</a>
    </div>

  </div>
</div>
