body.home {
  .tabs {
    .make-row;
    border-bottom: 1px solid @border-light;
    line-height: 53px;

    > a {
      display: block;
      .make-xs-column(3);
      .make-md-column(2);
      .strong-title-text;
      text-align: center;
      color: @text-light-gray;

      &:first-child {
        .make-md-column-offset(2);
      }

      .triangle {
        display: none;
      }

      &, &:hover {
        text-decoration: none;
      }

      @media (max-width: @screen-xs-max) {
        .small-title-text;
        padding: @std-padding 0;
        line-height: initial;
        padding-left: 0;
        padding-right: 0;
      }

      &.active {
        position: relative;
        color: @default-text;

        .has-bottom-triangle;
      }
    }
  }

  .tab-content-wrapper {
    .simple-page;
    position: relative;
    padding-top: @std-padding * 2;
  }

  .add-new {
    position: relative;
    top: -@std-padding;
  }

  .post, .welcome-post {
    @media (max-width: @screen-xs-max) {
      margin-left: -@std-padding;
      margin-right: -@std-padding;
    }
  }
}

body.home-allPosts {
  .tab-content-wrapper {
    padding-top: 0;
  }

  .add-new {
    top: 0;
  }

  .posts-toolbar {
    margin-bottom: @std-padding * 2;
    @media (max-width: @screen-xs-max) {
      margin-bottom: @std-padding;
    }
  }
}

.home-myPosts {
  .tab-content {
    .post {
      .post-without-avatar;
    }
  }
}

body.home-simple {
  .tab-content-wrapper {
    .make-sm-column(6);
    .make-sm-column-offset(3);
    padding-top: 0;
  }

  .add-new {
    display: none;
  }

  textarea {
    margin-bottom: 10px;
    min-height: 8em;
  }

  .button {
    .rounded-button;
  }
}
