.notifications {
  .simple-page;

  .buttons {
    @media (min-width: @screen-sm) {
      margin-top: @std-padding;
      text-align: right;
      width: 100%;
    }
    a {
      .rounded-button;
    }
  }

  .notification {
    .make-row;
    margin-bottom: @std-padding;
    padding: @std-padding;
    border-bottom: 1px solid @border-lightest;

    &.unread {
      background-color: fadeout(@link-color, 85%);
    }

    .avatar {
      .user-avatar-sm;
      float: left;
      margin-right: @std-padding;
    }

    .content {
      overflow: hidden;
    }

    .title {
      overflow: hidden;
      padding: 7px 0 @std-padding;
    }

    .body-text {
      .seed-body-text;
      padding: 0 @std-padding 5px;
    }

    .controls {
      color: @text-gray;
      .seed-meta-text;
    }
  }
}