.userSettings {
  .settings-page;

  .change-password, .logout {
    .rounded-button;
  }

  .email {
    .buttons {
      @media (min-width: @screen-sm) {
        text-align: right;
      }
      margin-top: 5px;
      p {
        margin-bottom: 5px;
      }
    }
  }

  .communities {
    a {
      font-size: 15px;
    }
  }

  @media (max-width: @screen-xs-max) {
    .communities label {
      margin-bottom: 0;
    }
    .setting-item .summary {
      margin-bottom: 5px;
    }
  }
}