@import 'bower_components/bootstrap/less/bootstrap';
@import '../shared/colors';

table.communities {
  tr.even {
    background-color: @faint-gray;
  }
  td, th {
    padding: 5px 10px;
  }
  img {
    width: 40px;
    height: 40px;
  }
}