@import 'bower_components/bootstrap/less/bootstrap';
@import '../shared/colors';

ul.horizontal-menu {
  list-style: none;
  padding-left: 0;
  li {
    display: inline-block;
    margin-right: 10px;
    &:before {
      content: '☺';
      padding-right: 10px;
    }
  }
}

.community-card {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid @border-light;
  background-color: @faint-gray;
  padding: 10px;
  img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .text {
    overflow: hidden;
  }
  width: 16vw;
}

.chart.new-users {
  svg {
    min-height: 600px;
  }
}

// remove bars for zeroes
// http://stackoverflow.com/questions/22378785/nvd3-charts-remove-0-value-bars
.nvd3 rect[height="1"] {
  display: none !important;
}
